<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTransformerFeedback</key>
	<string>observerPerParameter</string>
	<key>cardAroundLayer</key>
	<string>pinchableCanvasSize</string>
	<key>controllerDespiteMemento</key>
	<string>entropyWithoutWork</string>
	<key>gridBufferShade</key>
	<string>sliderWithCommand</string>
	<key>integerNearValue</key>
	<string>significantUsageShade</string>
	<key>methodCycleVisible</key>
	<string>requestStateShape</string>
	<key>offsetContainForm</key>
	<string>handlerFrameworkMomentum</string>
	<key>positionedIncludeCommand</key>
	<string>responsiveAspectratioSkewx</string>
	<key>textureThroughObserver</key>
	<string>sessionFromCommand</string>
</dict>
</plist>
