<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSinceParameter</key>
	<string>flexibleFutureType</string>
	<key>curveTempleRight</key>
	<string>injectionThroughForm</string>
	<key>injectionActivityPressure</key>
	<string>widgetShapeState</string>
	<key>listenerEnvironmentRotation</key>
	<string>enabledUnaryRotation</string>
	<key>mapInterpreterFrequency</key>
	<string>blocMethodName</string>
	<key>sessionExceptLayer</key>
	<string>mobxDespiteWork</string>
	<key>specifierFunctionInteraction</key>
	<string>requestWithCommand</string>
	<key>spriteModeVelocity</key>
	<string>reactiveLayoutKind</string>
	<key>temporaryTextValidation</key>
	<string>storyboardCommandContrast</string>
</dict>
</plist>
