<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTempleBottom</key>
	<string>bulletInStrategy</string>
	<key>asyncBeyondProcess</key>
	<string>modelAmongChain</string>
	<key>borderOrPhase</key>
	<string>subsequentAllocatorBound</string>
	<key>brushThroughBridge</key>
	<string>spriteAtMediator</string>
	<key>channelStrategyInset</key>
	<string>nextRectBound</string>
	<key>commonCommandRight</key>
	<string>smallZoneShape</string>
	<key>delegateBeyondChain</key>
	<string>resultUntilContext</string>
	<key>dialogsFunctionMargin</key>
	<string>clipperByBridge</string>
	<key>groupFrameworkDirection</key>
	<string>sophisticatedBrushVisible</string>
	<key>instructionStructureOpacity</key>
	<string>coordinatorNumberHead</string>
</dict>
</plist>
