<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerSincePrototype</key>
	<string>disabledOptimizerStatus</string>
	<key>coordinatorThroughFunction</key>
	<string>missionSinceSingleton</string>
	<key>cubitStyleDelay</key>
	<string>dedicatedBrushEdge</string>
	<key>sineBridgeIndex</key>
	<string>secondFrameState</string>
	<key>storageOrStage</key>
	<string>cellFormLeft</string>
	<key>usageVariableTransparency</key>
	<string>symbolDecoratorColor</string>
	<key>vectorOrPattern</key>
	<string>baselineByMode</string>
</dict>
</plist>
