<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardNibPadding</key>
	<string>cursorAdapterDepth</string>
	<key>notificationLayerScale</key>
	<string>errorStyleTransparency</string>
	<key>opaqueInterpolationDensity</key>
	<string>spotSystemHead</string>
	<key>routeTempleEdge</key>
	<string>offsetPrototypeInteraction</string>
	<key>storePatternPosition</key>
	<string>slashContextTail</string>
</dict>
</plist>
