<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedKernelSkewx</key>
	<string>reducerAboutChain</string>
	<key>advancedNodeTension</key>
	<string>resourcePlatformPressure</string>
	<key>cartesianBehaviorDistance</key>
	<string>viewBridgeFeedback</string>
	<key>commonMatrixShape</key>
	<string>mobxNumberForce</string>
	<key>hashThanLayer</key>
	<string>commandOutsideContext</string>
	<key>invisiblePlaybackMode</key>
	<string>borderLikeMemento</string>
	<key>pointExceptCommand</key>
	<string>containerBeyondBuffer</string>
	<key>staticDurationScale</key>
	<string>navigatorFacadeShade</string>
</dict>
</plist>
