<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorOutsideParam</key>
	<string>toolFromValue</string>
	<key>dedicatedUtilEdge</key>
	<string>accessibleProgressbarVisibility</string>
	<key>dynamicEffectFrequency</key>
	<string>layerShapeHue</string>
	<key>localizationPatternInteraction</key>
	<string>tensorChannelFrequency</string>
	<key>loopAwayPrototype</key>
	<string>crucialWorkflowInteraction</string>
	<key>sizeAgainstAction</key>
	<string>normalSkirtVisibility</string>
	<key>tappableHandlerSize</key>
	<string>blocIncludeFunction</string>
	<key>widgetAroundSingleton</key>
	<string>spotAgainstObserver</string>
</dict>
</plist>
