<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousFrameMomentum</key>
	<string>pointProcessFeedback</string>
	<key>coordinatorVisitorPadding</key>
	<string>curveFromCommand</string>
	<key>ignoredScrollResponse</key>
	<string>enabledTernarySkewx</string>
	<key>interactorObserverTag</key>
	<string>projectActivityScale</string>
	<key>mainThemeTag</key>
	<string>appbarObserverContrast</string>
	<key>permanentPainterContrast</key>
	<string>sophisticatedMethodFormat</string>
</dict>
</plist>
