<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardManagerSpeed</key>
	<string>mediumBuilderStyle</string>
	<key>mediumStateTop</key>
	<string>switchParamShade</string>
	<key>menuPerObserver</key>
	<string>labelAboutSingleton</string>
	<key>newestProgressbarStyle</key>
	<string>labelAmongKind</string>
	<key>newestTopicCount</key>
	<string>adaptiveObserverOrientation</string>
	<key>notificationInsideFacade</key>
	<string>gramTierState</string>
</dict>
</plist>
