<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStyleInset</key>
	<string>projectAlongStage</string>
	<key>mediaqueryAndVisitor</key>
	<string>nodeByShape</string>
	<key>metadataAsStrategy</key>
	<string>injectionBesidePhase</string>
	<key>pointFunctionRight</key>
	<string>alphaAmongFacade</string>
	<key>relationalFutureShade</key>
	<string>usageMethodPosition</string>
</dict>
</plist>
