<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemAndStrategy</key>
	<string>adaptiveTweenPosition</string>
	<key>mediaBesideMemento</key>
	<string>optimizerAtCommand</string>
	<key>permanentMobileDepth</key>
	<string>nativeLayoutDepth</string>
	<key>storyboardThanLayer</key>
	<string>scaffoldBridgeDuration</string>
</dict>
</plist>
