<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitExpandedOffset</key>
	<string>roleProxyValidation</string>
	<key>geometricTextInteraction</key>
	<string>unactivatedBitrateKind</string>
	<key>lossStrategyType</key>
	<string>gramInsideStrategy</string>
	<key>parallelEventSpacing</key>
	<string>taskInsideStrategy</string>
	<key>standaloneFeatureHue</key>
	<string>constraintContainTier</string>
	<key>uniformAnimationHead</key>
	<string>mediaKindFrequency</string>
</dict>
</plist>
