<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocObserverVisible</key>
	<string>slashUntilProcess</string>
	<key>columnOrScope</key>
	<string>capsuleOutsideNumber</string>
	<key>currentSlashSpacing</key>
	<string>cycleObserverMode</string>
	<key>displayableCosineTag</key>
	<string>durationAgainstLayer</string>
	<key>mediumAllocatorInterval</key>
	<string>immutableContainerRate</string>
	<key>subtleButtonHead</key>
	<string>routeTempleRight</string>
</dict>
</plist>
