<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMediaqueryLeft</key>
	<string>roleCommandAlignment</string>
	<key>collectionAwayPhase</key>
	<string>directWidgetTransparency</string>
	<key>commandAlongAction</key>
	<string>disparateOverlayStatus</string>
	<key>configurationTypeVelocity</key>
	<string>nodeLikeKind</string>
	<key>dedicatedLocalizationSpeed</key>
	<string>routeSingletonPressure</string>
	<key>directStoryboardFlags</key>
	<string>enabledSymbolKind</string>
	<key>errorByFacade</key>
	<string>customizedReductionLocation</string>
	<key>isolateInAction</key>
	<string>singleChannelsRight</string>
	<key>ternaryOutsideScope</key>
	<string>specifierBesideWork</string>
	<key>uniqueCursorState</key>
	<string>draggableStampName</string>
</dict>
</plist>
