<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAsOperation</key>
	<string>significantMemberAlignment</string>
	<key>borderProcessKind</key>
	<string>grainValueIndex</string>
	<key>eagerResourcePressure</key>
	<string>gateActivityDepth</string>
	<key>storageTypeTheme</key>
	<string>assetTypeRate</string>
	<key>visibleChartTop</key>
	<string>statelessFormDelay</string>
</dict>
</plist>
