<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonUntilAdapter</key>
	<string>requiredLoopInset</string>
	<key>flexStyleVisible</key>
	<string>decorationFunctionStyle</string>
	<key>mobxStructureDistance</key>
	<string>symbolBeyondChain</string>
	<key>optionBridgePressure</key>
	<string>dynamicHistogramCoord</string>
	<key>persistentHashInterval</key>
	<string>particleKindPosition</string>
	<key>resultLevelType</key>
	<string>lastCapsuleOffset</string>
	<key>specifyAlignmentTag</key>
	<string>utilStyleTag</string>
	<key>utilWithNumber</key>
	<string>methodIncludeMediator</string>
</dict>
</plist>
