<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCompositePadding</key>
	<string>alphaDespiteTemple</string>
	<key>batchPlatformMode</key>
	<string>profileByType</string>
	<key>expandedAroundType</key>
	<string>giftPerTask</string>
	<key>responsiveDelegateFrequency</key>
	<string>discardedAnimationBottom</string>
	<key>subtleCurveShape</key>
	<string>methodMementoDensity</string>
</dict>
</plist>
