<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAsObserver</key>
	<string>routerInterpreterKind</string>
	<key>descriptorNearStrategy</key>
	<string>asyncCompositionAlignment</string>
	<key>fixedQueryInset</key>
	<string>factoryPhaseTop</string>
	<key>matrixByProxy</key>
	<string>draggableTimerInterval</string>
	<key>mediumAnimationForce</key>
	<string>usageStageDistance</string>
	<key>sequentialModelSaturation</key>
	<string>gatePatternSize</string>
	<key>sessionIncludeContext</key>
	<string>notificationWithChain</string>
	<key>transformerLevelRate</key>
	<string>usecaseTaskDistance</string>
</dict>
</plist>
