<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocOutsideShape</key>
	<string>modalOfMode</string>
	<key>commandDecoratorValidation</key>
	<string>alertForMemento</string>
	<key>disparateTransformerCenter</key>
	<string>largeMaterialDelay</string>
	<key>granularResourceScale</key>
	<string>providerAroundFlyweight</string>
	<key>movementAtActivity</key>
	<string>cubitCommandValidation</string>
	<key>routerMementoHead</key>
	<string>alignmentUntilStyle</string>
</dict>
</plist>
