<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateInsideState</key>
	<string>spriteContainMode</string>
	<key>integerKindInterval</key>
	<string>histogramVersusLayer</string>
	<key>listenerFunctionVisibility</key>
	<string>catalystByLayer</string>
	<key>observerKindBorder</key>
	<string>secondDependencyHead</string>
	<key>radiusTempleFrequency</key>
	<string>litePetPosition</string>
	<key>statelessAmongLayer</key>
	<string>enabledZoneCount</string>
	<key>techniqueNearMode</key>
	<string>signSystemBottom</string>
	<key>toolEnvironmentBorder</key>
	<string>imperativeDurationState</string>
</dict>
</plist>
