<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVarMomentum</key>
	<string>streamVersusOperation</string>
	<key>configurationInterpreterScale</key>
	<string>tickerUntilMode</string>
	<key>draggablePainterCoord</key>
	<string>retainedBehaviorVelocity</string>
	<key>gradientTaskMode</key>
	<string>shaderKindAcceleration</string>
	<key>heapEnvironmentBottom</key>
	<string>containerModeShade</string>
	<key>painterViaCommand</key>
	<string>taskCommandSkewx</string>
	<key>prevNotifierType</key>
	<string>factoryCommandDirection</string>
	<key>timerPrototypeDensity</key>
	<string>similarLabelName</string>
</dict>
</plist>
