<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStructureSaturation</key>
	<string>widgetSingletonVelocity</string>
	<key>flexFlyweightPressure</key>
	<string>serviceStyleSkewx</string>
	<key>masterInProcess</key>
	<string>buttonWithForm</string>
	<key>monsterLikeProxy</key>
	<string>subsequentLayoutSpacing</string>
	<key>specifierExceptAdapter</key>
	<string>newestStoryboardOrigin</string>
</dict>
</plist>
