<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicPerJob</key>
	<string>activeSingletonColor</string>
	<key>persistentContainerPosition</key>
	<string>constraintFromSystem</string>
	<key>similarHashResponse</key>
	<string>primaryStateOpacity</string>
	<key>storageMethodFormat</key>
	<string>mediocreEffectMode</string>
	<key>uniformReducerValidation</key>
	<string>responseTaskPadding</string>
</dict>
</plist>
