<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAsActivity</key>
	<string>nextExtensionBottom</string>
	<key>dialogsOrTier</key>
	<string>sophisticatedModelType</string>
	<key>particleBesideChain</key>
	<string>lossFormCoord</string>
	<key>queryIncludeProxy</key>
	<string>widgetKindInset</string>
	<key>responsiveTangentType</key>
	<string>graphProxyFrequency</string>
</dict>
</plist>
