<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionConstraintBottom</key>
	<string>mainChartCenter</string>
	<key>easyCardName</key>
	<string>eventInsideInterpreter</string>
	<key>liteDelegateVisible</key>
	<string>eagerMomentumDensity</string>
	<key>nodeAsMemento</key>
	<string>widgetBridgeRight</string>
	<key>pinchableTextTag</key>
	<string>observerCompositeSkewy</string>
	<key>transitionBufferBound</key>
	<string>previewJobForce</string>
</dict>
</plist>
