<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncConfigurationSize</key>
	<string>secondSignatureBehavior</string>
	<key>containerLevelInset</key>
	<string>documentWorkTop</string>
	<key>ephemeralCapsuleHead</key>
	<string>sceneInsideEnvironment</string>
	<key>particleOrObserver</key>
	<string>transformerStyleDepth</string>
	<key>playbackMethodVelocity</key>
	<string>tensorSwiftValidation</string>
	<key>positionTypeName</key>
	<string>interfaceNumberAcceleration</string>
	<key>rowStrategyCount</key>
	<string>gridTempleBottom</string>
	<key>themeFacadeSkewy</key>
	<string>opaqueResultTint</string>
</dict>
</plist>
