<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncShapeOffset</key>
	<string>logAsContext</string>
	<key>compositionPrototypeTransparency</key>
	<string>statelessMatrixMomentum</string>
	<key>effectLevelRate</key>
	<string>capacitiesModeKind</string>
	<key>equipmentScopeInset</key>
	<string>scrollableGroupSaturation</string>
	<key>labelAtCommand</key>
	<string>webQueueTension</string>
	<key>resourceSingletonAcceleration</key>
	<string>accessoryVarOffset</string>
</dict>
</plist>
