<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInChain</key>
	<string>spriteValueShape</string>
	<key>lazyCompositionBorder</key>
	<string>denseProtocolInteraction</string>
	<key>sampleStageCoord</key>
	<string>movementExceptParameter</string>
	<key>sequentialTweenInteraction</key>
	<string>curvePhaseShape</string>
</dict>
</plist>
