<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBulletTop</key>
	<string>usedHandlerCoord</string>
	<key>brushTaskMode</key>
	<string>primarySubscriptionPressure</string>
	<key>layerModeEdge</key>
	<string>futurePhaseType</string>
	<key>memberFunctionTop</key>
	<string>allocatorPerState</string>
	<key>normInterpreterInteraction</key>
	<string>hashFrameworkVelocity</string>
	<key>resilientExponentDepth</key>
	<string>bufferTierRight</string>
	<key>resizableFramePadding</key>
	<string>logarithmAsParam</string>
	<key>singletonContextKind</key>
	<string>channelAroundType</string>
	<key>storageAlongTier</key>
	<string>bitrateWithoutParam</string>
	<key>sustainableTaskContrast</key>
	<string>synchronousContractionScale</string>
</dict>
</plist>
