<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestTweenAlignment</key>
	<string>optionOrStructure</string>
	<key>positionedVisitorShape</key>
	<string>injectionWithProcess</string>
	<key>resizableInkwellFormat</key>
	<string>dropdownbuttonShapeHue</string>
	<key>widgetViaNumber</key>
	<string>reactiveKernelStyle</string>
</dict>
</plist>
