<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledChapterOrigin</key>
	<string>canvasAlongFlyweight</string>
	<key>gemCompositeIndex</key>
	<string>cycleCompositeAlignment</string>
	<key>gridPerBuffer</key>
	<string>sensorDuringMediator</string>
	<key>notificationJobRate</key>
	<string>gridviewParameterCoord</string>
	<key>significantResolverFlags</key>
	<string>concreteSceneName</string>
	<key>sizeStateDensity</key>
	<string>characterViaForm</string>
	<key>specifierVersusParam</key>
	<string>frameDespiteShape</string>
	<key>tabbarViaFramework</key>
	<string>asynchronousStateTail</string>
	<key>tickerFlyweightOpacity</key>
	<string>draggableControllerBrightness</string>
	<key>transformerAndFramework</key>
	<string>logMementoBorder</string>
</dict>
</plist>
