<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticNavigatorPadding</key>
	<string>petVarName</string>
	<key>compositionalGesturedetectorTag</key>
	<string>arithmeticFromProxy</string>
	<key>delicateCompleterRotation</key>
	<string>responseAwayValue</string>
	<key>getxDuringNumber</key>
	<string>eventBeyondTier</string>
</dict>
</plist>
