<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalControllerShade</key>
	<string>singletonCommandResponse</string>
	<key>imageVersusTask</key>
	<string>delicateSingletonInterval</string>
	<key>interpolationIncludeContext</key>
	<string>taskWithTemple</string>
	<key>logMediatorVisibility</key>
	<string>keyIndicatorMargin</string>
	<key>mutableBufferFormat</key>
	<string>queueForNumber</string>
	<key>overlayFormAppearance</key>
	<string>characterAgainstMemento</string>
	<key>tabviewAroundScope</key>
	<string>boxMethodRight</string>
</dict>
</plist>
