<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryObserverOpacity</key>
	<string>assetCompositeSkewy</string>
	<key>autoConstraintBound</key>
	<string>scaleWorkAlignment</string>
	<key>declarativeCompositionDirection</key>
	<string>loopNearInterpreter</string>
	<key>graphShapeAlignment</key>
	<string>interpolationVariableScale</string>
	<key>stampOfFacade</key>
	<string>materialBridgeSkewx</string>
	<key>storeFormFormat</key>
	<string>seamlessSemanticsShape</string>
</dict>
</plist>
