<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentProcessMomentum</key>
	<string>aspectratioThroughVariable</string>
	<key>cubitDuringTask</key>
	<string>imageFunctionStyle</string>
	<key>normDespiteTemple</key>
	<string>popupInFlyweight</string>
	<key>reductionContainFunction</key>
	<string>semanticsOfCommand</string>
	<key>smallConstraintShade</key>
	<string>typicalNodeVisibility</string>
	<key>stackSinceTemple</key>
	<string>activeStorageResponse</string>
	<key>taskVariableAcceleration</key>
	<string>seamlessHashScale</string>
	<key>textDespiteProcess</key>
	<string>hardTransformerDensity</string>
	<key>touchAgainstProxy</key>
	<string>momentumFormColor</string>
</dict>
</plist>
