<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorForVariable</key>
	<string>temporaryInterfaceTheme</string>
	<key>euclideanSegueDuration</key>
	<string>disparateSkinScale</string>
	<key>invisibleAnimationTransparency</key>
	<string>lossAndChain</string>
	<key>originalCubeBehavior</key>
	<string>resizableCertificateDepth</string>
	<key>responseVersusActivity</key>
	<string>futureByAdapter</string>
	<key>rowWorkVelocity</key>
	<string>screenAsFunction</string>
	<key>sharedSpecifierBottom</key>
	<string>queueInStructure</string>
</dict>
</plist>
