<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorProxyCenter</key>
	<string>animatedCallbackOrigin</string>
	<key>behaviorTaskTail</key>
	<string>constraintUntilStructure</string>
	<key>storeChainColor</key>
	<string>smallUsecaseVisibility</string>
	<key>subsequentMediaqueryVisible</key>
	<string>sortedCommandDistance</string>
	<key>titleBeyondParam</key>
	<string>swiftLikeOperation</string>
	<key>utilMediatorInset</key>
	<string>enabledTextureOffset</string>
	<key>zoneStructureName</key>
	<string>greatServiceTheme</string>
</dict>
</plist>
