<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorBridgeBound</key>
	<string>geometricFrameTension</string>
	<key>eventWithoutMethod</key>
	<string>inkwellAlongVar</string>
	<key>inactiveSemanticsFlags</key>
	<string>stateCommandPosition</string>
	<key>iterativeQueryTail</key>
	<string>injectionOrFramework</string>
	<key>modulusMementoBound</key>
	<string>accessoryAboutBuffer</string>
	<key>oldNormDensity</key>
	<string>interactiveGraphicInset</string>
	<key>positionScopeOpacity</key>
	<string>custompaintOperationEdge</string>
	<key>singleSensorVisibility</key>
	<string>immutableCurveKind</string>
	<key>usageActionDirection</key>
	<string>allocatorJobBottom</string>
	<key>usecaseOutsideNumber</key>
	<string>basePrototypeValidation</string>
</dict>
</plist>
