<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeHashResponse</key>
	<string>prevWidgetSkewx</string>
	<key>blocVersusSingleton</key>
	<string>descriptionWithoutProxy</string>
	<key>diversifiedScrollLeft</key>
	<string>taskForScope</string>
	<key>drawerAwayForm</key>
	<string>interfaceOrComposite</string>
	<key>indicatorAsFunction</key>
	<string>staticSkinKind</string>
	<key>largeFeatureHead</key>
	<string>associatedAccessoryKind</string>
	<key>queryFromCycle</key>
	<string>anchorBesideAction</string>
	<key>specifyRouterStyle</key>
	<string>spinePlatformVelocity</string>
	<key>temporaryBlocTag</key>
	<string>delegateFacadeState</string>
</dict>
</plist>
