<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintAwayMediator</key>
	<string>remainderFormEdge</string>
	<key>indicatorChainCoord</key>
	<string>keyQueueAlignment</string>
	<key>rectOutsideCycle</key>
	<string>checkboxStrategyMode</string>
	<key>spineSincePhase</key>
	<string>remainderPrototypeColor</string>
	<key>spotWithoutFlyweight</key>
	<string>sizeExceptAdapter</string>
	<key>tickerAwayPlatform</key>
	<string>cupertinoNearStructure</string>
</dict>
</plist>
