<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAnimationDistance</key>
	<string>delegateTypeDuration</string>
	<key>controllerThroughBuffer</key>
	<string>textLikeProxy</string>
	<key>descriptionPerMethod</key>
	<string>entropyStrategyRate</string>
	<key>difficultRoleAppearance</key>
	<string>exceptionAmongComposite</string>
	<key>graphTaskSpeed</key>
	<string>challengeThanFunction</string>
	<key>grayscaleThroughWork</key>
	<string>curveMediatorName</string>
	<key>hyperbolicSingletonDistance</key>
	<string>pivotalCustompaintCount</string>
	<key>progressbarUntilPhase</key>
	<string>tabbarExceptFramework</string>
	<key>rowOperationHead</key>
	<string>animationJobOrigin</string>
</dict>
</plist>
