<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasContainVariable</key>
	<string>pinchableMenuTop</string>
	<key>constraintAboutKind</key>
	<string>zoneParamHead</string>
	<key>grainOfProxy</key>
	<string>viewForParameter</string>
	<key>offsetOfSystem</key>
	<string>accessibleIsolateSaturation</string>
	<key>pinchableEntityInteraction</key>
	<string>particleVersusForm</string>
	<key>precisionSingletonColor</key>
	<string>offsetThroughStyle</string>
	<key>resolverAwayAdapter</key>
	<string>responseContextColor</string>
</dict>
</plist>
