<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRepositoryBorder</key>
	<string>queueStyleShade</string>
	<key>configurationUntilBridge</key>
	<string>inheritedConvolutionType</string>
	<key>mutableCurveTop</key>
	<string>lostImageDirection</string>
	<key>similarOperationPadding</key>
	<string>toolDuringPlatform</string>
	<key>skinAboutVisitor</key>
	<string>rowInsideTemple</string>
</dict>
</plist>
