<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleContainerAlignment</key>
	<string>substantialViewDistance</string>
	<key>certificateOrJob</key>
	<string>modelActivityDistance</string>
	<key>controllerActivityFormat</key>
	<string>commandOfFunction</string>
	<key>discardedDescriptionVelocity</key>
	<string>buttonVersusProxy</string>
	<key>draggableStreamPressure</key>
	<string>hierarchicalProviderBehavior</string>
	<key>flexLikeProcess</key>
	<string>scaleThanCommand</string>
	<key>interactorBesideProcess</key>
	<string>similarPositionType</string>
	<key>secondDelegateOrientation</key>
	<string>sliderLikeVisitor</string>
	<key>techniqueDespiteTemple</key>
	<string>accessibleInkwellCount</string>
	<key>utilContextRotation</key>
	<string>metadataInVisitor</string>
</dict>
</plist>
