<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartDuringForm</key>
	<string>columnThanPrototype</string>
	<key>decorationOrParameter</key>
	<string>intensitySinceKind</string>
	<key>logPerOperation</key>
	<string>localizationCommandStatus</string>
	<key>marginWithoutMode</key>
	<string>radiusThanJob</string>
	<key>primaryAnimationAppearance</key>
	<string>graphAtContext</string>
	<key>stampKindCoord</key>
	<string>primaryScaleBehavior</string>
</dict>
</plist>
