<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralStreamSize</key>
	<string>cardCommandSpeed</string>
	<key>imageFlyweightBound</key>
	<string>resizableStoryboardTop</string>
	<key>overlayDecoratorTransparency</key>
	<string>temporaryDrawerType</string>
	<key>riverpodFacadeRight</key>
	<string>storeFacadeTag</string>
</dict>
</plist>
