<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAlongMediator</key>
	<string>routerAdapterDelay</string>
	<key>handlerKindVelocity</key>
	<string>assetInsideContext</string>
	<key>layerInsideCycle</key>
	<string>typicalAccessoryShade</string>
	<key>robustRepositoryCoord</key>
	<string>fixedNotificationSkewx</string>
</dict>
</plist>
