<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachePhaseMargin</key>
	<string>directSubscriptionBehavior</string>
	<key>giftVisitorDuration</key>
	<string>radioAsTier</string>
	<key>mainDescriptorMomentum</key>
	<string>equalizationTaskCoord</string>
	<key>modalProcessSaturation</key>
	<string>hashVariableEdge</string>
	<key>modulusJobVelocity</key>
	<string>frameInterpreterScale</string>
	<key>multiResourceCount</key>
	<string>usedLabelLocation</string>
	<key>radiusKindBehavior</key>
	<string>greatZoneSkewy</string>
	<key>sustainableWidgetScale</key>
	<string>columnInsideShape</string>
	<key>taskDuringTier</key>
	<string>zoneDespiteParameter</string>
	<key>textfieldContainSingleton</key>
	<string>segmentParameterOrigin</string>
</dict>
</plist>
