<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationAmongStage</key>
	<string>delegateStructureRate</string>
	<key>mainMetadataOrientation</key>
	<string>gridviewLikeBuffer</string>
	<key>numericalCanvasVelocity</key>
	<string>observerSystemState</string>
	<key>otherRadiusAcceleration</key>
	<string>advancedSpecifierForce</string>
	<key>queryAlongAction</key>
	<string>handlerStrategyAcceleration</string>
	<key>stampAdapterTint</key>
	<string>storageByEnvironment</string>
	<key>tensorConstraintIndex</key>
	<string>denseResolverDistance</string>
</dict>
</plist>
