<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeScaleSkewx</key>
	<string>statelessAboutStyle</string>
	<key>cellDespitePlatform</key>
	<string>routerIncludeParameter</string>
	<key>diversifiedSpineMargin</key>
	<string>ternaryAgainstMode</string>
	<key>equipmentAwayTask</key>
	<string>textCompositeShape</string>
	<key>instructionPerPrototype</key>
	<string>cartesianButtonCoord</string>
	<key>isolateParameterStyle</key>
	<string>staticPopupFlags</string>
	<key>missedErrorLeft</key>
	<string>numericalCoordinatorTint</string>
	<key>radiusAsType</key>
	<string>relationalTransformerShape</string>
	<key>resultOrPhase</key>
	<string>difficultTransitionEdge</string>
	<key>statelessAroundObserver</key>
	<string>protectedDurationLeft</string>
</dict>
</plist>
