<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardChallengePressure</key>
	<string>sampleParameterDepth</string>
	<key>intensityStyleOffset</key>
	<string>groupForTier</string>
	<key>liteProjectResponse</key>
	<string>criticalTextfieldEdge</string>
	<key>rowDespiteEnvironment</key>
	<string>adaptiveSessionTint</string>
</dict>
</plist>
