<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledNotifierSpeed</key>
	<string>allocatorAdapterOffset</string>
	<key>managerStageState</key>
	<string>decorationBufferRate</string>
	<key>missionViaNumber</key>
	<string>diversifiedCompletionVisible</string>
	<key>projectionFromSingleton</key>
	<string>compositionalSessionMode</string>
	<key>radiusAndFacade</key>
	<string>aspectratioStateDepth</string>
	<key>reactiveLogTop</key>
	<string>publicRowShade</string>
	<key>resilientErrorVisibility</key>
	<string>matrixLayerFlags</string>
	<key>responsiveQueueOpacity</key>
	<string>navigatorWorkTint</string>
	<key>vectorValueVelocity</key>
	<string>layoutValueBehavior</string>
</dict>
</plist>
