<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousEqualizationLocation</key>
	<string>statelessMethodMomentum</string>
	<key>cartesianSampleTension</key>
	<string>inheritedViewOffset</string>
	<key>euclideanTweenSize</key>
	<string>animatedAsyncSize</string>
	<key>mutableGroupColor</key>
	<string>managerSystemFlags</string>
	<key>numericalOffsetForce</key>
	<string>inkwellPatternMomentum</string>
	<key>swiftAroundStage</key>
	<string>tabbarJobFormat</string>
</dict>
</plist>
