<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOfFacade</key>
	<string>blocShapePressure</string>
	<key>constSemanticsBound</key>
	<string>secondIntensityPadding</string>
	<key>constSingletonLeft</key>
	<string>apertureActivityForce</string>
	<key>handlerOperationSpacing</key>
	<string>protocolThanKind</string>
	<key>multiplicationLikeStage</key>
	<string>groupStyleVisible</string>
	<key>playbackFunctionInterval</key>
	<string>greatTweenStatus</string>
	<key>roleViaValue</key>
	<string>cartesianGridviewTransparency</string>
	<key>storageSingletonOrientation</key>
	<string>disparateCompositionSize</string>
</dict>
</plist>
