<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandBesideStage</key>
	<string>interactorVariableOffset</string>
	<key>entityDuringOperation</key>
	<string>sequentialCosineFlags</string>
	<key>frameLikeInterpreter</key>
	<string>tappableEqualizationMomentum</string>
	<key>nodeAmongPhase</key>
	<string>currentActivityRight</string>
	<key>overlayAdapterVelocity</key>
	<string>slashBeyondCycle</string>
	<key>scrollDecoratorMomentum</key>
	<string>consumerVariableKind</string>
	<key>sliderEnvironmentIndex</key>
	<string>textfieldFacadeBehavior</string>
</dict>
</plist>
