<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedPromiseSpeed</key>
	<string>providerFlyweightSaturation</string>
	<key>fixedSegmentLeft</key>
	<string>nodeDespitePattern</string>
	<key>intuitiveControllerRotation</key>
	<string>singleNibSpacing</string>
	<key>queryContainPhase</key>
	<string>consumerPatternCount</string>
	<key>reducerChainEdge</key>
	<string>toolTypeLeft</string>
	<key>scrollAmongParam</key>
	<string>navigationScopeBound</string>
	<key>spriteWithoutStage</key>
	<string>entityIncludeActivity</string>
</dict>
</plist>
