<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicHandlerSize</key>
	<string>adaptiveQueryAcceleration</string>
	<key>hyperbolicPositionDensity</key>
	<string>allocatorContainParam</string>
	<key>materialFacadeVisibility</key>
	<string>aspectShapeLeft</string>
	<key>presenterVarLocation</key>
	<string>staticTweenTop</string>
</dict>
</plist>
