<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredStreamFrequency</key>
	<string>reductionSinceOperation</string>
	<key>lastCommandShade</key>
	<string>axisPhaseShape</string>
	<key>toolAgainstSystem</key>
	<string>factorySinceSingleton</string>
</dict>
</plist>
