<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintPatternScale</key>
	<string>heroDecoratorHead</string>
	<key>listenerTypeColor</key>
	<string>gramAndState</string>
	<key>normOfMode</key>
	<string>coordinatorJobTop</string>
	<key>radiusAdapterBottom</key>
	<string>animatedDurationScale</string>
	<key>reactiveBuilderDensity</key>
	<string>beginnerNibEdge</string>
	<key>symmetricTouchMargin</key>
	<string>temporaryDelegateStatus</string>
</dict>
</plist>
