<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAlongStructure</key>
	<string>localizationFunctionFlags</string>
	<key>bulletValueInterval</key>
	<string>cellBeyondParameter</string>
	<key>controllerInterpreterFlags</key>
	<string>protocolAgainstVariable</string>
	<key>grainVariableStatus</key>
	<string>coordinatorVarCount</string>
	<key>managerParameterKind</key>
	<string>taskMethodScale</string>
	<key>normalDocumentSkewx</key>
	<string>observerActionTransparency</string>
	<key>tensorFutureState</key>
	<string>invisibleStreamShade</string>
	<key>transformerFunctionColor</key>
	<string>observerStateDensity</string>
</dict>
</plist>
