<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVersusBridge</key>
	<string>relationalRequestTension</string>
	<key>draggableParticleTop</key>
	<string>pivotalTitleColor</string>
	<key>graphAtStrategy</key>
	<string>layerInsideKind</string>
	<key>observerNumberOpacity</key>
	<string>hyperbolicTopicInset</string>
	<key>resilientPainterRight</key>
	<string>displayableNavigatorTag</string>
</dict>
</plist>
