<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioVarFeedback</key>
	<string>significantEventAppearance</string>
	<key>descriptionObserverStatus</key>
	<string>sampleKindTransparency</string>
	<key>semanticTernaryLocation</key>
	<string>collectionUntilFlyweight</string>
	<key>tickerSingletonShape</key>
	<string>dependencyWorkEdge</string>
</dict>
</plist>
