<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAroundKind</key>
	<string>mutableModalAlignment</string>
	<key>certificateTaskOrigin</key>
	<string>responseExceptValue</string>
	<key>collectionPatternAppearance</key>
	<string>factoryActivityTension</string>
	<key>directlyCharacterForce</key>
	<string>finalOptimizerBrightness</string>
	<key>offsetBesideObserver</key>
	<string>lastVectorShape</string>
	<key>originalIntensityCount</key>
	<string>widgetWithoutJob</string>
	<key>sophisticatedTabviewDepth</key>
	<string>builderAndMode</string>
</dict>
</plist>
