<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutLayer</key>
	<string>captionBesideFramework</string>
	<key>batchThanAdapter</key>
	<string>resizableEventVelocity</string>
	<key>cachePatternSkewy</key>
	<string>textAgainstSystem</string>
	<key>coordinatorStyleCoord</key>
	<string>presenterWorkFormat</string>
	<key>effectNearOperation</key>
	<string>fusedBuilderVelocity</string>
	<key>managerActivityVisible</key>
	<string>capacitiesContainPhase</string>
	<key>observerThroughPlatform</key>
	<string>scrollDuringStrategy</string>
	<key>rowIncludePhase</key>
	<string>displayableStepAppearance</string>
	<key>scrollableDelegateForce</key>
	<string>interpolationBridgeOffset</string>
	<key>skirtKindTransparency</key>
	<string>cellDespiteMethod</string>
</dict>
</plist>
