<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMethodValidation</key>
	<string>dialogsAsCommand</string>
	<key>cardProxyCenter</key>
	<string>parallelExceptionDepth</string>
	<key>criticalAccessoryFeedback</key>
	<string>chapterFrameworkOffset</string>
	<key>enabledControllerBrightness</key>
	<string>alignmentDuringKind</string>
	<key>injectionOfEnvironment</key>
	<string>routeAroundWork</string>
	<key>popupAroundLevel</key>
	<string>sustainableButtonMargin</string>
	<key>stepLikeForm</key>
	<string>animationModeSkewy</string>
	<key>storageByValue</key>
	<string>iconPerObserver</string>
	<key>substantialTabviewEdge</key>
	<string>completerInsideMethod</string>
</dict>
</plist>
