<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAsPlatform</key>
	<string>prevMatrixDistance</string>
	<key>declarativeGetxTension</key>
	<string>temporaryLayoutRotation</string>
	<key>dialogsScopeMomentum</key>
	<string>alertAgainstTier</string>
	<key>diffableGraphDirection</key>
	<string>alertUntilState</string>
	<key>localizationNearKind</key>
	<string>consumerJobDistance</string>
	<key>swiftDuringMediator</key>
	<string>frameFlyweightHead</string>
</dict>
</plist>
