<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerCoord</key>
	<string>immutableServiceForce</string>
	<key>brushContainTemple</key>
	<string>dedicatedTopicForce</string>
	<key>graphInJob</key>
	<string>featureOutsidePhase</string>
	<key>hyperbolicFutureHue</key>
	<string>giftAmongParameter</string>
	<key>localizationVariableDepth</key>
	<string>graphicAwayState</string>
	<key>mobxAwayMemento</key>
	<string>previewIncludeContext</string>
	<key>optionAmongOperation</key>
	<string>draggableRouterTransparency</string>
	<key>specifierWithoutType</key>
	<string>rapidGestureAppearance</string>
	<key>subpixelObserverOffset</key>
	<string>spriteForSingleton</string>
</dict>
</plist>
