<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerModeTension</key>
	<string>protocolTierSkewy</string>
	<key>delicateCharacterResponse</key>
	<string>completerParamVelocity</string>
	<key>queueLayerScale</key>
	<string>consultativeIconTheme</string>
	<key>resourceOperationAlignment</key>
	<string>directSwiftFlags</string>
	<key>sequentialMasterMargin</key>
	<string>inheritedAllocatorRotation</string>
	<key>transitionAtWork</key>
	<string>tangentBesideObserver</string>
</dict>
</plist>
