<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOperationValidation</key>
	<string>nodeByParam</string>
	<key>commandVisitorDirection</key>
	<string>subscriptionPatternDirection</string>
	<key>extensionAndAction</key>
	<string>queueAlongAdapter</string>
	<key>futureDecoratorMode</key>
	<string>playbackMediatorHue</string>
</dict>
</plist>
