<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoManagerMargin</key>
	<string>delegateAgainstStrategy</string>
	<key>futureFlyweightInset</key>
	<string>associatedRouteSkewy</string>
	<key>profileCommandShade</key>
	<string>referenceUntilMemento</string>
	<key>richtextVersusFunction</key>
	<string>multiplicationLikeVar</string>
	<key>stampAwayWork</key>
	<string>routeInNumber</string>
</dict>
</plist>
