<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalEventBehavior</key>
	<string>stepIncludeMethod</string>
	<key>diversifiedProjectionDuration</key>
	<string>singletonIncludeLevel</string>
	<key>explicitHandlerInteraction</key>
	<string>customizedCacheSaturation</string>
	<key>graphDecoratorIndex</key>
	<string>cartesianTabviewDensity</string>
	<key>layerNumberTint</key>
	<string>disabledAlertDelay</string>
	<key>previewActivityCount</key>
	<string>behaviorTempleSkewx</string>
	<key>storeIncludeParameter</key>
	<string>mediocreScreenAppearance</string>
</dict>
</plist>
