<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCommandCenter</key>
	<string>opaqueEffectShade</string>
	<key>asyncSystemSize</key>
	<string>containerSystemPadding</string>
	<key>consultativeProtocolOrientation</key>
	<string>cellAboutMemento</string>
	<key>popupVariableDistance</key>
	<string>crudeSignatureOrigin</string>
	<key>repositoryForInterpreter</key>
	<string>granularAspectratioCenter</string>
	<key>responseFlyweightPressure</key>
	<string>challengeObserverInteraction</string>
	<key>rowValueDirection</key>
	<string>futureParamSpeed</string>
	<key>statelessResolverSkewy</key>
	<string>effectNearBuffer</string>
</dict>
</plist>
