<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoPerMethod</key>
	<string>gridFlyweightOpacity</string>
	<key>cyclePrototypeBehavior</key>
	<string>numericalGrainSpacing</string>
	<key>dedicatedEquipmentTension</key>
	<string>baselineActionRotation</string>
	<key>fixedZoneSkewx</key>
	<string>concurrentUtilAppearance</string>
	<key>imageOrProcess</key>
	<string>constConstraintTag</string>
	<key>modulusDuringTemple</key>
	<string>secondCommandLocation</string>
	<key>nextCharacterResponse</key>
	<string>threadSystemDelay</string>
	<key>parallelTextOffset</key>
	<string>constEqualizationForce</string>
</dict>
</plist>
