<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionUntilJob</key>
	<string>gateParameterPosition</string>
	<key>methodDuringMediator</key>
	<string>statefulBridgeFrequency</string>
	<key>movementSystemDelay</key>
	<string>methodBesideTemple</string>
	<key>nodeExceptEnvironment</key>
	<string>swiftObserverOffset</string>
	<key>progressbarForStrategy</key>
	<string>discardedInkwellDuration</string>
	<key>topicCommandSkewx</key>
	<string>alertNumberDensity</string>
</dict>
</plist>
