<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorActivitySize</key>
	<string>sessionContainPrototype</string>
	<key>asyncPhaseDepth</key>
	<string>threadBufferFeedback</string>
	<key>bitrateInterpreterBehavior</key>
	<string>configurationFrameworkCenter</string>
	<key>custompaintExceptFramework</key>
	<string>graphicPhaseSpeed</string>
	<key>dialogsChainOffset</key>
	<string>masterAlongVar</string>
	<key>labelParameterColor</key>
	<string>repositoryKindDuration</string>
	<key>persistentPresenterInset</key>
	<string>mobileGridviewMargin</string>
	<key>reducerValueBottom</key>
	<string>modulusWithoutLevel</string>
	<key>skirtCompositeCenter</key>
	<string>durationMediatorMargin</string>
</dict>
</plist>
