<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudePointDelay</key>
	<string>skirtAlongChain</string>
	<key>expandedVariableStatus</key>
	<string>reductionStateOrigin</string>
	<key>projectionVersusProcess</key>
	<string>bufferVarAppearance</string>
	<key>sensorLikeActivity</key>
	<string>cupertinoNearNumber</string>
</dict>
</plist>
