<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFromVar</key>
	<string>inheritedTextEdge</string>
	<key>labelWithProxy</key>
	<string>reusableDependencyTint</string>
	<key>methodAndForm</key>
	<string>offsetThroughStyle</string>
	<key>reactiveAspectDepth</key>
	<string>documentProcessBrightness</string>
	<key>retainedStatelessResponse</key>
	<string>apertureShapeStatus</string>
</dict>
</plist>
