<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEnvironmentForce</key>
	<string>metadataSystemHue</string>
	<key>aspectratioContextOffset</key>
	<string>localizationDuringVar</string>
	<key>awaitOutsideParameter</key>
	<string>fixedCurvePressure</string>
	<key>controllerUntilStyle</key>
	<string>immutableControllerState</string>
	<key>dialogsAlongLayer</key>
	<string>rectOutsideShape</string>
	<key>dropdownbuttonDecoratorBound</key>
	<string>controllerVarTop</string>
	<key>riverpodTempleFeedback</key>
	<string>secondStackHead</string>
	<key>roleChainOrigin</key>
	<string>constGridType</string>
</dict>
</plist>
