<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorOutsideAdapter</key>
	<string>groupContainCommand</string>
	<key>petBesideProxy</key>
	<string>screenByVar</string>
	<key>subsequentContainerHead</key>
	<string>euclideanNormCoord</string>
</dict>
</plist>
