<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directLogarithmSkewx</key>
	<string>greatCommandInteraction</string>
	<key>gesturedetectorFromScope</key>
	<string>reusableGetxAppearance</string>
	<key>immediateGrainDirection</key>
	<string>nodeTypeKind</string>
	<key>instructionSingletonTransparency</key>
	<string>cartesianDurationVisible</string>
	<key>sizeInsideFunction</key>
	<string>intensityMethodName</string>
	<key>stackDuringCycle</key>
	<string>nextLayoutHead</string>
	<key>titleBesideLevel</key>
	<string>hyperbolicGraphicAlignment</string>
</dict>
</plist>
