<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackObserverVisible</key>
	<string>graphWorkStyle</string>
	<key>criticalDecorationIndex</key>
	<string>touchOfAction</string>
	<key>marginAwayParam</key>
	<string>actionScopeSaturation</string>
	<key>resultBeyondParameter</key>
	<string>symbolSingletonBrightness</string>
	<key>semanticSwiftMomentum</key>
	<string>asyncByPlatform</string>
</dict>
</plist>
