<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerTierPadding</key>
	<string>flexibleEquipmentBorder</string>
	<key>flexibleViewSkewy</key>
	<string>resilientReducerStatus</string>
	<key>gridValueOffset</key>
	<string>projectionAroundVar</string>
	<key>indicatorSinceDecorator</key>
	<string>functionalExponentColor</string>
	<key>notifierAroundLevel</key>
	<string>sustainableRemainderDirection</string>
	<key>presenterPhaseOrientation</key>
	<string>typicalGrainInteraction</string>
	<key>similarViewValidation</key>
	<string>missedGrainFrequency</string>
	<key>storyboardInterpreterSpeed</key>
	<string>boxUntilFacade</string>
	<key>temporaryStateHue</key>
	<string>intensityStructureInteraction</string>
	<key>transitionPerTask</key>
	<string>intensityBeyondKind</string>
</dict>
</plist>
