<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAgainstAction</key>
	<string>immediateProtocolBrightness</string>
	<key>arithmeticChainShape</key>
	<string>uniqueInterfaceMode</string>
	<key>autoActionSkewy</key>
	<string>variantBesideSingleton</string>
	<key>coordinatorTierVelocity</key>
	<string>symmetricCallbackScale</string>
	<key>equalizationStructureColor</key>
	<string>euclideanPositionedAcceleration</string>
	<key>immediatePresenterContrast</key>
	<string>textMediatorDistance</string>
	<key>modelLevelLeft</key>
	<string>mediaqueryInsideFlyweight</string>
	<key>queryBufferTint</key>
	<string>associatedSinkOffset</string>
	<key>respectiveCertificateTag</key>
	<string>inactiveMomentumOpacity</string>
	<key>sliderIncludeObserver</key>
	<string>layoutFromMediator</string>
</dict>
</plist>
