<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileHistogramCount</key>
	<string>sceneWithContext</string>
	<key>allocatorBeyondType</key>
	<string>titleDuringSingleton</string>
	<key>behaviorSinceMode</key>
	<string>transitionSystemBorder</string>
	<key>coordinatorStyleStyle</key>
	<string>factoryActivityDirection</string>
	<key>mobileGradientBound</key>
	<string>cardExceptMethod</string>
	<key>positionVariableBound</key>
	<string>explicitUnarySkewx</string>
	<key>profileDespiteWork</key>
	<string>serviceViaMediator</string>
	<key>shaderBridgeMode</key>
	<string>buttonIncludeStyle</string>
	<key>topicPhaseOffset</key>
	<string>themeNearLevel</string>
</dict>
</plist>
