<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithoutTemple</key>
	<string>topicAlongMethod</string>
	<key>awaitOrStage</key>
	<string>asyncViaJob</string>
	<key>cubitParameterPressure</key>
	<string>skirtObserverFlags</string>
	<key>heroFromOperation</key>
	<string>sensorNumberDelay</string>
	<key>intensityViaJob</key>
	<string>actionKindVelocity</string>
	<key>managerValueCenter</key>
	<string>metadataAlongVariable</string>
	<key>offsetAboutFramework</key>
	<string>certificateVariableState</string>
	<key>switchAgainstMemento</key>
	<string>routeFlyweightHead</string>
</dict>
</plist>
