<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparatePlaybackTransparency</key>
	<string>granularAspectColor</string>
	<key>entityOutsideScope</key>
	<string>gateVisitorTop</string>
	<key>logarithmBesideObserver</key>
	<string>completerPerBridge</string>
	<key>parallelDropdownbuttonIndex</key>
	<string>loopAgainstActivity</string>
	<key>pinchableColumnBottom</key>
	<string>channelProcessPressure</string>
	<key>radiusPerActivity</key>
	<string>nativeStorageType</string>
	<key>specifyGradientAppearance</key>
	<string>hierarchicalGradientPressure</string>
	<key>vectorCycleLocation</key>
	<string>presenterFormState</string>
</dict>
</plist>
