<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVarDelay</key>
	<string>viewTaskOrientation</string>
	<key>buttonDespiteFlyweight</key>
	<string>movementOrCommand</string>
	<key>hashSinceFlyweight</key>
	<string>constAnimatedcontainerSize</string>
	<key>listviewVariableAcceleration</key>
	<string>responsivePopupStatus</string>
	<key>primaryMenuRotation</key>
	<string>denseFeatureMomentum</string>
	<key>providerShapeTransparency</key>
	<string>baselineBridgeSpacing</string>
	<key>singletonPatternDensity</key>
	<string>nibOrCommand</string>
	<key>sliderAndMediator</key>
	<string>timerInVisitor</string>
</dict>
</plist>
