<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSliderMargin</key>
	<string>frameFacadeRotation</string>
	<key>compositionBesideVisitor</key>
	<string>asynchronousSegmentOffset</string>
	<key>delicateAnimationType</key>
	<string>desktopActionFeedback</string>
	<key>disparateAllocatorInterval</key>
	<string>precisionPerMethod</string>
	<key>giftSystemBound</key>
	<string>bufferInShape</string>
	<key>lazyMatrixTail</key>
	<string>presenterAndParameter</string>
</dict>
</plist>
