<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonForComposite</key>
	<string>descriptionVariableScale</string>
	<key>consultativeDescriptionScale</key>
	<string>transitionModeTail</string>
	<key>sineFormTheme</key>
	<string>commonChartOrigin</string>
	<key>singleMobileIndex</key>
	<string>materialQueueInteraction</string>
	<key>sinkInsideJob</key>
	<string>iterativeAspectMargin</string>
	<key>storageOperationVelocity</key>
	<string>unactivatedActivityDuration</string>
	<key>substantialEffectDensity</key>
	<string>timerAsAction</string>
</dict>
</plist>
