<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWorkSaturation</key>
	<string>comprehensiveProjectionDelay</string>
	<key>capsuleOrStrategy</key>
	<string>buttonBeyondState</string>
	<key>keyResponseBehavior</key>
	<string>positionedTaskTop</string>
	<key>resultBeyondMethod</key>
	<string>isolateLevelCoord</string>
	<key>secondMissionInset</key>
	<string>easyZoneDistance</string>
	<key>textJobSaturation</key>
	<string>factoryVisitorBound</string>
</dict>
</plist>
