<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStyleState</key>
	<string>tangentOrCommand</string>
	<key>completionBridgeFrequency</key>
	<string>pageviewMementoOrientation</string>
	<key>constraintInBuffer</key>
	<string>storageViaLayer</string>
	<key>containerDuringValue</key>
	<string>aspectratioTierVisible</string>
	<key>coordinatorAboutProcess</key>
	<string>baselineLayerVelocity</string>
	<key>finalRectTheme</key>
	<string>chapterParamFrequency</string>
	<key>modalNearSystem</key>
	<string>animatedcontainerCycleBorder</string>
	<key>providerInContext</key>
	<string>firstCoordinatorEdge</string>
	<key>transitionPrototypeLeft</key>
	<string>cartesianGemVisible</string>
</dict>
</plist>
