<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpriteFeedback</key>
	<string>secondAsyncIndex</string>
	<key>chartAlongAction</key>
	<string>marginSystemColor</string>
	<key>easySpineCenter</key>
	<string>inheritedSizeOrientation</string>
	<key>eventExceptWork</key>
	<string>transformerAwaySystem</string>
	<key>mobileReducerContrast</key>
	<string>plateBeyondChain</string>
	<key>parallelBinaryStyle</key>
	<string>lastModelVisibility</string>
	<key>reducerKindBorder</key>
	<string>menuContextBehavior</string>
	<key>responseScopeAlignment</key>
	<string>workflowScopePressure</string>
	<key>switchVarSkewx</key>
	<string>priorityFlyweightSaturation</string>
</dict>
</plist>
