<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMediatorLocation</key>
	<string>slashPhaseBound</string>
	<key>buttonParameterBorder</key>
	<string>cycleLayerBound</string>
	<key>descriptionWithBuffer</key>
	<string>synchronousTextState</string>
	<key>managerPrototypeAcceleration</key>
	<string>sortedInjectionInterval</string>
	<key>positionedAlongTier</key>
	<string>tabbarFlyweightName</string>
	<key>streamContainDecorator</key>
	<string>allocatorAroundAction</string>
	<key>usageWithStrategy</key>
	<string>mutableResponseValidation</string>
	<key>widgetTierCenter</key>
	<string>statefulFromDecorator</string>
</dict>
</plist>
