<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackJobFlags</key>
	<string>descriptorSingletonInset</string>
	<key>layerViaProxy</key>
	<string>metadataBufferScale</string>
	<key>queueStageShape</key>
	<string>particleAboutTemple</string>
	<key>storyboardExceptOperation</key>
	<string>inactiveExceptionBound</string>
	<key>taskAsFramework</key>
	<string>invisibleSingletonVisible</string>
</dict>
</plist>
