<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardProgressbarTheme</key>
	<string>easyTextureCoord</string>
	<key>consultativeAwaitPadding</key>
	<string>pivotalStoryboardVisible</string>
	<key>coordinatorChainStyle</key>
	<string>mobileForFramework</string>
	<key>dimensionObserverTint</key>
	<string>prevEffectDuration</string>
	<key>euclideanHandlerSpacing</key>
	<string>matrixInsideKind</string>
	<key>gesturedetectorInPattern</key>
	<string>documentActionScale</string>
	<key>opaqueSceneTint</key>
	<string>comprehensiveSliderVisibility</string>
	<key>symbolNearMode</key>
	<string>relationalEntityVisible</string>
</dict>
</plist>
