<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentLoopRate</key>
	<string>radiusOfMediator</string>
	<key>errorLikeEnvironment</key>
	<string>responseActionDirection</string>
	<key>frameViaWork</key>
	<string>delicateLossMomentum</string>
	<key>kernelAmongFlyweight</key>
	<string>independentCollectionInteraction</string>
	<key>petPerJob</key>
	<string>utilCycleOffset</string>
	<key>scaleInterpreterCoord</key>
	<string>rowThanStage</string>
	<key>serviceActivityVisible</key>
	<string>basicWidgetTail</string>
	<key>statefulCanvasSaturation</key>
	<string>routeLevelShape</string>
	<key>subscriptionSingletonVisibility</key>
	<string>graphTaskName</string>
	<key>vectorThanTemple</key>
	<string>mainNavigatorBound</string>
</dict>
</plist>
