<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notifierInsideShape</key>
	<string>unactivatedConstraintRight</string>
	<key>popupNearKind</key>
	<string>interactorMediatorSize</string>
	<key>richtextScopeMargin</key>
	<string>completionBeyondObserver</string>
	<key>sophisticatedRadiusInteraction</key>
	<string>subsequentParticleScale</string>
</dict>
</plist>
