<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderExceptVar</key>
	<string>finalHeapBound</string>
	<key>hyperbolicHistogramScale</key>
	<string>subscriptionIncludeObserver</string>
	<key>materialPatternSpeed</key>
	<string>flexibleConvolutionSpacing</string>
	<key>mediaqueryAroundFlyweight</key>
	<string>animationDecoratorAcceleration</string>
	<key>providerLevelTint</key>
	<string>behaviorOrKind</string>
</dict>
</plist>
