<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStreamTail</key>
	<string>convolutionPatternCenter</string>
	<key>callbackActionOrigin</key>
	<string>interactorSingletonDensity</string>
	<key>captionSystemTension</key>
	<string>missedCertificateState</string>
	<key>disabledLoopMomentum</key>
	<string>decorationForParameter</string>
	<key>fragmentAgainstMemento</key>
	<string>delegateOfObserver</string>
</dict>
</plist>
