<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAdapterOrigin</key>
	<string>popupPlatformContrast</string>
	<key>explicitArithmeticBrightness</key>
	<string>resourceThroughShape</string>
	<key>gesturedetectorCompositeVisibility</key>
	<string>sequentialResolverHead</string>
	<key>mediocreSkinSkewx</key>
	<string>histogramPrototypeSkewy</string>
	<key>notificationKindRight</key>
	<string>zoneSingletonTheme</string>
	<key>unsortedInjectionAlignment</key>
	<string>uniformUsecaseRotation</string>
</dict>
</plist>
