<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorContainAction</key>
	<string>storageJobTop</string>
	<key>radioForStyle</key>
	<string>chartChainBrightness</string>
	<key>shaderOperationCount</key>
	<string>prismaticConstraintOffset</string>
	<key>sliderSinceLayer</key>
	<string>primaryGroupDepth</string>
	<key>transitionChainVisible</key>
	<string>euclideanSinkVisible</string>
	<key>viewWithoutStrategy</key>
	<string>builderSingletonTag</string>
</dict>
</plist>
