<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPhaseDistance</key>
	<string>dimensionByPattern</string>
	<key>cacheLevelBottom</key>
	<string>workflowMethodSpeed</string>
	<key>deferredEntropyVisibility</key>
	<string>parallelCustompaintBorder</string>
	<key>enabledCursorPadding</key>
	<string>graphicTierTransparency</string>
	<key>inactiveTransitionShade</key>
	<string>modulusScopeHead</string>
	<key>mainBoxshadowDelay</key>
	<string>viewDespiteChain</string>
	<key>resourceStateMode</key>
	<string>nodeFacadeStyle</string>
	<key>statelessPageviewAcceleration</key>
	<string>sizeJobInteraction</string>
</dict>
</plist>
