<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorBridgeContrast</key>
	<string>streamStateKind</string>
	<key>lostArithmeticVelocity</key>
	<string>challengeAndShape</string>
	<key>masterStylePadding</key>
	<string>commonListviewType</string>
	<key>reducerObserverInset</key>
	<string>optionAgainstObserver</string>
	<key>referenceStyleMode</key>
	<string>notifierInFacade</string>
	<key>significantMissionBrightness</key>
	<string>sliderProxyLeft</string>
	<key>statelessMetadataBorder</key>
	<string>activityTaskVisibility</string>
	<key>symmetricDimensionTint</key>
	<string>documentNumberAlignment</string>
	<key>textNumberBrightness</key>
	<string>uniqueRowSaturation</string>
</dict>
</plist>
