<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureIncludeJob</key>
	<string>pinchableSignBound</string>
	<key>baselineOperationHead</key>
	<string>animationBeyondState</string>
	<key>batchProxyStatus</key>
	<string>resourceUntilVar</string>
	<key>boxVariableMomentum</key>
	<string>currentInjectionVisible</string>
	<key>bulletLayerLocation</key>
	<string>buttonWithMethod</string>
	<key>convolutionProcessShape</key>
	<string>brushJobResponse</string>
	<key>textVersusSystem</key>
	<string>cubitContextAppearance</string>
	<key>usecaseThanJob</key>
	<string>explicitTextTail</string>
</dict>
</plist>
