<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureViaBuffer</key>
	<string>momentumWithCommand</string>
	<key>localizationExceptSystem</key>
	<string>layerStageCenter</string>
	<key>localizationOfPattern</key>
	<string>documentPhaseStatus</string>
	<key>newestLabelDirection</key>
	<string>descriptorContainStyle</string>
	<key>remainderInterpreterRotation</key>
	<string>resourceExceptObserver</string>
</dict>
</plist>
