<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleImageAppearance</key>
	<string>spotFrameworkShade</string>
	<key>cartesianAlphaAlignment</key>
	<string>groupMediatorMode</string>
	<key>completerChainDirection</key>
	<string>characterNearVisitor</string>
	<key>eventWithoutCommand</key>
	<string>animatedGesturedetectorDelay</string>
	<key>finalScaffoldMode</key>
	<string>sceneAsState</string>
	<key>heapContainTask</key>
	<string>textureVersusLevel</string>
	<key>isolateStyleName</key>
	<string>workflowThanFunction</string>
	<key>lazyTabbarVelocity</key>
	<string>frameVariableDepth</string>
	<key>painterViaFunction</key>
	<string>hardSinkVisible</string>
	<key>vectorThanObserver</key>
	<string>graphicInsideType</string>
</dict>
</plist>
