<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerNumberMargin</key>
	<string>gridviewAlongAdapter</string>
	<key>animationAlongActivity</key>
	<string>missionInsideProcess</string>
	<key>dialogsAboutMethod</key>
	<string>chartInterpreterIndex</string>
	<key>methodPerStructure</key>
	<string>delicateBaselineOpacity</string>
	<key>relationalScreenAlignment</key>
	<string>routerVersusBuffer</string>
	<key>spotAdapterSize</key>
	<string>missionLevelDistance</string>
	<key>variantForKind</key>
	<string>boxThanMode</string>
</dict>
</plist>
