<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryTaskDepth</key>
	<string>viewCycleBound</string>
	<key>progressbarDespiteParam</key>
	<string>momentumAwayFlyweight</string>
	<key>roleActionInteraction</key>
	<string>mobileExtensionInteraction</string>
	<key>tickerInsideType</key>
	<string>storeSinceTemple</string>
</dict>
</plist>
