<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertValueContrast</key>
	<string>storeBeyondShape</string>
	<key>completionAmongWork</key>
	<string>resultThanTemple</string>
	<key>largeConstraintFrequency</key>
	<string>textureOutsideLevel</string>
	<key>mediaThanComposite</key>
	<string>resultForParameter</string>
	<key>navigationDecoratorName</key>
	<string>textMementoShade</string>
	<key>pinchableGestureVelocity</key>
	<string>constraintBufferTransparency</string>
	<key>prismaticSensorAlignment</key>
	<string>comprehensiveEffectContrast</string>
	<key>retainedRouteSkewy</key>
	<string>pinchableReductionColor</string>
	<key>threadVersusForm</key>
	<string>inactiveLoopInterval</string>
	<key>transformerExceptStructure</key>
	<string>widgetScopeShape</string>
</dict>
</plist>
