<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardDelegateContrast</key>
	<string>similarGetxFlags</string>
	<key>graphicBesideVariable</key>
	<string>observerPrototypeLeft</string>
	<key>resolverByActivity</key>
	<string>roleLevelBrightness</string>
</dict>
</plist>
