<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAroundBuffer</key>
	<string>grainTierVisibility</string>
	<key>channelsContainForm</key>
	<string>substantialSizedboxDelay</string>
	<key>difficultAlignmentLeft</key>
	<string>navigatorVariableHue</string>
	<key>effectBesideChain</key>
	<string>dependencyUntilJob</string>
	<key>localCapsuleShade</key>
	<string>sineThanVariable</string>
	<key>prismaticServiceIndex</key>
	<string>particleVariableInterval</string>
</dict>
</plist>
