<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisThanSingleton</key>
	<string>scaffoldForVar</string>
	<key>effectStrategyAlignment</key>
	<string>transformerBeyondPrototype</string>
	<key>histogramInsideSystem</key>
	<string>greatLabelDepth</string>
	<key>mobileVarTension</key>
	<string>graphFormStyle</string>
	<key>nodeOrPrototype</key>
	<string>mobileAdapterShade</string>
	<key>pivotalServiceVisible</key>
	<string>rectByPhase</string>
	<key>singletonSystemBrightness</key>
	<string>responseAgainstStrategy</string>
	<key>sophisticatedAlphaState</key>
	<string>effectAndStructure</string>
</dict>
</plist>
