<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWorkBorder</key>
	<string>featureFunctionSkewx</string>
	<key>columnTempleFormat</key>
	<string>utilAdapterBottom</string>
	<key>composableUsecaseMargin</key>
	<string>cupertinoTransitionKind</string>
	<key>durationUntilStrategy</key>
	<string>taskModeMomentum</string>
	<key>gridviewViaAction</key>
	<string>widgetInsideContext</string>
	<key>responseObserverVisibility</key>
	<string>painterVersusFacade</string>
	<key>responseSystemOffset</key>
	<string>responseViaStrategy</string>
	<key>tabviewLayerValidation</key>
	<string>opaqueMemberTint</string>
</dict>
</plist>
