<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferViaPrototype</key>
	<string>futureChainRotation</string>
	<key>hierarchicalScaffoldColor</key>
	<string>specifyUtilFlags</string>
	<key>keyHeroPressure</key>
	<string>sliderUntilJob</string>
	<key>originalStoryboardForce</key>
	<string>basicServiceBrightness</string>
	<key>taskSystemDirection</key>
	<string>bulletLikeSingleton</string>
</dict>
</plist>
