<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventObserverBottom</key>
	<string>scrollOperationShape</string>
	<key>futureWorkMomentum</key>
	<string>usecaseFacadeTension</string>
	<key>loopAroundBridge</key>
	<string>declarativeLocalizationMargin</string>
	<key>offsetInKind</key>
	<string>optionProcessCenter</string>
	<key>primaryRoleTension</key>
	<string>entityOfPrototype</string>
	<key>signAsChain</key>
	<string>activeGraphPosition</string>
	<key>subsequentMethodSkewx</key>
	<string>queueVersusTier</string>
	<key>ternaryPerInterpreter</key>
	<string>constraintAdapterBound</string>
</dict>
</plist>
