<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushIncludeTier</key>
	<string>sineShapeTransparency</string>
	<key>capacitiesPrototypeCenter</key>
	<string>descriptionFrameworkFormat</string>
	<key>handlerInsideTask</key>
	<string>pinchableDependencyCount</string>
	<key>integerPlatformTail</key>
	<string>nativeModalValidation</string>
	<key>newestModalVisibility</key>
	<string>cursorScopeVisibility</string>
	<key>referenceAroundShape</key>
	<string>radioPrototypeColor</string>
	<key>sliderStructureAlignment</key>
	<string>mobileMethodSpacing</string>
	<key>timerBufferFlags</key>
	<string>subscriptionStageName</string>
	<key>usedApertureInteraction</key>
	<string>threadAsLevel</string>
	<key>widgetStructureOrientation</key>
	<string>asyncNearParam</string>
</dict>
</plist>
