<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directSpriteVelocity</key>
	<string>iterativeGraphBound</string>
	<key>equipmentAwayPlatform</key>
	<string>promiseMediatorRight</string>
	<key>movementAboutProcess</key>
	<string>resourceTypeVisibility</string>
	<key>statelessByJob</key>
	<string>routeStateValidation</string>
</dict>
</plist>
