<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonContainMode</key>
	<string>flexLikeFramework</string>
	<key>channelsStyleCount</key>
	<string>labelCommandCoord</string>
	<key>loopViaComposite</key>
	<string>pivotalActivityBorder</string>
	<key>operationAdapterSkewy</key>
	<string>independentLabelBehavior</string>
	<key>seamlessSpineTheme</key>
	<string>opaqueRadioLeft</string>
	<key>taskUntilForm</key>
	<string>nodeCommandDensity</string>
	<key>transformerSinceStrategy</key>
	<string>widgetSinceMethod</string>
</dict>
</plist>
