<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOrStage</key>
	<string>allocatorBeyondShape</string>
	<key>durationInVar</key>
	<string>imageAmongPattern</string>
	<key>groupPerMethod</key>
	<string>denseDocumentSpeed</string>
	<key>intermediateCompleterInteraction</key>
	<string>mediumEffectBottom</string>
	<key>localAlphaCount</key>
	<string>arithmeticFrameName</string>
	<key>mainBoxshadowBottom</key>
	<string>hashStructurePosition</string>
	<key>progressbarBufferValidation</key>
	<string>directlyTimerBottom</string>
	<key>routeStageInterval</key>
	<string>statefulChartLocation</string>
	<key>similarResolverTint</key>
	<string>tableTypeOrientation</string>
	<key>titleVersusStrategy</key>
	<string>chapterPrototypeSize</string>
</dict>
</plist>
