<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateFromFunction</key>
	<string>stepFrameworkName</string>
	<key>challengeForLevel</key>
	<string>delicatePetHead</string>
	<key>challengeStateAppearance</key>
	<string>disparateHistogramDelay</string>
	<key>channelSingletonMode</key>
	<string>handlerAboutForm</string>
	<key>chartOfAdapter</key>
	<string>injectionWithoutChain</string>
	<key>mediaInsideObserver</key>
	<string>semanticsFrameworkDistance</string>
	<key>positionedFlyweightAppearance</key>
	<string>invisibleBufferAppearance</string>
	<key>prevDocumentOffset</key>
	<string>cupertinoLossDepth</string>
</dict>
</plist>
