<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystInsideChain</key>
	<string>viewStrategyVelocity</string>
	<key>eagerChapterInterval</key>
	<string>sceneFormTop</string>
	<key>equipmentForType</key>
	<string>animatedInteractorFormat</string>
	<key>injectionIncludeProcess</key>
	<string>concreteRectShape</string>
	<key>menuViaLevel</key>
	<string>nativeThreadTheme</string>
	<key>priorStoryboardSize</key>
	<string>equipmentParameterOrientation</string>
	<key>sinkExceptMethod</key>
	<string>curveParameterDuration</string>
	<key>streamStageOrigin</key>
	<string>multiServiceValidation</string>
</dict>
</plist>
