<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitJobBrightness</key>
	<string>desktopGrainStyle</string>
	<key>disabledCubeDirection</key>
	<string>mediocreResolverBehavior</string>
	<key>extensionStageCount</key>
	<string>directKernelAcceleration</string>
	<key>menuWithoutInterpreter</key>
	<string>arithmeticTaskPosition</string>
	<key>notificationMediatorTheme</key>
	<string>consumerAtProxy</string>
	<key>sortedLocalizationCoord</key>
	<string>effectMementoBrightness</string>
	<key>spineNearParam</key>
	<string>responseValueScale</string>
	<key>stateSinceEnvironment</key>
	<string>animationKindIndex</string>
	<key>transitionUntilActivity</key>
	<string>multiInterpolationType</string>
</dict>
</plist>
