<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityActionSkewy</key>
	<string>appbarAlongActivity</string>
	<key>euclideanMarginBound</key>
	<string>textPrototypeStyle</string>
	<key>primaryLayerSkewx</key>
	<string>convolutionFormRate</string>
	<key>stateInterpreterOffset</key>
	<string>reducerAgainstMethod</string>
</dict>
</plist>
