<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedStrategyResponse</key>
	<string>stateCompositeSkewy</string>
	<key>mediocreSubscriptionDirection</key>
	<string>overlayBesideParameter</string>
	<key>protocolInShape</key>
	<string>significantTextRate</string>
	<key>smartCosineFlags</key>
	<string>graphicVariableDuration</string>
</dict>
</plist>
