<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveListenerSaturation</key>
	<string>monsterBesideTier</string>
	<key>difficultIndicatorBottom</key>
	<string>checklistMediatorSaturation</string>
	<key>logarithmExceptPrototype</key>
	<string>modelVarLeft</string>
	<key>normalTextfieldTheme</key>
	<string>radiusShapeSkewy</string>
	<key>sceneAndPattern</key>
	<string>interfaceJobInteraction</string>
</dict>
</plist>
