<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerTypeContrast</key>
	<string>utilOutsideWork</string>
	<key>denseCapacitiesBorder</key>
	<string>lastAlignmentDirection</string>
	<key>missionCommandBound</key>
	<string>spotPerParameter</string>
	<key>previewThanForm</key>
	<string>requiredExponentForce</string>
	<key>queryForFunction</key>
	<string>mediaContainMediator</string>
	<key>requiredTickerOffset</key>
	<string>decorationOrNumber</string>
	<key>workflowAlongOperation</key>
	<string>featureNumberBottom</string>
</dict>
</plist>
