<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoParameterDirection</key>
	<string>interfaceInsideLevel</string>
	<key>nibVarResponse</key>
	<string>methodBeyondVisitor</string>
	<key>normalGroupTension</key>
	<string>compositionalTextVisible</string>
	<key>radioOrOperation</key>
	<string>unactivatedLayoutResponse</string>
	<key>resizableGridRotation</key>
	<string>cosineLayerAppearance</string>
	<key>sliderThroughForm</key>
	<string>timerPlatformHead</string>
</dict>
</plist>
