<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localDurationFormat</key>
	<string>getxNearVisitor</string>
	<key>managerWorkShade</key>
	<string>hardOptionTail</string>
	<key>permanentSinkSpeed</key>
	<string>mediumFrameVelocity</string>
	<key>streamProxyBound</key>
	<string>imageAboutComposite</string>
</dict>
</plist>
