<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStyleFrequency</key>
	<string>buttonVariableTransparency</string>
	<key>boxBeyondFramework</key>
	<string>textureOrProxy</string>
	<key>composableTechniqueTransparency</key>
	<string>customizedGesturedetectorSize</string>
	<key>containerTypePosition</key>
	<string>movementMementoTension</string>
	<key>cycleLayerLeft</key>
	<string>vectorKindMode</string>
	<key>ephemeralCubeForce</key>
	<string>multiTitleTheme</string>
	<key>hashAsLevel</key>
	<string>discardedPositionKind</string>
	<key>relationalRectFormat</key>
	<string>semanticBehaviorMargin</string>
	<key>robustNavigatorFormat</key>
	<string>convolutionCompositeContrast</string>
	<key>uniformDescriptionTop</key>
	<string>robustMenuName</string>
</dict>
</plist>
