<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directQueueOrigin</key>
	<string>instructionDespiteVariable</string>
	<key>eventVersusAction</key>
	<string>containerFormHead</string>
	<key>gestureFunctionBottom</key>
	<string>modelVersusPhase</string>
	<key>methodLevelRotation</key>
	<string>indicatorAlongEnvironment</string>
	<key>queryExceptMediator</key>
	<string>vectorContainVisitor</string>
	<key>sortedSubpixelOpacity</key>
	<string>cubitAgainstPrototype</string>
	<key>storageDuringSystem</key>
	<string>musicIncludeJob</string>
	<key>tabviewIncludeTier</key>
	<string>finalButtonCount</string>
</dict>
</plist>
