<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedPreviewCoord</key>
	<string>screenValueFeedback</string>
	<key>aspectratioFunctionDepth</key>
	<string>resourceForMediator</string>
	<key>builderCommandDirection</key>
	<string>specifierSingletonVelocity</string>
	<key>directRadioHead</key>
	<string>heapModeOffset</string>
	<key>easyConfigurationTheme</key>
	<string>notificationFacadeTag</string>
	<key>effectActivityBound</key>
	<string>routeOutsideStage</string>
	<key>iconProxyInset</key>
	<string>tabviewModeRotation</string>
	<key>modalExceptJob</key>
	<string>interactorCompositeShape</string>
	<key>prismaticGrayscaleType</key>
	<string>asyncAxisPosition</string>
	<key>widgetOperationKind</key>
	<string>logShapeCenter</string>
</dict>
</plist>
