<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartBufferShade</key>
	<string>scaleAtNumber</string>
	<key>gridDuringValue</key>
	<string>globalGridShade</string>
	<key>invisibleGrainRotation</key>
	<string>documentOperationVisibility</string>
	<key>listviewPerMemento</key>
	<string>indicatorTypeCoord</string>
	<key>parallelFutureKind</key>
	<string>chartStageRotation</string>
	<key>richtextSystemDensity</key>
	<string>masterAndProxy</string>
</dict>
</plist>
