<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAmongProxy</key>
	<string>tableDespiteParameter</string>
	<key>fusedChannelsDirection</key>
	<string>cubeIncludeNumber</string>
	<key>gridviewSinceFlyweight</key>
	<string>modulusCompositeMargin</string>
	<key>groupPerTask</key>
	<string>mobileGrainSpeed</string>
	<key>metadataEnvironmentSkewx</key>
	<string>nextBitrateAlignment</string>
	<key>primaryAsyncPosition</key>
	<string>lastConfigurationRate</string>
	<key>sampleAboutScope</key>
	<string>gradientSystemMode</string>
	<key>techniqueThroughSingleton</key>
	<string>flexibleQueryTheme</string>
</dict>
</plist>
