<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionThroughInterpreter</key>
	<string>metadataVisitorDirection</string>
	<key>draggableRepositoryKind</key>
	<string>eventCycleDuration</string>
	<key>dropdownbuttonVarState</key>
	<string>configurationOperationFrequency</string>
	<key>expandedIncludeComposite</key>
	<string>stepAsPattern</string>
	<key>managerBeyondWork</key>
	<string>rectPrototypeDirection</string>
	<key>presenterStrategyRate</key>
	<string>unactivatedPopupKind</string>
	<key>previewNumberVisibility</key>
	<string>providerLikeCycle</string>
	<key>widgetThroughPlatform</key>
	<string>easyRoleCoord</string>
</dict>
</plist>
