<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEntropyBehavior</key>
	<string>methodPlatformPadding</string>
	<key>decorationCommandAppearance</key>
	<string>promiseAsSystem</string>
	<key>fusedChapterHead</key>
	<string>opaqueLabelInteraction</string>
	<key>granularObserverDirection</key>
	<string>textThanMode</string>
	<key>hashThanSingleton</key>
	<string>overlayAsProcess</string>
	<key>immutableLayoutBound</key>
	<string>frameAsParameter</string>
	<key>platePhaseMode</key>
	<string>sequentialEffectSpeed</string>
	<key>prismaticCommandMargin</key>
	<string>mediumTextOrigin</string>
	<key>repositoryTierTop</key>
	<string>columnAndTier</string>
</dict>
</plist>
