<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRouteCount</key>
	<string>easyDimensionTag</string>
	<key>dynamicNodeValidation</key>
	<string>specifierParamLeft</string>
	<key>masterBridgeInteraction</key>
	<string>crucialLayoutDensity</string>
	<key>respectiveEventCoord</key>
	<string>localizationAsKind</string>
</dict>
</plist>
