<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferCompositeVelocity</key>
	<string>curvePhaseMargin</string>
	<key>bufferTierMomentum</key>
	<string>musicParameterName</string>
	<key>collectionPrototypeFeedback</key>
	<string>customImageAppearance</string>
	<key>durationWorkInset</key>
	<string>invisibleReducerFeedback</string>
	<key>eagerLayoutIndex</key>
	<string>titleFunctionMode</string>
	<key>queryPlatformDensity</key>
	<string>nibWithoutEnvironment</string>
	<key>requestForComposite</key>
	<string>fusedTopicName</string>
	<key>sliderContainSystem</key>
	<string>futureAboutProcess</string>
	<key>webSwiftBehavior</key>
	<string>capsuleOutsideKind</string>
</dict>
</plist>
