<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanParam</key>
	<string>consumerThroughFramework</string>
	<key>constraintFlyweightSkewy</key>
	<string>canvasAgainstCommand</string>
	<key>consumerAsStructure</key>
	<string>containerDuringOperation</string>
	<key>coordinatorFormCoord</key>
	<string>publicCertificateSpeed</string>
	<key>graphInsideTemple</key>
	<string>giftEnvironmentValidation</string>
	<key>interfacePatternBorder</key>
	<string>scrollOperationValidation</string>
	<key>requestUntilPattern</key>
	<string>animationContextSize</string>
	<key>sortedStreamContrast</key>
	<string>providerShapeLocation</string>
</dict>
</plist>
