<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryViaKind</key>
	<string>alphaVersusState</string>
	<key>boxSinceFlyweight</key>
	<string>subscriptionFrameworkContrast</string>
	<key>effectByStructure</key>
	<string>localizationScopeStyle</string>
	<key>gramPerType</key>
	<string>tweenAndMode</string>
	<key>navigatorTempleBound</key>
	<string>routePatternHead</string>
	<key>responseWithoutMethod</key>
	<string>accordionGradientName</string>
	<key>themeExceptCommand</key>
	<string>sequentialRoleBehavior</string>
</dict>
</plist>
