<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalEffectShade</key>
	<string>configurationContextMargin</string>
	<key>customTabviewTint</key>
	<string>routerAwayWork</string>
	<key>oldPresenterSkewx</key>
	<string>positionContainFramework</string>
	<key>reactiveCompleterSkewy</key>
	<string>usageIncludeContext</string>
	<key>sharedCosineDensity</key>
	<string>channelsOutsidePlatform</string>
	<key>sizedboxJobBottom</key>
	<string>singletonPlatformContrast</string>
</dict>
</plist>
