<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAboutCycle</key>
	<string>heroBeyondContext</string>
	<key>resolverOperationSize</key>
	<string>crudeCoordinatorMargin</string>
	<key>uniformAppbarTail</key>
	<string>desktopFactoryOrigin</string>
</dict>
</plist>
