<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitJobColor</key>
	<string>futureAgainstPrototype</string>
	<key>firstBinarySpeed</key>
	<string>custompaintStrategyDuration</string>
	<key>layoutProxyOrientation</key>
	<string>textureNearStyle</string>
	<key>nativeStorageOffset</key>
	<string>hierarchicalFeatureCoord</string>
</dict>
</plist>
