<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveScenePosition</key>
	<string>persistentTransformerSaturation</string>
	<key>observerPatternDelay</key>
	<string>discardedParticleOrientation</string>
	<key>queryViaWork</key>
	<string>sinkAgainstContext</string>
	<key>sensorInMethod</key>
	<string>previewParamBottom</string>
	<key>titleVariableMode</key>
	<string>characterSingletonTag</string>
	<key>topicFrameworkAcceleration</key>
	<string>offsetThanState</string>
</dict>
</plist>
