<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCycleMomentum</key>
	<string>tensorDescriptorEdge</string>
	<key>bufferThanLevel</key>
	<string>groupAdapterDistance</string>
	<key>collectionOutsideStyle</key>
	<string>arithmeticNearContext</string>
	<key>decorationPatternDirection</key>
	<string>equipmentDespiteTask</string>
	<key>disabledExceptionHead</key>
	<string>equipmentDespitePlatform</string>
	<key>injectionVarTint</key>
	<string>popupCommandInterval</string>
	<key>notifierUntilShape</key>
	<string>scalePerType</string>
	<key>resultAroundContext</key>
	<string>methodContainStage</string>
	<key>slashLikeObserver</key>
	<string>resourcePhaseSpeed</string>
	<key>touchChainHead</key>
	<string>delegateAsFramework</string>
</dict>
</plist>
