<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorAboutMethod</key>
	<string>presenterStyleValidation</string>
	<key>exceptionAndFramework</key>
	<string>localViewEdge</string>
	<key>heroLayerShape</key>
	<string>compositionalGesturedetectorStyle</string>
	<key>listviewAwayInterpreter</key>
	<string>explicitCanvasMargin</string>
	<key>mobxModeBehavior</key>
	<string>greatBlocIndex</string>
	<key>reducerFromStyle</key>
	<string>stackAwayMemento</string>
	<key>rowPatternRight</key>
	<string>storeScopeAlignment</string>
	<key>sizeThanCommand</key>
	<string>timerFunctionOffset</string>
	<key>standaloneDocumentMode</key>
	<string>tensorBorderColor</string>
</dict>
</plist>
