<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushCommandValidation</key>
	<string>decorationStateBorder</string>
	<key>commonStoryboardFlags</key>
	<string>positionActivityDelay</string>
	<key>crucialInterfaceFeedback</key>
	<string>usecaseActionOpacity</string>
	<key>delegateAboutVariable</key>
	<string>sharedTimerBorder</string>
	<key>hyperbolicTabviewMomentum</key>
	<string>denseListviewFrequency</string>
	<key>monsterAboutFunction</key>
	<string>completerVisitorTransparency</string>
	<key>oldProjectBound</key>
	<string>autoCursorType</string>
	<key>popupBeyondInterpreter</key>
	<string>titleStageTag</string>
	<key>responseDuringWork</key>
	<string>interactorActivityTag</string>
	<key>viewProcessShade</key>
	<string>previewEnvironmentShape</string>
</dict>
</plist>
