<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionStageDuration</key>
	<string>basicCardDistance</string>
	<key>dependencyLikeJob</key>
	<string>convolutionInsidePattern</string>
	<key>mainDescriptionMomentum</key>
	<string>sortedTickerShade</string>
	<key>menuInType</key>
	<string>notifierViaFramework</string>
	<key>primaryConvolutionState</key>
	<string>skinMethodFeedback</string>
	<key>prismaticGraphicOrigin</key>
	<string>listenerLevelSpeed</string>
	<key>reusableContainerInset</key>
	<string>methodProcessEdge</string>
	<key>routerDespiteAdapter</key>
	<string>presenterFacadeShape</string>
	<key>transformerInsideWork</key>
	<string>errorPatternOffset</string>
	<key>uniformChannelAcceleration</key>
	<string>composableAnimatedcontainerState</string>
</dict>
</plist>
