<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionDuringFlyweight</key>
	<string>parallelLayoutBehavior</string>
	<key>cubeAroundSingleton</key>
	<string>resizableAwaitHead</string>
	<key>cursorTypeRate</key>
	<string>staticColumnFeedback</string>
	<key>notifierShapeOpacity</key>
	<string>subscriptionThroughStyle</string>
	<key>particlePerForm</key>
	<string>subpixelAtNumber</string>
	<key>robustWorkflowResponse</key>
	<string>imperativeToolDepth</string>
	<key>stepAndMediator</key>
	<string>grayscaleWithActivity</string>
</dict>
</plist>
