<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLayoutTransparency</key>
	<string>popupWorkIndex</string>
	<key>explicitEntropyAcceleration</key>
	<string>awaitAmongLayer</string>
	<key>globalColumnShape</key>
	<string>multiplicationVariableAcceleration</string>
	<key>hashAwayInterpreter</key>
	<string>similarTickerHead</string>
	<key>heapInsideProxy</key>
	<string>intuitiveInjectionOpacity</string>
	<key>immediateChapterOpacity</key>
	<string>modelVarOrientation</string>
	<key>kernelStateBrightness</key>
	<string>masterTaskVisible</string>
	<key>significantPositionRotation</key>
	<string>draggableConsumerBorder</string>
	<key>transitionOutsideProcess</key>
	<string>roleAlongPlatform</string>
</dict>
</plist>
