<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStageFeedback</key>
	<string>firstTabviewSpacing</string>
	<key>constraintStateSkewx</key>
	<string>euclideanStreamPosition</string>
	<key>imperativeResultName</key>
	<string>popupLikeVar</string>
	<key>pivotalSizeOffset</key>
	<string>painterDuringProxy</string>
	<key>relationalResponseDelay</key>
	<string>bufferMethodTag</string>
	<key>timerAtVariable</key>
	<string>heroLayerRight</string>
</dict>
</plist>
