<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRectSize</key>
	<string>streamAboutBuffer</string>
	<key>buttonVariableAcceleration</key>
	<string>boxProxySkewx</string>
	<key>granularEffectColor</key>
	<string>originalCheckboxTail</string>
	<key>logPatternAppearance</key>
	<string>labelDespiteParam</string>
	<key>rapidRowDuration</key>
	<string>awaitDuringForm</string>
	<key>requestDespiteFacade</key>
	<string>textVersusPattern</string>
	<key>resolverAsKind</key>
	<string>layoutThanNumber</string>
	<key>resultContainEnvironment</key>
	<string>persistentCycleInterval</string>
</dict>
</plist>
