<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnTierBrightness</key>
	<string>uniformRequestHead</string>
	<key>labelParameterPosition</key>
	<string>decorationPrototypeMomentum</string>
	<key>prevLabelMargin</key>
	<string>declarativePaddingPadding</string>
</dict>
</plist>
