<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferWithoutVisitor</key>
	<string>vectorExceptVariable</string>
	<key>descriptionValuePadding</key>
	<string>queueAroundObserver</string>
	<key>draggableButtonAlignment</key>
	<string>navigatorContainBuffer</string>
	<key>futureProcessTail</key>
	<string>zoneNumberFlags</string>
	<key>paddingBridgeStyle</key>
	<string>smallCommandInteraction</string>
	<key>storageVariableFrequency</key>
	<string>resizablePlaybackSkewx</string>
</dict>
</plist>
