<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderWithAction</key>
	<string>presenterDuringAdapter</string>
	<key>callbackOfPlatform</key>
	<string>textureParamDistance</string>
	<key>descriptionAroundForm</key>
	<string>logWorkTension</string>
	<key>eagerStatelessIndex</key>
	<string>singleCoordinatorCoord</string>
	<key>hyperbolicAsyncMomentum</key>
	<string>coordinatorPhaseFormat</string>
	<key>isolateCompositeType</key>
	<string>groupShapeSpacing</string>
	<key>liteBaselineDirection</key>
	<string>ignoredPopupHue</string>
	<key>nativeFrameSpacing</key>
	<string>convolutionFunctionState</string>
	<key>navigatorObserverTail</key>
	<string>mediumSpriteTint</string>
	<key>storyboardAwayObserver</key>
	<string>webRouteColor</string>
</dict>
</plist>
