<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureActionDepth</key>
	<string>querySystemInset</string>
	<key>chartActionBehavior</key>
	<string>unactivatedBatchIndex</string>
	<key>cosineEnvironmentContrast</key>
	<string>disabledIsolateVelocity</string>
	<key>curveStageName</key>
	<string>resilientEffectTag</string>
	<key>delegateTypeShade</key>
	<string>signAndObserver</string>
	<key>mediaFunctionOrigin</key>
	<string>chapterObserverName</string>
	<key>resourcePerKind</key>
	<string>methodNumberMode</string>
	<key>serviceWithoutLevel</key>
	<string>monsterLevelVisible</string>
	<key>signBeyondMemento</key>
	<string>otherManagerInset</string>
</dict>
</plist>
