<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBinaryMargin</key>
	<string>mapMethodLeft</string>
	<key>concurrentParticleBorder</key>
	<string>nibCompositeDistance</string>
	<key>eventExceptPlatform</key>
	<string>signatureCompositeDensity</string>
	<key>factoryAlongStrategy</key>
	<string>temporaryQueryCount</string>
	<key>intermediateTweenCount</key>
	<string>dependencyThanStyle</string>
	<key>localSceneInset</key>
	<string>oldAxisDuration</string>
	<key>prevTernaryMomentum</key>
	<string>lostReferenceSaturation</string>
	<key>retainedCoordinatorTheme</key>
	<string>immediateMobileContrast</string>
	<key>tweenVarHue</key>
	<string>eventDuringPrototype</string>
</dict>
</plist>
