<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveWorkDepth</key>
	<string>denseSinkTension</string>
	<key>integerStrategyDuration</key>
	<string>eventAroundPattern</string>
	<key>primaryAnchorDistance</key>
	<string>cupertinoWithoutType</string>
	<key>remainderFacadeLocation</key>
	<string>sampleNumberLeft</string>
	<key>spriteThroughFlyweight</key>
	<string>overlayBesideTemple</string>
	<key>statelessColumnCount</key>
	<string>responseMediatorDuration</string>
	<key>tappableBoxSkewy</key>
	<string>kernelJobRight</string>
	<key>taskEnvironmentOffset</key>
	<string>eventDuringState</string>
</dict>
</plist>
