<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoLabelPressure</key>
	<string>constSliderTail</string>
	<key>cacheStateMargin</key>
	<string>standalonePromiseFeedback</string>
	<key>compositionalHeapMode</key>
	<string>interfaceMediatorTension</string>
	<key>flexContextLeft</key>
	<string>activatedCallbackOffset</string>
	<key>gateAgainstMediator</key>
	<string>nodeVarTag</string>
	<key>greatBorderRate</key>
	<string>appbarVersusInterpreter</string>
	<key>groupSinceKind</key>
	<string>previewAmongParameter</string>
	<key>statefulModalShape</key>
	<string>disabledBoxValidation</string>
</dict>
</plist>
