<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticConstraintHead</key>
	<string>localBuilderOrientation</string>
	<key>normInEnvironment</key>
	<string>routeSinceStyle</string>
	<key>storageAlongSingleton</key>
	<string>zoneLevelBound</string>
	<key>textureWorkInterval</key>
	<string>grainStateFrequency</string>
</dict>
</plist>
