<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedTechniqueMargin</key>
	<string>displayableLoopAlignment</string>
	<key>mediaqueryInterpreterInteraction</key>
	<string>topicAwayForm</string>
	<key>momentumThanMode</key>
	<string>mediocreResultHue</string>
	<key>monsterModeSkewy</key>
	<string>globalAnimationPadding</string>
	<key>pivotalReductionSkewy</key>
	<string>firstSignOpacity</string>
	<key>stateFlyweightPressure</key>
	<string>prismaticRouteDirection</string>
	<key>textDecoratorBehavior</key>
	<string>normalCubitBehavior</string>
	<key>typicalCubitCount</key>
	<string>batchAlongPlatform</string>
</dict>
</plist>
