<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentInVisitor</key>
	<string>oldFragmentTension</string>
	<key>capsuleForCycle</key>
	<string>reducerStyleMargin</string>
	<key>cellObserverOrigin</key>
	<string>memberVariableHue</string>
	<key>compositionalRichtextTension</key>
	<string>normalCubitInteraction</string>
	<key>liteWidgetTheme</key>
	<string>mediaAndNumber</string>
	<key>materialParameterCenter</key>
	<string>arithmeticSystemSkewx</string>
	<key>previewChainTransparency</key>
	<string>delegateIncludeFacade</string>
	<key>transformerActionLeft</key>
	<string>customizedCommandDirection</string>
	<key>zoneOutsideType</key>
	<string>statelessPatternName</string>
</dict>
</plist>
