<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPerScope</key>
	<string>unactivatedChannelsPressure</string>
	<key>capsulePhaseDuration</key>
	<string>requestBesideStructure</string>
	<key>channelProcessType</key>
	<string>normCycleTheme</string>
	<key>imageFromLayer</key>
	<string>actionPlatformPosition</string>
	<key>loopInsideAction</key>
	<string>immediateSubscriptionTail</string>
	<key>observerIncludePrototype</key>
	<string>diversifiedTextureDelay</string>
	<key>presenterFunctionHead</key>
	<string>diversifiedAspectHead</string>
	<key>primaryCollectionIndex</key>
	<string>visibleTableLeft</string>
</dict>
</plist>
