<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBeyondObserver</key>
	<string>crudeModalDirection</string>
	<key>dimensionDespiteContext</key>
	<string>subsequentPageviewBorder</string>
	<key>disabledSineBehavior</key>
	<string>stampThanType</string>
	<key>menuTierLeft</key>
	<string>layerAroundComposite</string>
	<key>pinchableModulusDistance</key>
	<string>delicateShaderName</string>
	<key>providerPrototypeSize</key>
	<string>expandedPerMode</string>
	<key>sceneStrategyShade</key>
	<string>advancedInterfaceLocation</string>
	<key>segmentAboutKind</key>
	<string>cubeInFlyweight</string>
	<key>stateStrategyShape</key>
	<string>transitionOperationMomentum</string>
</dict>
</plist>
