<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseBufferName</key>
	<string>awaitThroughBridge</string>
	<key>compositionalSampleAcceleration</key>
	<string>difficultExpandedTop</string>
	<key>groupContextDuration</key>
	<string>cupertinoPopupFlags</string>
	<key>hashMediatorTransparency</key>
	<string>richtextFromContext</string>
	<key>memberVarCount</key>
	<string>awaitFunctionDirection</string>
	<key>sharedErrorAlignment</key>
	<string>displayableControllerDelay</string>
	<key>sustainableGesturedetectorInterval</key>
	<string>newestMediaRight</string>
	<key>vectorPerScope</key>
	<string>temporaryTimerRight</string>
</dict>
</plist>
