<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNumberMomentum</key>
	<string>imageVersusType</string>
	<key>buttonMethodFrequency</key>
	<string>beginnerParticleLeft</string>
	<key>expandedOperationTheme</key>
	<string>immediateTaskContrast</string>
	<key>modalChainStatus</key>
	<string>customizedSizeRotation</string>
	<key>previewTierSpeed</key>
	<string>statefulMediatorRight</string>
</dict>
</plist>
