<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStageScale</key>
	<string>workflowStageForce</string>
	<key>baselineAboutProcess</key>
	<string>discardedFrameSkewy</string>
	<key>chartStrategyDelay</key>
	<string>multiplicationFacadeSaturation</string>
	<key>extensionBeyondCommand</key>
	<string>getxForDecorator</string>
	<key>layerVersusInterpreter</key>
	<string>transformerObserverSkewx</string>
	<key>mobxAroundPrototype</key>
	<string>uniqueAnchorShade</string>
	<key>permanentDependencyDirection</key>
	<string>largeStreamTransparency</string>
	<key>zoneWorkLocation</key>
	<string>nativeRadiusFlags</string>
</dict>
</plist>
