<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalBuilderType</key>
	<string>threadThanPlatform</string>
	<key>intuitiveEqualizationDirection</key>
	<string>subpixelModePadding</string>
	<key>mobileUntilProcess</key>
	<string>positionedFormBrightness</string>
</dict>
</plist>
