<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionModeContrast</key>
	<string>columnThanObserver</string>
	<key>buttonViaAdapter</key>
	<string>completerLikeInterpreter</string>
	<key>callbackThanLayer</key>
	<string>swiftVarInterval</string>
	<key>convolutionCommandDensity</key>
	<string>scaleWorkTension</string>
	<key>expandedWithVisitor</key>
	<string>relationalSkirtBehavior</string>
	<key>painterStyleInteraction</key>
	<string>actionPhaseDepth</string>
	<key>plateContainPrototype</key>
	<string>cachePerLayer</string>
	<key>repositoryViaWork</key>
	<string>collectionProcessStyle</string>
	<key>sharedDurationRotation</key>
	<string>indicatorVarTint</string>
	<key>tickerInMediator</key>
	<string>cursorViaLayer</string>
</dict>
</plist>
