<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorValueOrientation</key>
	<string>signTypeForce</string>
	<key>axisScopeTension</key>
	<string>prismaticScaleFormat</string>
	<key>dialogsByProxy</key>
	<string>shaderAroundJob</string>
	<key>sampleParameterMomentum</key>
	<string>stackPrototypeDistance</string>
</dict>
</plist>
