<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBeyondFramework</key>
	<string>techniqueWithStage</string>
	<key>equalizationAroundTier</key>
	<string>labelOutsideComposite</string>
	<key>graphAtSingleton</key>
	<string>anchorObserverLocation</string>
	<key>hierarchicalExtensionDuration</key>
	<string>similarModelAlignment</string>
	<key>painterOfShape</key>
	<string>buttonActivityAcceleration</string>
	<key>particleStructureBound</key>
	<string>tabviewViaMediator</string>
	<key>permanentInkwellPressure</key>
	<string>histogramMethodEdge</string>
	<key>sequentialDocumentInteraction</key>
	<string>instructionInterpreterSpeed</string>
	<key>sequentialVectorVisible</key>
	<string>concreteZoneInteraction</string>
</dict>
</plist>
