<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonCycleName</key>
	<string>fusedLayoutValidation</string>
	<key>containerFromPlatform</key>
	<string>completerInsideScope</string>
	<key>diffableViewFeedback</key>
	<string>containerContainWork</string>
	<key>directlySessionCenter</key>
	<string>intensityFrameworkKind</string>
	<key>displayablePlaybackCount</key>
	<string>asyncVarTheme</string>
	<key>missionAwayMediator</key>
	<string>immediateNavigatorPosition</string>
	<key>monsterOutsideFacade</key>
	<string>dialogsScopeSpeed</string>
	<key>multiMobxFlags</key>
	<string>tickerValueTag</string>
	<key>routePatternSkewx</key>
	<string>tweenStageSpeed</string>
	<key>routerInsideFacade</key>
	<string>localizationWithVisitor</string>
</dict>
</plist>
