<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorDuringJob</key>
	<string>dynamicLayerForce</string>
	<key>eventOperationPadding</key>
	<string>delegateSinceOperation</string>
	<key>geometricShaderAcceleration</key>
	<string>sessionByWork</string>
	<key>isolateVariableColor</key>
	<string>hyperbolicFeatureIndex</string>
	<key>lostServiceMomentum</key>
	<string>stepActionOffset</string>
	<key>offsetSinceFramework</key>
	<string>presenterVisitorKind</string>
	<key>oldBlocRotation</key>
	<string>workflowAboutMode</string>
	<key>popupStyleInteraction</key>
	<string>hashPerFramework</string>
	<key>priorityOperationStatus</key>
	<string>serviceAndContext</string>
	<key>segmentActivityDuration</key>
	<string>nextRowSize</string>
</dict>
</plist>
