<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAwayLevel</key>
	<string>numericalLayoutDepth</string>
	<key>clipperVariableVisibility</key>
	<string>resolverStatePressure</string>
	<key>cupertinoRadioTop</key>
	<string>effectStyleSpacing</string>
	<key>durationParamOffset</key>
	<string>gestureSinceLevel</string>
	<key>futureStageInset</key>
	<string>groupFromShape</string>
	<key>groupDecoratorHead</key>
	<string>descriptorAboutLayer</string>
	<key>resolverAlongParam</key>
	<string>certificateDespiteFlyweight</string>
	<key>resourceDespiteVar</key>
	<string>ignoredCoordinatorType</string>
	<key>sinkThroughComposite</key>
	<string>painterVarColor</string>
</dict>
</plist>
