<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureAlongNumber</key>
	<string>routeBeyondSingleton</string>
	<key>grainVisitorLocation</key>
	<string>gemOperationSaturation</string>
	<key>opaqueSizedboxMargin</key>
	<string>nodeAsBridge</string>
	<key>statefulInterpreterMode</key>
	<string>isolateBeyondType</string>
	<key>staticCustompaintKind</key>
	<string>labelPerMode</string>
</dict>
</plist>
