<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeInstructionCount</key>
	<string>statelessShapeDistance</string>
	<key>kernelCycleTail</key>
	<string>desktopInteractorDensity</string>
	<key>resourceFlyweightSize</key>
	<string>eventPrototypePosition</string>
	<key>sharedPopupSaturation</key>
	<string>textMediatorDelay</string>
</dict>
</plist>
