<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoSkirtTheme</key>
	<string>customAppbarDepth</string>
	<key>entityStateSkewy</key>
	<string>resolverAwayOperation</string>
	<key>inkwellDecoratorTint</key>
	<string>tableVisitorBorder</string>
	<key>largeCursorTheme</key>
	<string>delicateBatchTail</string>
	<key>petOutsideVariable</key>
	<string>radioVersusContext</string>
	<key>retainedWidgetOrigin</key>
	<string>segueVarValidation</string>
	<key>sliderParameterSaturation</key>
	<string>cubitContextSkewy</string>
</dict>
</plist>
