<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTextOrientation</key>
	<string>notifierValueMomentum</string>
	<key>disparateHistogramSpeed</key>
	<string>entropyPerTask</string>
	<key>mapThroughProcess</key>
	<string>mediaContextTheme</string>
	<key>respectiveApertureMomentum</key>
	<string>featureMethodState</string>
	<key>skinAndPhase</key>
	<string>protectedIntensityBrightness</string>
	<key>transitionScopeLeft</key>
	<string>temporaryLogSpeed</string>
</dict>
</plist>
