<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAsyncName</key>
	<string>compositionWorkTransparency</string>
	<key>characterOutsideFunction</key>
	<string>kernelCommandSkewx</string>
	<key>currentTweenDistance</key>
	<string>particleFromBuffer</string>
	<key>discardedActionBorder</key>
	<string>opaqueDelegateBorder</string>
	<key>lastCardFrequency</key>
	<string>taskContextRight</string>
	<key>offsetPerComposite</key>
	<string>normalAlphaTop</string>
</dict>
</plist>
