<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVariableMomentum</key>
	<string>taskDecoratorPosition</string>
	<key>invisibleMethodTransparency</key>
	<string>independentMonsterTheme</string>
	<key>layoutVisitorVisibility</key>
	<string>musicAlongFacade</string>
	<key>spotDuringMemento</key>
	<string>permissiveCursorScale</string>
</dict>
</plist>
