<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionOutsideSingleton</key>
	<string>convolutionParameterLocation</string>
	<key>positionAboutPlatform</key>
	<string>visibleHeapDepth</string>
	<key>reducerMediatorType</key>
	<string>metadataPrototypeDistance</string>
	<key>respectiveDropdownbuttonFeedback</key>
	<string>dialogsStageDuration</string>
	<key>sinkProxyScale</key>
	<string>buttonJobRate</string>
	<key>tangentBridgeTint</key>
	<string>canvasModeBehavior</string>
	<key>unaryOutsideFunction</key>
	<string>grainLikeFunction</string>
</dict>
</plist>
