<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorCompositeState</key>
	<string>intensityContainSystem</string>
	<key>consumerCyclePressure</key>
	<string>storeAwayValue</string>
	<key>normalEntityScale</key>
	<string>asyncMediatorLocation</string>
	<key>offsetInsideContext</key>
	<string>nextTouchOpacity</string>
	<key>skirtInterpreterTop</key>
	<string>associatedStoryboardInteraction</string>
	<key>streamWithType</key>
	<string>accordionCapacitiesName</string>
	<key>topicCommandSize</key>
	<string>radioNearParameter</string>
	<key>utilForStyle</key>
	<string>chartInSingleton</string>
</dict>
</plist>
