<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liteAssetHue</key>
	<string>accessoryExceptVisitor</string>
	<key>mainTopicRate</key>
	<string>listenerLikeDecorator</string>
	<key>substantialTextLeft</key>
	<string>resultBeyondVisitor</string>
	<key>textfieldFromLayer</key>
	<string>reducerBufferRate</string>
	<key>usedStreamValidation</key>
	<string>statefulPhaseValidation</string>
</dict>
</plist>
