<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryPrototypeMargin</key>
	<string>crucialLabelCenter</string>
	<key>dependencyActionColor</key>
	<string>riverpodShapeBehavior</string>
	<key>gemPlatformValidation</key>
	<string>vectorOrNumber</string>
	<key>labelVariableCenter</key>
	<string>methodJobSpacing</string>
	<key>mediaMementoShape</key>
	<string>localizationScopeFormat</string>
	<key>movementAndParameter</key>
	<string>petDespiteFacade</string>
	<key>projectAtProxy</key>
	<string>brushCompositeName</string>
	<key>scaleCompositeVisible</key>
	<string>hardPresenterPosition</string>
	<key>webControllerDistance</key>
	<string>sharedStoreCoord</string>
	<key>zoneStrategyDistance</key>
	<string>asyncPlaybackSpacing</string>
</dict>
</plist>
