<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheNearShape</key>
	<string>lazyKernelHead</string>
	<key>containerFacadeCoord</key>
	<string>zoneDespiteCycle</string>
	<key>controllerCycleTop</key>
	<string>pointPlatformSkewx</string>
	<key>handlerAboutTier</key>
	<string>dependencyExceptEnvironment</string>
	<key>movementParameterType</key>
	<string>eagerProviderBound</string>
	<key>vectorActionDuration</key>
	<string>scrollableCollectionBehavior</string>
</dict>
</plist>
