<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionBufferShade</key>
	<string>vectorSinceLayer</string>
	<key>localizationSystemBrightness</key>
	<string>layoutForComposite</string>
	<key>nextMobileShade</key>
	<string>roleValueInset</string>
	<key>particleCompositeType</key>
	<string>vectorAsInterpreter</string>
	<key>relationalGateOrigin</key>
	<string>curveValueCoord</string>
	<key>sustainableActionTail</key>
	<string>effectByFacade</string>
</dict>
</plist>
