<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTempleSaturation</key>
	<string>constScrollBound</string>
	<key>asyncPhaseFrequency</key>
	<string>overlayInMethod</string>
	<key>layoutBesideStage</key>
	<string>iterativeCacheOrientation</string>
	<key>publicServiceSize</key>
	<string>challengePhaseSpacing</string>
	<key>titleTempleBottom</key>
	<string>animationContextState</string>
	<key>typicalAppbarRate</key>
	<string>ignoredAlertContrast</string>
	<key>webGemHue</key>
	<string>routerBridgeOpacity</string>
</dict>
</plist>
