<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFunctionSize</key>
	<string>asynchronousSizeCenter</string>
	<key>cubitSingletonForce</key>
	<string>resourceAdapterRight</string>
	<key>documentCompositeEdge</key>
	<string>flexibleTickerInset</string>
	<key>independentBuilderContrast</key>
	<string>geometricErrorLeft</string>
	<key>intensityFromLevel</key>
	<string>durationBridgeRotation</string>
	<key>priorityOrNumber</key>
	<string>threadCommandTint</string>
	<key>spriteTierSpacing</key>
	<string>sequentialIndicatorVisible</string>
	<key>statefulFrameDistance</key>
	<string>stepParameterAppearance</string>
	<key>tensorAsyncTint</key>
	<string>scaffoldContainStrategy</string>
	<key>titleChainRotation</key>
	<string>particleJobOpacity</string>
</dict>
</plist>
