<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoReducerTint</key>
	<string>listenerExceptJob</string>
	<key>compositionDuringMediator</key>
	<string>dimensionAndOperation</string>
	<key>handlerAdapterDensity</key>
	<string>storeWithShape</string>
	<key>lostScenePadding</key>
	<string>storeViaParameter</string>
	<key>mapSinceInterpreter</key>
	<string>usecaseAgainstProxy</string>
	<key>referenceAboutPlatform</key>
	<string>temporaryTaskAcceleration</string>
	<key>textPhaseSkewy</key>
	<string>inkwellAsObserver</string>
</dict>
</plist>
