<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSwiftState</key>
	<string>animatedDecorationCount</string>
	<key>collectionOutsideActivity</key>
	<string>persistentAspectOrigin</string>
	<key>diffableDecorationColor</key>
	<string>positionStructurePadding</string>
	<key>mainSubscriptionBehavior</key>
	<string>intermediateHistogramBound</string>
	<key>materialProtocolVisible</key>
	<string>modelAndPlatform</string>
	<key>radioCycleStyle</key>
	<string>rowWithoutOperation</string>
	<key>standaloneControllerSize</key>
	<string>deferredMetadataDirection</string>
	<key>subscriptionByNumber</key>
	<string>commandEnvironmentValidation</string>
	<key>transformerCommandAlignment</key>
	<string>symmetricCurveValidation</string>
</dict>
</plist>
