<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferCommandMode</key>
	<string>sharedDurationSpacing</string>
	<key>comprehensiveCharacterTension</key>
	<string>missedListviewBottom</string>
	<key>metadataWorkInteraction</key>
	<string>vectorStyleVelocity</string>
	<key>monsterVarStatus</key>
	<string>directSignIndex</string>
	<key>temporaryPopupVisible</key>
	<string>flexJobOffset</string>
	<key>widgetPhaseTint</key>
	<string>axisOrVariable</string>
</dict>
</plist>
