<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityBeyondState</key>
	<string>stampInterpreterTheme</string>
	<key>chapterThroughWork</key>
	<string>baselineAgainstComposite</string>
	<key>listviewAboutBridge</key>
	<string>tappablePopupValidation</string>
	<key>pageviewAgainstStructure</key>
	<string>taskMementoSize</string>
	<key>rowAgainstType</key>
	<string>oldTextfieldBorder</string>
	<key>stackTaskVisible</key>
	<string>responseMementoMomentum</string>
</dict>
</plist>
