<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStyleDirection</key>
	<string>channelCommandDelay</string>
	<key>fixedStateOffset</key>
	<string>criticalGridStatus</string>
	<key>handlerShapeDistance</key>
	<string>decorationStateTint</string>
	<key>painterSingletonDepth</key>
	<string>globalStateRight</string>
	<key>riverpodBufferCount</key>
	<string>disparateSessionSaturation</string>
	<key>roleAwayFramework</key>
	<string>multiplicationAdapterPadding</string>
	<key>similarNibVelocity</key>
	<string>subsequentAlertScale</string>
</dict>
</plist>
