<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBridgeLeft</key>
	<string>unsortedReferenceShape</string>
	<key>chartOrStyle</key>
	<string>grayscaleTierBorder</string>
	<key>cubitOutsideFunction</key>
	<string>equalizationOutsideChain</string>
	<key>currentFuturePosition</key>
	<string>criticalErrorColor</string>
	<key>observerVersusParameter</key>
	<string>accordionEventOffset</string>
	<key>prismaticManagerBrightness</key>
	<string>statefulExpandedPressure</string>
	<key>resolverFrameworkColor</key>
	<string>scaffoldMethodSpacing</string>
	<key>semanticMediaDensity</key>
	<string>managerActivityAlignment</string>
	<key>temporaryMomentumInterval</key>
	<string>sinkStrategyAppearance</string>
</dict>
</plist>
