<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionLayerStyle</key>
	<string>streamLikeFacade</string>
	<key>containerObserverLeft</key>
	<string>dialogsWithBridge</string>
	<key>delegatePrototypeLeft</key>
	<string>respectiveErrorMomentum</string>
	<key>intuitiveQueryAppearance</key>
	<string>usedQueueTag</string>
	<key>themeAwayStyle</key>
	<string>swiftObserverTop</string>
</dict>
</plist>
