<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTransitionStyle</key>
	<string>tensorDocumentTag</string>
	<key>gridIncludeBridge</key>
	<string>textureTypeName</string>
	<key>heapSystemDepth</key>
	<string>grainVisitorInset</string>
	<key>navigatorProcessSkewx</key>
	<string>subscriptionAboutStructure</string>
	<key>otherSizedboxOffset</key>
	<string>uniquePopupMode</string>
	<key>positionInsideStrategy</key>
	<string>smallTextAcceleration</string>
	<key>tickerWithoutObserver</key>
	<string>requiredTechniqueStyle</string>
</dict>
</plist>
