<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDelegateScale</key>
	<string>tweenPlatformOpacity</string>
	<key>animationTempleFormat</key>
	<string>cubeContextPressure</string>
	<key>cubitContainPhase</key>
	<string>textIncludeAdapter</string>
	<key>durationAtStage</key>
	<string>keyCurveCount</string>
	<key>resultContextBrightness</key>
	<string>allocatorInsideChain</string>
	<key>sinkExceptVar</key>
	<string>materialBesideParameter</string>
	<key>sinkInStrategy</key>
	<string>subsequentAlignmentIndex</string>
	<key>subpixelViaChain</key>
	<string>cubitOrParameter</string>
	<key>sustainableCurveTransparency</key>
	<string>fixedRadiusDensity</string>
	<key>utilUntilBuffer</key>
	<string>pinchableBuilderDepth</string>
</dict>
</plist>
