<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoTextRotation</key>
	<string>subsequentParticleBrightness</string>
	<key>draggableSliderVelocity</key>
	<string>accessoryDespiteActivity</string>
	<key>groupForPrototype</key>
	<string>streamKindPressure</string>
	<key>hierarchicalChapterName</key>
	<string>descriptorIncludeStage</string>
	<key>originalGrainLocation</key>
	<string>specifierAboutDecorator</string>
	<key>previewFormFormat</key>
	<string>animatedcontainerAtFunction</string>
	<key>resourceOperationLocation</key>
	<string>containerStrategyLocation</string>
	<key>spineStyleValidation</key>
	<string>hyperbolicScrollType</string>
	<key>storeInterpreterScale</key>
	<string>fragmentUntilEnvironment</string>
</dict>
</plist>
