<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentOfChain</key>
	<string>singleCapacitiesRotation</string>
	<key>menuOperationCoord</key>
	<string>unactivatedObserverDensity</string>
	<key>navigationBeyondStyle</key>
	<string>flexibleCubitSize</string>
	<key>subscriptionBufferVisible</key>
	<string>clipperFunctionIndex</string>
	<key>subsequentDecorationHue</key>
	<string>curveDespiteShape</string>
	<key>usedReductionTheme</key>
	<string>mutableTernaryDensity</string>
	<key>visibleSwitchFlags</key>
	<string>gemEnvironmentTint</string>
</dict>
</plist>
