<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitFunctionFlags</key>
	<string>animationCommandBrightness</string>
	<key>chartDecoratorRate</key>
	<string>loopCommandName</string>
	<key>collectionStructureIndex</key>
	<string>sustainableDecorationFormat</string>
	<key>lostAnimationState</key>
	<string>configurationTierLeft</string>
	<key>primaryThemeSize</key>
	<string>sineProcessAlignment</string>
	<key>relationalExceptionBehavior</key>
	<string>listenerCommandResponse</string>
</dict>
</plist>
