<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSineTension</key>
	<string>finalSubscriptionFormat</string>
	<key>exceptionIncludeVariable</key>
	<string>positionCycleFlags</string>
	<key>menuAlongBuffer</key>
	<string>priorityModeTag</string>
	<key>notifierTaskSkewy</key>
	<string>scaleByState</string>
	<key>permissiveProjectTag</key>
	<string>cursorOfForm</string>
	<key>reactivePromiseHead</key>
	<string>significantEffectFlags</string>
	<key>semanticTopicSpacing</key>
	<string>utilOutsideStyle</string>
</dict>
</plist>
