<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPopupFormat</key>
	<string>resultAboutTier</string>
	<key>gestureStateSkewy</key>
	<string>requiredRichtextOrientation</string>
	<key>sharedQueueShade</key>
	<string>storageBesideFacade</string>
	<key>stackScopeTint</key>
	<string>beginnerProgressbarTag</string>
</dict>
</plist>
