<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAsMemento</key>
	<string>characterDuringDecorator</string>
	<key>cosineStageDepth</key>
	<string>finalListenerTail</string>
	<key>groupOperationBorder</key>
	<string>animationAlongEnvironment</string>
	<key>mediumTopicDuration</key>
	<string>precisionBesideFunction</string>
	<key>rapidBlocResponse</key>
	<string>isolateScopeMomentum</string>
	<key>sequentialPlaybackSize</key>
	<string>indicatorPatternBrightness</string>
</dict>
</plist>
