<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTierTension</key>
	<string>adaptiveTopicBorder</string>
	<key>hardSpriteDirection</key>
	<string>textStateVisible</string>
	<key>materialShapeBorder</key>
	<string>staticTickerAlignment</string>
	<key>notificationForType</key>
	<string>finalErrorValidation</string>
	<key>signPerLevel</key>
	<string>sizedboxNumberVelocity</string>
	<key>sizeVisitorFlags</key>
	<string>sliderInSingleton</string>
	<key>subscriptionNearProcess</key>
	<string>inheritedNavigationValidation</string>
	<key>tangentCycleRotation</key>
	<string>normLayerValidation</string>
</dict>
</plist>
