<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureCommandStatus</key>
	<string>allocatorNearEnvironment</string>
	<key>cardPrototypeMode</key>
	<string>interactiveSegmentTail</string>
	<key>concreteThemeStatus</key>
	<string>loopAtScope</string>
	<key>frameThroughFacade</key>
	<string>robustMetadataResponse</string>
	<key>histogramNearBuffer</key>
	<string>sortedExceptionEdge</string>
	<key>layoutStateDuration</key>
	<string>transitionForTask</string>
	<key>projectionActivitySpacing</key>
	<string>rowAboutSingleton</string>
	<key>sceneOrOperation</key>
	<string>effectByAction</string>
	<key>sineTempleFormat</key>
	<string>overlayAdapterShade</string>
</dict>
</plist>
