<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeThemeSkewy</key>
	<string>axisAndKind</string>
	<key>effectLayerSize</key>
	<string>constLoopDelay</string>
	<key>effectVarOffset</key>
	<string>compositionalCubitTag</string>
	<key>interactiveSpriteInteraction</key>
	<string>anchorContainWork</string>
	<key>positionEnvironmentFrequency</key>
	<string>sharedRouteShape</string>
	<key>scrollPerCycle</key>
	<string>activatedNibName</string>
</dict>
</plist>
