<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDecorationDuration</key>
	<string>entityThroughParam</string>
	<key>desktopTransitionName</key>
	<string>radioOrPhase</string>
	<key>euclideanMomentumMode</key>
	<string>shaderContainWork</string>
	<key>pivotalDecorationHead</key>
	<string>sortedGetxEdge</string>
	<key>presenterTaskSpeed</key>
	<string>sliderPhaseVisibility</string>
	<key>resizablePointContrast</key>
	<string>playbackModeBehavior</string>
	<key>statelessRequestBottom</key>
	<string>previewAtContext</string>
	<key>switchAmongJob</key>
	<string>routeModeStatus</string>
	<key>typicalBufferTag</key>
	<string>backwardCoordinatorTransparency</string>
</dict>
</plist>
