<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaNumberTag</key>
	<string>basicChartInteraction</string>
	<key>elasticMethodAcceleration</key>
	<string>serviceAdapterAlignment</string>
	<key>histogramAlongVar</key>
	<string>relationalUnaryFrequency</string>
	<key>isolateActivityStatus</key>
	<string>labelInCycle</string>
	<key>missedPreviewFlags</key>
	<string>binaryTaskInset</string>
	<key>repositoryCycleAlignment</key>
	<string>autoMultiplicationRotation</string>
	<key>statelessMementoDirection</key>
	<string>mediaqueryOrType</string>
</dict>
</plist>
