<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAroundScope</key>
	<string>popupUntilEnvironment</string>
	<key>cupertinoProxyName</key>
	<string>binaryCommandLocation</string>
	<key>greatTransformerDirection</key>
	<string>resourceTierMomentum</string>
	<key>statefulTransitionShade</key>
	<string>timerFormBound</string>
	<key>storageExceptNumber</key>
	<string>curveAboutTask</string>
	<key>typicalAppbarOrientation</key>
	<string>providerFunctionValidation</string>
</dict>
</plist>
