<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBufferCenter</key>
	<string>animationAtCommand</string>
	<key>eagerInterfaceAcceleration</key>
	<string>denseExceptionBehavior</string>
	<key>featureAsVar</key>
	<string>alignmentObserverSpacing</string>
	<key>interpolationAtFlyweight</key>
	<string>routeAdapterSpacing</string>
	<key>listviewInParameter</key>
	<string>radioAlongFramework</string>
	<key>repositoryViaCommand</key>
	<string>cosineOperationFormat</string>
	<key>singletonByMode</key>
	<string>layoutAmongActivity</string>
	<key>zoneVarDistance</key>
	<string>normVersusObserver</string>
</dict>
</plist>
