<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAwayValue</key>
	<string>topicStyleType</string>
	<key>dynamicResponseMargin</key>
	<string>semanticWidgetSkewx</string>
	<key>exceptionOfShape</key>
	<string>intensityCycleOrientation</string>
	<key>lastLocalizationLeft</key>
	<string>staticMemberBound</string>
	<key>logFacadeSkewx</key>
	<string>collectionAwayAction</string>
	<key>nativeRichtextVisibility</key>
	<string>cupertinoWithoutForm</string>
	<key>radiusByKind</key>
	<string>semanticFactoryTension</string>
	<key>storageKindSaturation</key>
	<string>webTextfieldKind</string>
	<key>subscriptionAlongFramework</key>
	<string>channelExceptStyle</string>
</dict>
</plist>
