<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutState</key>
	<string>priorLogVisibility</string>
	<key>constraintEnvironmentInteraction</key>
	<string>gradientAboutInterpreter</string>
	<key>gestureStrategyVelocity</key>
	<string>textAdapterShape</string>
	<key>inkwellInsideBridge</key>
	<string>mapAndMemento</string>
	<key>mobileCheckboxVisibility</key>
	<string>alignmentBesideInterpreter</string>
	<key>skirtBufferForce</key>
	<string>tweenVariableBorder</string>
	<key>switchAtBridge</key>
	<string>gridviewCycleState</string>
</dict>
</plist>
