<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorModeStyle</key>
	<string>channelsLikePrototype</string>
	<key>cardContainProxy</key>
	<string>subpixelWithFramework</string>
	<key>comprehensiveContractionShade</key>
	<string>ternaryWorkInset</string>
	<key>lazyLoopCount</key>
	<string>draggableIntensityEdge</string>
	<key>petAroundShape</key>
	<string>substantialCoordinatorSkewx</string>
	<key>popupAlongMediator</key>
	<string>intensityTaskMomentum</string>
</dict>
</plist>
