<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchParamMomentum</key>
	<string>subscriptionWithoutFlyweight</string>
	<key>dimensionFlyweightMargin</key>
	<string>sensorWorkVelocity</string>
	<key>entropyContainVariable</key>
	<string>resourceContextDuration</string>
	<key>lazyChallengeRotation</key>
	<string>checkboxSingletonSaturation</string>
	<key>numericalCycleShade</key>
	<string>listviewValueOffset</string>
	<key>originalGridviewKind</key>
	<string>controllerTempleInset</string>
	<key>pageviewVariableResponse</key>
	<string>boxAlongMediator</string>
	<key>permanentGiftRight</key>
	<string>delegateBesideProxy</string>
	<key>skinShapeFlags</key>
	<string>segueTypeStatus</string>
	<key>taskDuringScope</key>
	<string>constraintVisitorState</string>
</dict>
</plist>
