<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideVariable</key>
	<string>layerWorkTag</string>
	<key>catalystPatternPressure</key>
	<string>queryAmongTask</string>
	<key>compositionalNavigatorPressure</key>
	<string>boxshadowPlatformFrequency</string>
	<key>customRouteTail</key>
	<string>chapterAwayFacade</string>
	<key>handlerVarSkewy</key>
	<string>asyncParamRotation</string>
	<key>interfaceJobDistance</key>
	<string>pointIncludeBuffer</string>
	<key>loopExceptMethod</key>
	<string>symmetricTouchStatus</string>
	<key>resizableZoneOrientation</key>
	<string>equipmentTempleShape</string>
	<key>sinkOrVisitor</key>
	<string>labelContainEnvironment</string>
</dict>
</plist>
