<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseEntropyFeedback</key>
	<string>descriptionPerTemple</string>
	<key>directInterpolationContrast</key>
	<string>movementAboutKind</string>
	<key>flexibleFactoryTension</key>
	<string>repositoryInsideVar</string>
	<key>graphicPlatformLeft</key>
	<string>difficultResolverVisible</string>
	<key>multiDelegatePressure</key>
	<string>listenerViaAction</string>
	<key>optimizerDespiteFunction</key>
	<string>flexibleSpineBottom</string>
	<key>tappableSegueTension</key>
	<string>reusableStatelessAppearance</string>
	<key>vectorPatternSpeed</key>
	<string>hashOrStrategy</string>
</dict>
</plist>
