<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationLikeTemple</key>
	<string>instructionActivityEdge</string>
	<key>crudeGroupAcceleration</key>
	<string>agileConsumerInset</string>
	<key>cubitFlyweightBorder</key>
	<string>timerDuringPhase</string>
	<key>flexStyleOrigin</key>
	<string>agilePromiseTail</string>
	<key>geometricNibVelocity</key>
	<string>memberOutsideNumber</string>
	<key>painterUntilMethod</key>
	<string>numericalZoneEdge</string>
	<key>publicQueueBrightness</key>
	<string>taskVarAcceleration</string>
	<key>reducerOfChain</key>
	<string>difficultCycleBottom</string>
	<key>spriteTaskOrigin</key>
	<string>storyboardCycleVisible</string>
	<key>transitionAroundMediator</key>
	<string>decorationBeyondStrategy</string>
</dict>
</plist>
