<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAmongKind</key>
	<string>vectorLevelOffset</string>
	<key>disparateStatefulColor</key>
	<string>menuWithMemento</string>
	<key>displayableContractionLocation</key>
	<string>prismaticCompositionDirection</string>
	<key>featureThroughActivity</key>
	<string>bufferOrPlatform</string>
	<key>numericalWidgetName</key>
	<string>denseFragmentPressure</string>
	<key>plateOperationDistance</key>
	<string>activityAwayLayer</string>
	<key>responsiveMaterialTension</key>
	<string>resizableContractionTension</string>
	<key>sizePrototypePressure</key>
	<string>similarRoleSpacing</string>
	<key>unactivatedSceneCenter</key>
	<string>normalTopicSaturation</string>
	<key>utilByProxy</key>
	<string>streamAtVisitor</string>
</dict>
</plist>
