<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackScopeTop</key>
	<string>asyncThanFramework</string>
	<key>columnAndTemple</key>
	<string>particleExceptCommand</string>
	<key>composableQueueSkewx</key>
	<string>metadataContextMomentum</string>
	<key>explicitProjectionScale</key>
	<string>asyncProviderCoord</string>
	<key>methodInsideTemple</key>
	<string>subscriptionForKind</string>
	<key>slashThanMethod</key>
	<string>equalizationVisitorDelay</string>
	<key>tensorBaselineSkewx</key>
	<string>taskBeyondMediator</string>
	<key>zoneStrategyAlignment</key>
	<string>segueMediatorPressure</string>
</dict>
</plist>
