<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedImageTheme</key>
	<string>basicCubitSkewy</string>
	<key>dependencyOperationFrequency</key>
	<string>menuForStyle</string>
	<key>eventModePressure</key>
	<string>timerBufferScale</string>
	<key>loopSinceInterpreter</key>
	<string>layoutStrategyBound</string>
	<key>matrixScopeOrientation</key>
	<string>modalBufferTension</string>
	<key>priorityTierOrientation</key>
	<string>displayableStatelessOrientation</string>
</dict>
</plist>
