<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterJobCenter</key>
	<string>rectOrAdapter</string>
	<key>criticalDocumentRotation</key>
	<string>capacitiesWithoutActivity</string>
	<key>dialogsPatternRotation</key>
	<string>resourceFunctionScale</string>
	<key>usedSpriteInset</key>
	<string>expandedProcessFrequency</string>
</dict>
</plist>
