<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioPhaseOrigin</key>
	<string>standaloneRowPosition</string>
	<key>batchParameterTail</key>
	<string>builderOfPhase</string>
	<key>binaryViaShape</key>
	<string>themeThroughProcess</string>
	<key>captionActionVisible</key>
	<string>pivotalCompletionTransparency</string>
	<key>difficultCacheSize</key>
	<string>allocatorOfPrototype</string>
	<key>futureCompositeType</key>
	<string>cubitAmongDecorator</string>
	<key>hashPerVar</key>
	<string>widgetThroughAdapter</string>
	<key>multiMethodDistance</key>
	<string>sizeAmongVariable</string>
	<key>sortedVectorRate</key>
	<string>constAnimationDepth</string>
</dict>
</plist>
