<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDurationTransparency</key>
	<string>spotWithChain</string>
	<key>bufferLevelInterval</key>
	<string>textTierDuration</string>
	<key>clipperTempleName</key>
	<string>profileContainOperation</string>
	<key>dependencyInsideDecorator</key>
	<string>featureDespiteSystem</string>
	<key>euclideanNavigationState</key>
	<string>exceptionOutsideMemento</string>
	<key>intuitiveObserverStatus</key>
	<string>servicePhaseSpeed</string>
	<key>popupSinceWork</key>
	<string>eventVarCoord</string>
	<key>rectWithoutVar</key>
	<string>effectContextCount</string>
	<key>uniqueAwaitName</key>
	<string>sampleThanMemento</string>
</dict>
</plist>
