<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFrameworkOrigin</key>
	<string>navigatorForCommand</string>
	<key>gridviewFormInset</key>
	<string>baselineStructureDuration</string>
	<key>queryOfCommand</key>
	<string>requestModeOrientation</string>
	<key>sizeDecoratorLocation</key>
	<string>desktopOperationDepth</string>
	<key>transitionSystemLeft</key>
	<string>mobileAllocatorCoord</string>
</dict>
</plist>
