<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewPatternShape</key>
	<string>cursorParameterOrientation</string>
	<key>nibObserverCoord</key>
	<string>asyncZonePressure</string>
	<key>nodeTierBorder</key>
	<string>grainAdapterDistance</string>
	<key>optionScopeName</key>
	<string>sessionChainShape</string>
	<key>projectionWithMethod</key>
	<string>adaptiveCardBehavior</string>
	<key>queueByMode</key>
	<string>binaryViaForm</string>
	<key>switchBufferResponse</key>
	<string>chartByProcess</string>
	<key>transitionAgainstTemple</key>
	<string>indicatorDuringMemento</string>
</dict>
</plist>
