<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAgainstTemple</key>
	<string>directlyRequestHue</string>
	<key>documentEnvironmentKind</key>
	<string>callbackTypeFlags</string>
	<key>modalFormOrientation</key>
	<string>lostLayoutTint</string>
	<key>subtleMonsterOrigin</key>
	<string>taskDespiteSystem</string>
	<key>webRequestOrigin</key>
	<string>inactivePlaybackTag</string>
</dict>
</plist>
