<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorChainDensity</key>
	<string>decorationSystemDuration</string>
	<key>animationLayerOrientation</key>
	<string>pageviewInCommand</string>
	<key>aspectPerPattern</key>
	<string>tweenContextHue</string>
	<key>disabledButtonSpacing</key>
	<string>cacheSystemEdge</string>
	<key>functionalLoopPosition</key>
	<string>customizedProjectionCenter</string>
	<key>gradientFrameworkEdge</key>
	<string>flexByParam</string>
	<key>inheritedUtilDensity</key>
	<string>asynchronousInterpolationLeft</string>
	<key>reducerActivityName</key>
	<string>constraintWithFramework</string>
	<key>transformerOrCommand</key>
	<string>decorationWithoutSingleton</string>
</dict>
</plist>
