<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerByActivity</key>
	<string>graphPerScope</string>
	<key>gemMementoTag</key>
	<string>factoryObserverOffset</string>
	<key>granularDependencyRate</key>
	<string>chartStageDirection</string>
	<key>materialClipperDensity</key>
	<string>menuWithPlatform</string>
	<key>spineContextBound</key>
	<string>radioFormBottom</string>
	<key>transformerCommandTransparency</key>
	<string>criticalCompositionValidation</string>
</dict>
</plist>
