<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerSinceSingleton</key>
	<string>explicitCompositionBorder</string>
	<key>cycleObserverOrigin</key>
	<string>parallelEntityShape</string>
	<key>factoryOfCommand</key>
	<string>metadataWorkDirection</string>
	<key>firstEventDensity</key>
	<string>toolOperationHead</string>
	<key>instructionProxyDistance</key>
	<string>localizationNumberVelocity</string>
	<key>interactorUntilPattern</key>
	<string>resourceInsideParam</string>
	<key>resolverLikeComposite</key>
	<string>tweenLevelOrigin</string>
	<key>sequentialTickerCenter</key>
	<string>nodeAlongObserver</string>
	<key>tweenNearTask</key>
	<string>providerMediatorColor</string>
</dict>
</plist>
