<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movementProcessSkewy</key>
	<string>frameObserverScale</string>
	<key>oldDescriptorSkewy</key>
	<string>desktopHashOpacity</string>
	<key>staticPainterDistance</key>
	<string>usedBulletTransparency</string>
	<key>tableForMediator</key>
	<string>intermediateGiftDelay</string>
</dict>
</plist>
