<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteFlexDepth</key>
	<string>permissiveCharacterInterval</string>
	<key>coordinatorDespiteFacade</key>
	<string>transformerMementoFeedback</string>
	<key>dependencyOfMediator</key>
	<string>inheritedCosineMode</string>
	<key>exponentStructureCenter</key>
	<string>listviewInWork</string>
	<key>popupAboutState</key>
	<string>timerMethodIndex</string>
	<key>resultVersusMediator</key>
	<string>smallClipperPressure</string>
	<key>similarTaskValidation</key>
	<string>requestCompositeOrientation</string>
	<key>textureOfProxy</key>
	<string>matrixInProcess</string>
	<key>uniqueChapterBorder</key>
	<string>chapterOutsideNumber</string>
	<key>workflowAtStyle</key>
	<string>injectionAgainstMode</string>
</dict>
</plist>
