<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAssetVelocity</key>
	<string>cartesianGraphTag</string>
	<key>controllerVisitorTheme</key>
	<string>numericalLocalizationMargin</string>
	<key>cycleProxyColor</key>
	<string>roleVersusFunction</string>
	<key>descriptionOperationHead</key>
	<string>granularPlateEdge</string>
	<key>repositoryTypeState</key>
	<string>usedNavigationLeft</string>
	<key>scrollFrameworkBottom</key>
	<string>substantialTransitionFormat</string>
</dict>
</plist>
