<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAsOperation</key>
	<string>normalThemeDelay</string>
	<key>discardedBoxshadowAcceleration</key>
	<string>sampleScopeScale</string>
	<key>firstEffectOrientation</key>
	<string>euclideanThreadKind</string>
	<key>getxFrameworkCenter</key>
	<string>webSizeColor</string>
	<key>graphicLikeMemento</key>
	<string>diffableSpineOffset</string>
	<key>gridviewLikeValue</key>
	<string>particleTaskHue</string>
	<key>sampleFrameworkIndex</key>
	<string>usecaseBufferCoord</string>
	<key>sizedboxUntilSingleton</key>
	<string>requestLevelCount</string>
	<key>stateJobKind</key>
	<string>similarDrawerInset</string>
	<key>subtleScaffoldInterval</key>
	<string>consumerAtVar</string>
</dict>
</plist>
