<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTaskAppearance</key>
	<string>dependencyStrategyColor</string>
	<key>flexVarOrientation</key>
	<string>cartesianBoxMomentum</string>
	<key>isolateSinceAdapter</key>
	<string>newestUsageInset</string>
	<key>mediaqueryAndNumber</key>
	<string>stackAtType</string>
	<key>mobileDecorationInterval</key>
	<string>grayscaleUntilNumber</string>
	<key>mutableRowFormat</key>
	<string>controllerAgainstTemple</string>
	<key>nibValueVisibility</key>
	<string>crudeOptionScale</string>
	<key>priorityStateBrightness</key>
	<string>declarativeBlocMode</string>
	<key>signAgainstSingleton</key>
	<string>mainMetadataCount</string>
</dict>
</plist>
