<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedWithParameter</key>
	<string>animationTypePadding</string>
	<key>intensitySinceStyle</key>
	<string>popupProcessBrightness</string>
	<key>layerViaComposite</key>
	<string>smallObserverRight</string>
	<key>promiseFromFlyweight</key>
	<string>customDependencyPosition</string>
	<key>requestBeyondFacade</key>
	<string>cardModeCoord</string>
	<key>robustRouterLocation</key>
	<string>textPerStyle</string>
	<key>rowKindSpeed</key>
	<string>radiusFormPressure</string>
	<key>stampMementoContrast</key>
	<string>constFuturePosition</string>
</dict>
</plist>
