<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowParameterDuration</key>
	<string>streamSingletonColor</string>
	<key>curveAdapterSpacing</key>
	<string>captionTaskBorder</string>
	<key>decorationOfVar</key>
	<string>captionValueForce</string>
	<key>heroInsideStructure</key>
	<string>gesturedetectorModePosition</string>
	<key>interactorExceptStyle</key>
	<string>semanticReductionVelocity</string>
	<key>logShapeBrightness</key>
	<string>activeBuilderStyle</string>
	<key>offsetProxyAcceleration</key>
	<string>navigatorBridgeSkewx</string>
	<key>permanentCapacitiesPressure</key>
	<string>threadUntilMode</string>
	<key>presenterVersusObserver</key>
	<string>textureAtType</string>
	<key>routeOperationOrientation</key>
	<string>sliderPlatformVelocity</string>
</dict>
</plist>
