<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationEnvironmentColor</key>
	<string>positionedSingletonCenter</string>
	<key>containerDespiteJob</key>
	<string>heroFormOpacity</string>
	<key>entropyMethodColor</key>
	<string>desktopExponentAcceleration</string>
	<key>globalVectorColor</key>
	<string>independentSingletonHue</string>
	<key>invisibleMasterDepth</key>
	<string>actionAndComposite</string>
	<key>listviewTempleAlignment</key>
	<string>usedLossVisibility</string>
	<key>presenterMediatorColor</key>
	<string>clipperAroundOperation</string>
	<key>projectionTierSpacing</key>
	<string>hashSystemContrast</string>
</dict>
</plist>
