<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedTernaryType</key>
	<string>tweenPatternMomentum</string>
	<key>effectByJob</key>
	<string>delegateEnvironmentRotation</string>
	<key>navigationAroundForm</key>
	<string>rectCompositeIndex</string>
	<key>notificationOutsideCommand</key>
	<string>sensorInsideSystem</string>
	<key>robustGridSpacing</key>
	<string>specifyTableIndex</string>
	<key>sceneAtFramework</key>
	<string>frameVisitorCenter</string>
	<key>vectorContainBridge</key>
	<string>completerNumberBound</string>
</dict>
</plist>
