<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMonsterSkewx</key>
	<string>modulusAwayState</string>
	<key>containerPhaseRight</key>
	<string>diffableScreenKind</string>
	<key>contractionTypeStatus</key>
	<string>firstUtilAlignment</string>
	<key>criticalSliderBound</key>
	<string>brushCycleLocation</string>
	<key>delicateZoneHue</key>
	<string>comprehensiveRequestShape</string>
	<key>directlyStorageFrequency</key>
	<string>entityByVariable</string>
	<key>geometricBaselineKind</key>
	<string>explicitExpandedVelocity</string>
	<key>normFrameworkVisibility</key>
	<string>effectLevelEdge</string>
	<key>semanticCatalystMargin</key>
	<string>baselineFormResponse</string>
	<key>singleDescriptorOpacity</key>
	<string>descriptionStageDepth</string>
</dict>
</plist>
