<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderWithChain</key>
	<string>nativeCustompaintIndex</string>
	<key>hardSignDensity</key>
	<string>tangentProxyHead</string>
	<key>painterMethodInterval</key>
	<string>resolverStageCount</string>
	<key>parallelConstraintSaturation</key>
	<string>nativeInjectionValidation</string>
</dict>
</plist>
