<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLevelBound</key>
	<string>factoryDespiteAction</string>
	<key>columnExceptNumber</key>
	<string>entityOutsideStyle</string>
	<key>currentCallbackPadding</key>
	<string>fixedBuilderSpeed</string>
	<key>handlerTierCount</key>
	<string>matrixStructureFrequency</string>
	<key>intermediateDependencyDelay</key>
	<string>customizedConfigurationRight</string>
	<key>lastInteractorRate</key>
	<string>activityFormSkewx</string>
	<key>loopParamVisible</key>
	<string>cursorPatternStyle</string>
	<key>navigatorCompositeMomentum</key>
	<string>vectorStateType</string>
	<key>toolAwayTier</key>
	<string>keyLabelMomentum</string>
	<key>topicStyleRight</key>
	<string>vectorByStrategy</string>
</dict>
</plist>
