<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridDespiteStyle</key>
	<string>offsetParamInteraction</string>
	<key>interactorByChain</key>
	<string>greatNormIndex</string>
	<key>particleSinceValue</key>
	<string>controllerStyleTop</string>
	<key>persistentPresenterCenter</key>
	<string>customizedConvolutionShade</string>
	<key>scaffoldOrStructure</key>
	<string>awaitLikeType</string>
</dict>
</plist>
