<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPatternOrigin</key>
	<string>slashOrEnvironment</string>
	<key>columnSingletonInterval</key>
	<string>multiGemBottom</string>
	<key>consumerInProxy</key>
	<string>lossAlongParam</string>
	<key>containerSingletonTail</key>
	<string>multiplicationTempleTheme</string>
	<key>cubitInFlyweight</key>
	<string>smartTickerSize</string>
	<key>cubitTempleRight</key>
	<string>managerPhaseShade</string>
	<key>difficultTextBehavior</key>
	<string>observerAgainstBridge</string>
	<key>instructionObserverCenter</key>
	<string>enabledInteractorRight</string>
	<key>presenterSystemPressure</key>
	<string>instructionNearFacade</string>
	<key>switchInsideStrategy</key>
	<string>completerLikeMediator</string>
</dict>
</plist>
