<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorThanFacade</key>
	<string>crudeResultBehavior</string>
	<key>completerAlongComposite</key>
	<string>channelAndPrototype</string>
	<key>decorationAroundSystem</key>
	<string>autoChannelType</string>
	<key>enabledSinkShape</key>
	<string>newestRadiusBottom</string>
	<key>largeSwitchDelay</key>
	<string>skirtVarLocation</string>
	<key>routerMementoSpacing</key>
	<string>tabviewAwaySystem</string>
	<key>statelessWithoutPlatform</key>
	<string>masterWithTask</string>
	<key>streamKindInset</key>
	<string>asyncMementoSkewy</string>
	<key>touchLikeAdapter</key>
	<string>keyBaseSpacing</string>
</dict>
</plist>
