<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBaselineName</key>
	<string>scrollableDocumentSpacing</string>
	<key>functionalStoreAppearance</key>
	<string>blocPlatformColor</string>
	<key>mobxDecoratorTension</key>
	<string>collectionMediatorInset</string>
	<key>parallelButtonOrientation</key>
	<string>apertureTierTheme</string>
	<key>storageFrameworkFeedback</key>
	<string>usecaseAdapterKind</string>
</dict>
</plist>
