<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAboutFunction</key>
	<string>draggableArithmeticRotation</string>
	<key>customizedProviderForce</key>
	<string>particleOutsideCycle</string>
	<key>eventVersusNumber</key>
	<string>resolverModeCoord</string>
	<key>geometricBlocRight</key>
	<string>equalizationCompositeDelay</string>
	<key>priorityTierTail</key>
	<string>adaptiveStorageTop</string>
	<key>resolverFromLevel</key>
	<string>handlerValueTension</string>
	<key>textDuringType</key>
	<string>specifyTouchCount</string>
</dict>
</plist>
