<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletParamInteraction</key>
	<string>vectorAwayMode</string>
	<key>collectionNearType</key>
	<string>cubitAdapterSkewx</string>
	<key>movementParamBottom</key>
	<string>discardedDescriptorSkewx</string>
	<key>pinchableNibTension</key>
	<string>statefulAboutFlyweight</string>
	<key>protocolMementoResponse</key>
	<string>roleThanEnvironment</string>
	<key>transformerFrameworkDelay</key>
	<string>presenterBeyondNumber</string>
</dict>
</plist>
