<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionThemeBottom</key>
	<string>crucialSingletonValidation</string>
	<key>cosineThroughEnvironment</key>
	<string>liteDropdownbuttonResponse</string>
	<key>criticalSemanticsType</key>
	<string>handlerStrategyState</string>
	<key>delegateWithoutFlyweight</key>
	<string>asyncEventInteraction</string>
	<key>textOrBuffer</key>
	<string>dynamicGateAcceleration</string>
</dict>
</plist>
