<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonResultFlags</key>
	<string>tappableAlignmentTransparency</string>
	<key>containerDecoratorSpacing</key>
	<string>delicatePopupDensity</string>
	<key>deferredIndicatorLeft</key>
	<string>keyLabelType</string>
	<key>imperativeAssetPosition</key>
	<string>rectAdapterHue</string>
	<key>materialAdapterResponse</key>
	<string>inactiveTexturePadding</string>
	<key>rowInChain</key>
	<string>mutableObserverSaturation</string>
	<key>seamlessServiceSkewy</key>
	<string>newestStateStatus</string>
	<key>secondBulletFeedback</key>
	<string>tabbarLayerStatus</string>
	<key>servicePerMode</key>
	<string>agileTickerVelocity</string>
	<key>symmetricTransitionColor</key>
	<string>bufferActionDepth</string>
</dict>
</plist>
