<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonViaLevel</key>
	<string>mediumEntityPosition</string>
	<key>chapterBesideFacade</key>
	<string>clipperAlongTier</string>
	<key>convolutionVariableVelocity</key>
	<string>tabviewAsMode</string>
	<key>coordinatorDespiteEnvironment</key>
	<string>giftOutsidePlatform</string>
	<key>disparateSizedboxShade</key>
	<string>currentMenuState</string>
	<key>extensionBesideMode</key>
	<string>eventModeOrientation</string>
	<key>layerForEnvironment</key>
	<string>serviceBufferCenter</string>
	<key>operationAtBridge</key>
	<string>progressbarAlongWork</string>
	<key>routeDecoratorTail</key>
	<string>typicalHashBehavior</string>
</dict>
</plist>
