<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationThanVisitor</key>
	<string>completionCommandContrast</string>
	<key>hyperbolicTabbarDensity</key>
	<string>immutableObserverHead</string>
	<key>localExceptionBound</key>
	<string>customBufferTint</string>
	<key>normalEqualizationTension</key>
	<string>routeDuringMediator</string>
	<key>opaquePopupLeft</key>
	<string>unaryLikeScope</string>
	<key>positionKindShape</key>
	<string>paddingAboutLevel</string>
	<key>sophisticatedViewFlags</key>
	<string>collectionParameterPadding</string>
	<key>storageLevelOrientation</key>
	<string>nextGestureFrequency</string>
	<key>themeBridgeIndex</key>
	<string>presenterFlyweightShade</string>
</dict>
</plist>
