<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDependencyPadding</key>
	<string>controllerScopeStyle</string>
	<key>entitySinceLevel</key>
	<string>sophisticatedBlocBottom</string>
	<key>ephemeralBulletRotation</key>
	<string>gateStrategyCoord</string>
	<key>giftAgainstStage</key>
	<string>drawerAroundLayer</string>
	<key>globalStreamDirection</key>
	<string>scaffoldOrPlatform</string>
	<key>handlerStyleOrientation</key>
	<string>streamViaMethod</string>
	<key>multiDelegateLocation</key>
	<string>richtextFromBuffer</string>
	<key>reactiveInstructionTag</key>
	<string>multiplicationTierOffset</string>
	<key>resizableDelegateBorder</key>
	<string>textureInVisitor</string>
</dict>
</plist>
