<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardGridPadding</key>
	<string>buttonBufferTheme</string>
	<key>criticalSubpixelDirection</key>
	<string>resilientTaskBehavior</string>
	<key>managerInterpreterRight</key>
	<string>musicNumberLeft</string>
	<key>sampleCycleTop</key>
	<string>euclideanSegueCenter</string>
	<key>synchronousCubeAcceleration</key>
	<string>capacitiesCommandEdge</string>
	<key>touchVariableRight</key>
	<string>nextAwaitStatus</string>
</dict>
</plist>
