<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterExceptMediator</key>
	<string>backwardNibContrast</string>
	<key>inactiveWidgetCenter</key>
	<string>taskPerCommand</string>
	<key>semanticStreamPadding</key>
	<string>mapEnvironmentRight</string>
	<key>tappableConfigurationCenter</key>
	<string>secondSinkDepth</string>
</dict>
</plist>
