<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionLevelSkewx</key>
	<string>declarativeMultiplicationSkewx</string>
	<key>binaryWithoutLayer</key>
	<string>elasticPopupFeedback</string>
	<key>exceptionBesideWork</key>
	<string>listenerStageDuration</string>
	<key>gradientObserverFormat</key>
	<string>factoryProcessType</string>
	<key>isolateAdapterAcceleration</key>
	<string>activeMethodBound</string>
	<key>optionAdapterHead</key>
	<string>mobileEnvironmentVisible</string>
	<key>particleNumberVelocity</key>
	<string>labelContextOpacity</string>
	<key>rapidBorderTransparency</key>
	<string>groupAndForm</string>
	<key>tabbarAwayProxy</key>
	<string>popupIncludeSingleton</string>
	<key>textfieldAroundStyle</key>
	<string>oldAxisStyle</string>
</dict>
</plist>
