<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoWithCommand</key>
	<string>durationTempleMode</string>
	<key>diffableHashPadding</key>
	<string>taskIncludeVar</string>
	<key>exceptionOutsideVariable</key>
	<string>custompaintIncludeLayer</string>
	<key>matrixPlatformTheme</key>
	<string>unsortedFramePressure</string>
	<key>staticEntropyEdge</key>
	<string>pivotalDocumentVisible</string>
	<key>switchValueInterval</key>
	<string>richtextModeSkewy</string>
</dict>
</plist>
