<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncExceptScope</key>
	<string>substantialContractionInset</string>
	<key>chapterVersusTemple</key>
	<string>baseContainTask</string>
	<key>taskParameterContrast</key>
	<string>adaptiveRequestMargin</string>
</dict>
</plist>
