<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterTaskDuration</key>
	<string>captionExceptShape</string>
	<key>custompaintPerScope</key>
	<string>crudeStateLeft</string>
	<key>immutableLoopPosition</key>
	<string>smartArithmeticKind</string>
	<key>isolateForLevel</key>
	<string>stateAdapterDelay</string>
	<key>popupAlongEnvironment</key>
	<string>crudeReferenceOpacity</string>
	<key>profileMethodBrightness</key>
	<string>toolParameterSkewy</string>
	<key>secondViewSkewx</key>
	<string>petContainSingleton</string>
	<key>signatureStrategyFormat</key>
	<string>equalizationDecoratorTheme</string>
	<key>spinePatternDensity</key>
	<string>convolutionInPattern</string>
	<key>unsortedMethodTension</key>
	<string>ternaryOutsideLevel</string>
</dict>
</plist>
