<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDuringPrototype</key>
	<string>spriteOfStructure</string>
	<key>coordinatorDecoratorKind</key>
	<string>crudeCycleValidation</string>
	<key>gridOrMemento</key>
	<string>mobileAsAction</string>
	<key>protectedThemeTail</key>
	<string>optimizerWithMediator</string>
</dict>
</plist>
