<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentThroughStrategy</key>
	<string>variantWithFunction</string>
	<key>channelCycleStatus</key>
	<string>diversifiedFactoryBehavior</string>
	<key>keyIntegerMomentum</key>
	<string>pinchableSizeColor</string>
	<key>movementVarTag</key>
	<string>rowAroundLayer</string>
	<key>providerFlyweightIndex</key>
	<string>bitrateUntilEnvironment</string>
	<key>staticProtocolFrequency</key>
	<string>desktopTextOrigin</string>
	<key>unaryFrameworkAcceleration</key>
	<string>cacheActionStyle</string>
</dict>
</plist>
