<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoErrorCount</key>
	<string>opaqueExceptionRate</string>
	<key>awaitTempleStyle</key>
	<string>completionMethodDuration</string>
	<key>completerThanFramework</key>
	<string>requestOperationBorder</string>
	<key>crudeZoneDistance</key>
	<string>documentStyleOffset</string>
	<key>managerAmongCycle</key>
	<string>descriptorIncludeMediator</string>
	<key>monsterAboutParam</key>
	<string>collectionInsideVisitor</string>
</dict>
</plist>
