<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartTypeCoord</key>
	<string>listenerBufferVisible</string>
	<key>consultativeSceneCount</key>
	<string>activatedMasterCenter</string>
	<key>futureBeyondObserver</key>
	<string>durationVersusKind</string>
	<key>momentumMediatorBottom</key>
	<string>futureOutsidePrototype</string>
	<key>unaryWithoutMemento</key>
	<string>durationShapeDepth</string>
</dict>
</plist>
