<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPerStructure</key>
	<string>logAroundAction</string>
	<key>buttonSinceVar</key>
	<string>builderFacadeFlags</string>
	<key>checklistNearFramework</key>
	<string>getxWithVar</string>
	<key>configurationPrototypeFormat</key>
	<string>captionBridgeSize</string>
	<key>firstFactoryColor</key>
	<string>metadataContainSingleton</string>
	<key>iterativeRowSpacing</key>
	<string>rowNearMode</string>
	<key>semanticLabelResponse</key>
	<string>spotTempleAppearance</string>
	<key>transitionExceptTemple</key>
	<string>gradientAmongTier</string>
</dict>
</plist>
