<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintLevelFeedback</key>
	<string>typicalThreadLeft</string>
	<key>effectExceptNumber</key>
	<string>functionalTopicKind</string>
	<key>iterativeEquipmentFeedback</key>
	<string>interfaceWorkSaturation</string>
	<key>labelStructureDuration</key>
	<string>delegateFromContext</string>
	<key>lazyPriorityScale</key>
	<string>metadataLevelInterval</string>
	<key>resizableMapBottom</key>
	<string>subsequentAnimationMargin</string>
	<key>techniqueNumberName</key>
	<string>missedCheckboxAppearance</string>
</dict>
</plist>
