<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRadioState</key>
	<string>monsterLayerSize</string>
	<key>geometricLossCount</key>
	<string>channelTierSkewx</string>
	<key>indicatorVariableFeedback</key>
	<string>relationalTickerShape</string>
	<key>pinchableAppbarBorder</key>
	<string>modelFormOrientation</string>
	<key>reactivePaddingShade</key>
	<string>gemDuringSingleton</string>
	<key>responseAmongCommand</key>
	<string>titleWithoutMediator</string>
	<key>stackAsTier</key>
	<string>gridviewDespiteBridge</string>
</dict>
</plist>
