<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteResourceOffset</key>
	<string>uniqueCursorBound</string>
	<key>coordinatorBufferAlignment</key>
	<string>catalystVariableSkewy</string>
	<key>diffableTimerHue</key>
	<string>screenProcessAppearance</string>
	<key>disparateParticleBorder</key>
	<string>activatedOperationPressure</string>
	<key>durationWithTier</key>
	<string>similarUsecaseState</string>
	<key>intensityLikeAdapter</key>
	<string>semanticGrainHue</string>
	<key>interactorDespiteKind</key>
	<string>substantialDocumentLeft</string>
	<key>rectSingletonBorder</key>
	<string>eagerScreenDirection</string>
	<key>sizedboxVisitorFormat</key>
	<string>grainBridgeMomentum</string>
	<key>streamIncludeStage</key>
	<string>layoutActionVisibility</string>
</dict>
</plist>
