<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalContainerMomentum</key>
	<string>groupWorkDensity</string>
	<key>interpolationSystemContrast</key>
	<string>serviceForParam</string>
	<key>intuitivePetMargin</key>
	<string>tensorUsecaseAppearance</string>
	<key>listviewPhaseTransparency</key>
	<string>boxTypeLeft</string>
	<key>nodeUntilFlyweight</key>
	<string>logarithmVisitorMode</string>
	<key>prevMusicAcceleration</key>
	<string>eagerDependencyRotation</string>
	<key>roleWithoutFlyweight</key>
	<string>storageCyclePadding</string>
	<key>semanticsFlyweightState</key>
	<string>navigatorByParam</string>
</dict>
</plist>
