<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateMethodDensity</key>
	<string>heapOutsideFramework</string>
	<key>cellForMode</key>
	<string>handlerOrMediator</string>
	<key>commandStateScale</key>
	<string>criticalReductionTop</string>
	<key>dimensionLevelEdge</key>
	<string>buttonVersusPrototype</string>
	<key>lossSystemAcceleration</key>
	<string>requiredObserverStyle</string>
	<key>memberTypeColor</key>
	<string>constraintActionHue</string>
	<key>nodeContextShape</key>
	<string>gestureDecoratorFlags</string>
	<key>sustainableProviderColor</key>
	<string>toolStyleBottom</string>
	<key>synchronousTitleCount</key>
	<string>basicPresenterState</string>
	<key>visibleProgressbarTail</key>
	<string>mobileApertureIndex</string>
</dict>
</plist>
