<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryModeColor</key>
	<string>gemParamVisibility</string>
	<key>concreteEffectBorder</key>
	<string>descriptionAroundVar</string>
	<key>configurationTierBrightness</key>
	<string>completerBridgeDirection</string>
	<key>difficultInterfaceHue</key>
	<string>scrollDecoratorRate</string>
	<key>factoryFunctionAcceleration</key>
	<string>tappableCheckboxCenter</string>
	<key>mainExpandedCoord</key>
	<string>oldResourceSize</string>
	<key>mainServiceCenter</key>
	<string>permanentServicePressure</string>
	<key>resultAsJob</key>
	<string>captionBufferPressure</string>
	<key>tableInterpreterDuration</key>
	<string>factoryParamOrigin</string>
	<key>textActivityHue</key>
	<string>diversifiedGridviewOffset</string>
</dict>
</plist>
