<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOrMode</key>
	<string>arithmeticSegueInteraction</string>
	<key>cupertinoProfileValidation</key>
	<string>shaderValueFlags</string>
	<key>directlyCellTag</key>
	<string>crucialPresenterTheme</string>
	<key>imperativeCompleterAppearance</key>
	<string>consumerEnvironmentTag</string>
	<key>lostCaptionBottom</key>
	<string>advancedMasterStatus</string>
	<key>missedDropdownbuttonDirection</key>
	<string>visibleStoryboardBound</string>
	<key>reductionAboutLevel</key>
	<string>paddingProcessTransparency</string>
	<key>reusableActivityPressure</key>
	<string>iterativeUtilCenter</string>
	<key>storeFlyweightInset</key>
	<string>zoneBesideFlyweight</string>
</dict>
</plist>
