<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVisitorRotation</key>
	<string>similarExpandedShape</string>
	<key>localLabelAlignment</key>
	<string>intuitiveManagerMargin</string>
	<key>menuForBuffer</key>
	<string>durationActionAlignment</string>
	<key>multiCubeBehavior</key>
	<string>statefulProcessFrequency</string>
	<key>uniformDependencyAlignment</key>
	<string>originalModelKind</string>
	<key>widgetAwayTemple</key>
	<string>storeStageRight</string>
</dict>
</plist>
