<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAssetCoord</key>
	<string>agileNavigatorOffset</string>
	<key>custompaintMementoSaturation</key>
	<string>grayscaleShapeOffset</string>
	<key>gramVisitorAlignment</key>
	<string>checklistContainVar</string>
	<key>indicatorPatternCenter</key>
	<string>aspectratioSingletonValidation</string>
	<key>protectedDropdownbuttonTransparency</key>
	<string>priorityFunctionType</string>
	<key>resourceObserverSpeed</key>
	<string>usageVarEdge</string>
	<key>subtleAnimationSkewy</key>
	<string>allocatorActivityForce</string>
</dict>
</plist>
