<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopPetCenter</key>
	<string>progressbarVariableTension</string>
	<key>discardedResolverName</key>
	<string>gridviewAboutStrategy</string>
	<key>euclideanIntensityVelocity</key>
	<string>textAgainstShape</string>
	<key>fragmentAboutObserver</key>
	<string>customizedCheckboxBehavior</string>
	<key>groupOrCycle</key>
	<string>customRouteEdge</string>
	<key>histogramOutsideShape</key>
	<string>intermediateTouchLeft</string>
	<key>sensorPhaseIndex</key>
	<string>cursorOutsideStyle</string>
</dict>
</plist>
