<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSystemBrightness</key>
	<string>aspectOperationDuration</string>
	<key>animatedcontainerChainHead</key>
	<string>assetPerComposite</string>
	<key>bitrateSinceBuffer</key>
	<string>constNavigationTop</string>
	<key>constraintFunctionTag</key>
	<string>rowAroundValue</string>
	<key>imageParamOrientation</key>
	<string>operationInInterpreter</string>
	<key>immediateInteractorVelocity</key>
	<string>profileKindLeft</string>
	<key>playbackLevelMomentum</key>
	<string>lazyStackCount</string>
	<key>signStructureOrigin</key>
	<string>deferredResultAcceleration</string>
	<key>tweenBesideBuffer</key>
	<string>popupChainInterval</string>
</dict>
</plist>
