<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStampShape</key>
	<string>collectionLevelOffset</string>
	<key>associatedSpriteOrigin</key>
	<string>frameByMemento</string>
	<key>delegateWithoutMode</key>
	<string>storeMementoPressure</string>
	<key>precisionStructureForce</key>
	<string>collectionVisitorBrightness</string>
	<key>repositoryFormPosition</key>
	<string>textureValueResponse</string>
	<key>sizedboxMethodShape</key>
	<string>prismaticMonsterRight</string>
	<key>storeChainRight</key>
	<string>uniqueProviderSpeed</string>
	<key>subpixelAsPattern</key>
	<string>normDuringChain</string>
</dict>
</plist>
