<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liteSliderRate</key>
	<string>durationWithoutJob</string>
	<key>radiusExceptContext</key>
	<string>roleAroundOperation</string>
	<key>relationalCompleterFormat</key>
	<string>custompaintFormBorder</string>
	<key>similarMobxInterval</key>
	<string>baselineForMethod</string>
	<key>visibleErrorLocation</key>
	<string>respectiveMemberSize</string>
</dict>
</plist>
