<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFrameworkAcceleration</key>
	<string>alertPerKind</string>
	<key>certificateOperationBorder</key>
	<string>completionOrTier</string>
	<key>entityBeyondVar</key>
	<string>stampFunctionSpeed</string>
	<key>histogramOrFunction</key>
	<string>entityLayerSpacing</string>
	<key>promisePhaseFlags</key>
	<string>composablePetIndex</string>
	<key>providerNearTier</key>
	<string>resolverIncludeOperation</string>
	<key>sophisticatedProviderDuration</key>
	<string>multiplicationStyleDistance</string>
	<key>streamParamBound</key>
	<string>pivotalBaseState</string>
	<key>usecasePrototypeSkewx</key>
	<string>optimizerAmongProcess</string>
</dict>
</plist>
