<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleWithoutPrototype</key>
	<string>utilPatternCount</string>
	<key>functionalOverlayRotation</key>
	<string>presenterShapeCoord</string>
	<key>independentScaleAlignment</key>
	<string>reductionStyleForce</string>
	<key>loopDespiteShape</key>
	<string>gesturedetectorAlongLevel</string>
	<key>repositoryLikeBuffer</key>
	<string>tensorBuilderVelocity</string>
	<key>semanticReductionDensity</key>
	<string>customizedInterpolationShade</string>
	<key>statefulAnimatedcontainerName</key>
	<string>specifierActionCenter</string>
</dict>
</plist>
