<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionThroughParam</key>
	<string>buttonCompositeStyle</string>
	<key>gramFunctionInterval</key>
	<string>lossPrototypeCenter</string>
	<key>interactiveMenuSpacing</key>
	<string>enabledProfileSkewx</string>
	<key>interactorOperationOrigin</key>
	<string>resizableDrawerLocation</string>
	<key>methodByEnvironment</key>
	<string>gramBeyondEnvironment</string>
	<key>tabviewSystemContrast</key>
	<string>immutableEffectResponse</string>
	<key>titleExceptMode</key>
	<string>basicTopicBrightness</string>
</dict>
</plist>
