<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileEqualizationOpacity</key>
	<string>interpolationChainPosition</string>
	<key>autoRiverpodDepth</key>
	<string>stateVariableTail</string>
	<key>cubitMementoCount</key>
	<string>coordinatorShapeMargin</string>
	<key>graphPlatformState</key>
	<string>materialNodeName</string>
	<key>lazyOptimizerCenter</key>
	<string>accessoryMediatorPosition</string>
	<key>priorBufferDirection</key>
	<string>rowTempleDistance</string>
	<key>signTempleOrientation</key>
	<string>methodThroughMediator</string>
	<key>stampExceptMode</key>
	<string>cartesianCaptionOrigin</string>
	<key>standaloneMonsterSaturation</key>
	<string>storageDuringBuffer</string>
</dict>
</plist>
