<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelOutsideForm</key>
	<string>cubitWithCommand</string>
	<key>chartVersusAction</key>
	<string>serviceTypeRate</string>
	<key>commandIncludeTask</key>
	<string>pageviewFormStyle</string>
	<key>curveIncludeBuffer</key>
	<string>difficultContainerPadding</string>
	<key>flexEnvironmentColor</key>
	<string>switchProxySkewx</string>
	<key>gradientCycleEdge</key>
	<string>rapidChannelVelocity</string>
	<key>menuAgainstCommand</key>
	<string>cursorDuringShape</string>
	<key>mobileActionFormat</key>
	<string>widgetThroughObserver</string>
	<key>resilientEventFlags</key>
	<string>robustLabelFlags</string>
	<key>sliderAlongProcess</key>
	<string>custompaintOrAction</string>
</dict>
</plist>
