<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventBesidePrototype</key>
	<string>routerThanForm</string>
	<key>firstDescriptionCount</key>
	<string>descriptionAdapterTension</string>
	<key>particleCycleCenter</key>
	<string>radiusValueHead</string>
	<key>sequentialPresenterState</key>
	<string>shaderPerEnvironment</string>
</dict>
</plist>
