<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWithoutBuffer</key>
	<string>explicitTextfieldSaturation</string>
	<key>effectAboutVar</key>
	<string>checkboxOperationTint</string>
	<key>materialInterpreterTail</key>
	<string>menuThanPlatform</string>
	<key>parallelCaptionShade</key>
	<string>grayscalePerLayer</string>
	<key>precisionFrameworkMargin</key>
	<string>paddingForState</string>
	<key>queueInChain</key>
	<string>popupWithFacade</string>
</dict>
</plist>
