<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentNearParameter</key>
	<string>iconNearParam</string>
	<key>gridviewAmongMode</key>
	<string>intensityKindLeft</string>
	<key>listenerNumberVisibility</key>
	<string>controllerCompositeDuration</string>
	<key>singleBlocTension</key>
	<string>robustRectVisible</string>
	<key>standaloneRoleDepth</key>
	<string>layoutFunctionPosition</string>
	<key>swiftSinceDecorator</key>
	<string>declarativeIntegerName</string>
	<key>taskForParameter</key>
	<string>singletonByMediator</string>
</dict>
</plist>
