<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonMementoSkewy</key>
	<string>fusedSliderFormat</string>
	<key>dropdownbuttonLevelAlignment</key>
	<string>normalIsolateBorder</string>
	<key>firstControllerContrast</key>
	<string>binaryChainInteraction</string>
	<key>graphThroughEnvironment</key>
	<string>sortedObserverForce</string>
	<key>mapParamPressure</key>
	<string>invisibleZoneMomentum</string>
	<key>overlayViaDecorator</key>
	<string>localAxisShape</string>
	<key>painterChainInterval</key>
	<string>frameAgainstBridge</string>
	<key>sliderBufferCoord</key>
	<string>directlyNavigatorTint</string>
	<key>statelessMarginVelocity</key>
	<string>inactiveDurationRight</string>
</dict>
</plist>
