<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSliderOpacity</key>
	<string>compositionActivityTransparency</string>
	<key>activeGiftMomentum</key>
	<string>eventPlatformPosition</string>
	<key>alertVersusTask</key>
	<string>reactiveMethodKind</string>
	<key>compositionalCallbackAppearance</key>
	<string>singletonParameterResponse</string>
	<key>containerAsMediator</key>
	<string>pinchableProviderDirection</string>
	<key>hyperbolicErrorShade</key>
	<string>storeAgainstChain</string>
	<key>materialProgressbarDensity</key>
	<string>listenerAwayTemple</string>
	<key>prevLabelName</key>
	<string>channelFormState</string>
	<key>sophisticatedPlateShape</key>
	<string>tensorHistogramBound</string>
	<key>tweenAwayCommand</key>
	<string>subtleNibFlags</string>
</dict>
</plist>
