<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTransitionSkewy</key>
	<string>uniformUnaryTag</string>
	<key>concreteRemainderBehavior</key>
	<string>commandValueCount</string>
	<key>diffableProgressbarCoord</key>
	<string>heroSingletonInset</string>
	<key>inheritedCompleterColor</key>
	<string>crudePromiseFrequency</string>
	<key>multiAlignmentVelocity</key>
	<string>enabledPrecisionColor</string>
	<key>routePerPhase</key>
	<string>cubitViaScope</string>
	<key>rowPerFlyweight</key>
	<string>assetFacadeDirection</string>
	<key>stampStageLeft</key>
	<string>builderDespiteJob</string>
</dict>
</plist>
