<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartActivityFlags</key>
	<string>interactorAdapterEdge</string>
	<key>immediateFutureRate</key>
	<string>secondZoneInset</string>
	<key>remainderOutsideType</key>
	<string>cubitStyleRotation</string>
	<key>stateLayerSpacing</key>
	<string>gramTempleBottom</string>
</dict>
</plist>
