<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFlexStyle</key>
	<string>ternaryOrMemento</string>
	<key>cacheProcessSkewy</key>
	<string>gramFunctionAlignment</string>
	<key>layerDuringDecorator</key>
	<string>descriptionInsideStyle</string>
	<key>taskExceptWork</key>
	<string>liteSubscriptionName</string>
	<key>typicalAccessoryIndex</key>
	<string>progressbarActivityContrast</string>
</dict>
</plist>
