<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAsTemple</key>
	<string>techniqueModeMode</string>
	<key>basicStoryboardDepth</key>
	<string>displayableWidgetType</string>
	<key>binaryAgainstForm</key>
	<string>iconOutsideProxy</string>
	<key>cosineStyleFlags</key>
	<string>coordinatorThanScope</string>
	<key>graphicAwaySystem</key>
	<string>coordinatorPrototypeScale</string>
	<key>hardTabbarTheme</key>
	<string>coordinatorMethodMomentum</string>
	<key>requestSincePlatform</key>
	<string>resolverPrototypeKind</string>
	<key>tensorAssetCenter</key>
	<string>normalOptimizerSkewx</string>
	<key>timerScopeFeedback</key>
	<string>eagerEntropyInteraction</string>
</dict>
</plist>
