<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activitySystemMode</key>
	<string>composableTangentRotation</string>
	<key>checkboxAtAdapter</key>
	<string>curveAboutEnvironment</string>
	<key>frameWithoutLevel</key>
	<string>mutableBulletOrigin</string>
	<key>fusedPopupTop</key>
	<string>fusedRadiusSaturation</string>
	<key>skirtTaskOrigin</key>
	<string>hyperbolicListviewShade</string>
	<key>stepAwayTier</key>
	<string>builderParameterFormat</string>
</dict>
</plist>
