<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDialogsPosition</key>
	<string>listviewByDecorator</string>
	<key>coordinatorAtPhase</key>
	<string>nextCallbackStatus</string>
	<key>crucialProjectFlags</key>
	<string>disabledServiceStyle</string>
	<key>projectDespitePattern</key>
	<string>textWithoutEnvironment</string>
	<key>spriteMethodFrequency</key>
	<string>providerMementoShape</string>
	<key>techniqueUntilValue</key>
	<string>geometricDescriptionAcceleration</string>
</dict>
</plist>
