<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStateDistance</key>
	<string>curveViaAdapter</string>
	<key>behaviorAroundActivity</key>
	<string>resultDuringProxy</string>
	<key>decorationPerLayer</key>
	<string>baseViaProxy</string>
	<key>featureKindInteraction</key>
	<string>graphicBeyondPattern</string>
	<key>imperativeTangentIndex</key>
	<string>denseTechniqueBehavior</string>
	<key>layoutLayerTail</key>
	<string>topicProcessContrast</string>
	<key>permanentFutureTheme</key>
	<string>resultTempleOpacity</string>
	<key>scrollableQueryDelay</key>
	<string>toolPhaseDepth</string>
	<key>secondTransitionOpacity</key>
	<string>delegateStrategyBrightness</string>
	<key>vectorActivityFrequency</key>
	<string>rowThroughVariable</string>
</dict>
</plist>
