<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleThroughKind</key>
	<string>rectActivityOffset</string>
	<key>columnPhaseBehavior</key>
	<string>missionObserverDirection</string>
	<key>intensityModeShade</key>
	<string>textureFunctionCenter</string>
	<key>transformerLikeTier</key>
	<string>notifierFrameworkKind</string>
</dict>
</plist>
