<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteTabviewCount</key>
	<string>asyncBehaviorResponse</string>
	<key>coordinatorSinceParam</key>
	<string>commandMethodEdge</string>
	<key>crudeQueueAppearance</key>
	<string>missionTempleLocation</string>
	<key>disabledBulletColor</key>
	<string>textureOrStyle</string>
	<key>responseViaParam</key>
	<string>textureBufferInteraction</string>
	<key>similarCheckboxOffset</key>
	<string>subsequentGramRate</string>
</dict>
</plist>
