<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitLikeJob</key>
	<string>chartFrameworkVisible</string>
	<key>currentArithmeticState</key>
	<string>sizedboxNearKind</string>
	<key>normStageDirection</key>
	<string>mainTopicShade</string>
	<key>relationalDelegatePadding</key>
	<string>resilientScrollTop</string>
	<key>resourceActivityBrightness</key>
	<string>tensorSceneSize</string>
	<key>rowSinceVar</key>
	<string>marginCycleShade</string>
	<key>rowStructureAlignment</key>
	<string>singletonTempleOrigin</string>
	<key>shaderMediatorStyle</key>
	<string>interactorStageShape</string>
	<key>similarLayoutPressure</key>
	<string>primaryMonsterTop</string>
	<key>specifyThreadMargin</key>
	<string>storageInsideMode</string>
</dict>
</plist>
