<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPrototypeDepth</key>
	<string>beginnerRequestSkewx</string>
	<key>capacitiesProcessSaturation</key>
	<string>hierarchicalProtocolDelay</string>
	<key>channelUntilTemple</key>
	<string>invisibleScaffoldFlags</string>
	<key>custompaintLayerShade</key>
	<string>notifierCommandCoord</string>
	<key>enabledButtonScale</key>
	<string>controllerSingletonColor</string>
	<key>queueNumberName</key>
	<string>materialSineKind</string>
	<key>scaleAsProxy</key>
	<string>commonStreamForce</string>
	<key>typicalServiceSpeed</key>
	<string>modelAwayPhase</string>
</dict>
</plist>
