<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTaskDistance</key>
	<string>accessoryDespiteActivity</string>
	<key>methodStructureType</key>
	<string>touchCycleCenter</string>
	<key>sizeFromBridge</key>
	<string>rectInsideTask</string>
</dict>
</plist>
