<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOutsideKind</key>
	<string>playbackByInterpreter</string>
	<key>chartAdapterEdge</key>
	<string>comprehensiveBinaryDelay</string>
	<key>containerViaMode</key>
	<string>cupertinoWorkBound</string>
	<key>desktopSingletonRate</key>
	<string>grayscaleVisitorFeedback</string>
	<key>directMethodInteraction</key>
	<string>commonCommandShade</string>
	<key>eagerTaskSpeed</key>
	<string>sessionVersusFacade</string>
	<key>functionalOverlayHue</key>
	<string>intensityExceptJob</string>
	<key>invisibleLocalizationAppearance</key>
	<string>textTierTransparency</string>
	<key>publicPositionDepth</key>
	<string>sophisticatedOptionRate</string>
	<key>vectorOutsideState</key>
	<string>lostToolCenter</string>
</dict>
</plist>
