<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationPatternCount</key>
	<string>asyncSystemDelay</string>
	<key>granularAssetDepth</key>
	<string>draggableLogMode</string>
	<key>routerObserverTension</key>
	<string>groupJobTransparency</string>
</dict>
</plist>
