<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAwayStrategy</key>
	<string>tweenBufferEdge</string>
	<key>channelContainLayer</key>
	<string>previewAtComposite</string>
	<key>eventOutsideFunction</key>
	<string>persistentTickerRight</string>
	<key>futureAsAdapter</key>
	<string>mediaqueryCompositeSize</string>
	<key>imperativeOverlayPosition</key>
	<string>queryTaskTag</string>
	<key>masterObserverAcceleration</key>
	<string>requestKindVelocity</string>
	<key>sustainableMediaqueryScale</key>
	<string>allocatorParamScale</string>
	<key>tappableFlexDistance</key>
	<string>alignmentStageFeedback</string>
</dict>
</plist>
