<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseEffectTail</key>
	<string>localFutureStatus</string>
	<key>logarithmAdapterRate</key>
	<string>signAndFramework</string>
	<key>multiplicationCycleTop</key>
	<string>priorEqualizationDelay</string>
	<key>projectAwayMethod</key>
	<string>promiseAwayComposite</string>
	<key>visibleRichtextVisible</key>
	<string>delicateExpandedDirection</string>
	<key>visibleTextfieldSpacing</key>
	<string>nativeAnimatedcontainerOffset</string>
</dict>
</plist>
