<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRemainderVisible</key>
	<string>sizeAtPrototype</string>
	<key>chartProxySize</key>
	<string>missionVersusForm</string>
	<key>durationAtComposite</key>
	<string>largeScreenSize</string>
	<key>gestureObserverTag</key>
	<string>immediateSingletonOrientation</string>
	<key>heapExceptCommand</key>
	<string>spriteInsidePhase</string>
	<key>independentAppbarTension</key>
	<string>offsetVersusNumber</string>
	<key>respectiveInterpolationDirection</key>
	<string>gramPlatformShade</string>
	<key>signatureInsideEnvironment</key>
	<string>accessibleInjectionContrast</string>
	<key>standaloneAnchorTint</key>
	<string>interpolationTierBorder</string>
	<key>webPositionedFlags</key>
	<string>ephemeralCompletionDepth</string>
</dict>
</plist>
