<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSwitchDelay</key>
	<string>requestTypeIndex</string>
	<key>capacitiesLevelShape</key>
	<string>memberLevelDelay</string>
	<key>comprehensiveExceptionMargin</key>
	<string>gestureFacadeHead</string>
	<key>skirtAndFlyweight</key>
	<string>dialogsNumberSpeed</string>
	<key>subscriptionEnvironmentDuration</key>
	<string>sortedAwaitRate</string>
</dict>
</plist>
