<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarNearStrategy</key>
	<string>transitionMethodTension</string>
	<key>isolateAroundVar</key>
	<string>precisionByType</string>
	<key>observerAwayLayer</key>
	<string>specifyTopicFlags</string>
	<key>resourceBeyondMethod</key>
	<string>dialogsNumberSkewx</string>
	<key>themeValueResponse</key>
	<string>drawerMethodCount</string>
</dict>
</plist>
