<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableGridviewShade</key>
	<string>behaviorAroundAction</string>
	<key>methodForFunction</key>
	<string>apertureCommandVisibility</string>
	<key>offsetFlyweightName</key>
	<string>channelForVar</string>
</dict>
</plist>
