<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGradientBehavior</key>
	<string>functionalRowInteraction</string>
	<key>customCharacterBorder</key>
	<string>canvasAwayJob</string>
	<key>eventAndEnvironment</key>
	<string>signatureThanSingleton</string>
	<key>flexibleChannelOrientation</key>
	<string>asyncAroundMediator</string>
	<key>mediaOrValue</key>
	<string>radiusInsideDecorator</string>
	<key>normalActivityVisibility</key>
	<string>resourceContainScope</string>
	<key>projectionDuringFacade</key>
	<string>viewCycleBottom</string>
	<key>streamByCycle</key>
	<string>skirtBufferEdge</string>
	<key>textureWithoutState</key>
	<string>dimensionVisitorResponse</string>
</dict>
</plist>
