<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineExceptStage</key>
	<string>subpixelIncludeLayer</string>
	<key>interfaceLayerHead</key>
	<string>routeNumberTag</string>
	<key>masterLikeValue</key>
	<string>eagerResourceBottom</string>
	<key>methodBesideOperation</key>
	<string>functionalRouteOffset</string>
	<key>rectForStyle</key>
	<string>singletonDuringMethod</string>
	<key>richtextEnvironmentVisibility</key>
	<string>awaitOrMethod</string>
	<key>symbolTaskStatus</key>
	<string>diversifiedViewStyle</string>
</dict>
</plist>
