<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedClipperSpacing</key>
	<string>greatRemainderRight</string>
	<key>cellBesideEnvironment</key>
	<string>intuitiveEffectRight</string>
	<key>opaqueUtilShade</key>
	<string>cycleDecoratorBehavior</string>
	<key>plateFormEdge</key>
	<string>durationPlatformFeedback</string>
	<key>prismaticBaseTheme</key>
	<string>storyboardDespiteParam</string>
	<key>resultPerPrototype</key>
	<string>protocolParamFlags</string>
	<key>sessionPerMethod</key>
	<string>globalOffsetSize</string>
</dict>
</plist>
