<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTempleVisibility</key>
	<string>interpolationWithTask</string>
	<key>capsuleAboutPattern</key>
	<string>offsetAgainstCycle</string>
	<key>draggableTextureTint</key>
	<string>cellWithVariable</string>
	<key>ephemeralEqualizationCoord</key>
	<string>offsetContextDistance</string>
	<key>previewVariableShade</key>
	<string>behaviorFunctionDirection</string>
	<key>resourceActivityPosition</key>
	<string>streamVarAcceleration</string>
	<key>respectiveControllerKind</key>
	<string>tweenAlongScope</string>
</dict>
</plist>
