<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAlongFacade</key>
	<string>streamThroughContext</string>
	<key>agileDrawerRate</key>
	<string>appbarFormTag</string>
	<key>backwardGemOpacity</key>
	<string>positionAboutValue</string>
	<key>dependencyDuringState</key>
	<string>asyncKindStyle</string>
	<key>inactiveNavigatorInteraction</key>
	<string>basicGrainAppearance</string>
	<key>variantForValue</key>
	<string>frameForTask</string>
</dict>
</plist>
