<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThroughFramework</key>
	<string>playbackInsideParam</string>
	<key>coordinatorChainDirection</key>
	<string>bulletWorkSize</string>
	<key>integerFrameworkSkewy</key>
	<string>challengeStructureOpacity</string>
</dict>
</plist>
