<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAlongStyle</key>
	<string>mediumRadioBorder</string>
	<key>mapAsFacade</key>
	<string>popupAtValue</string>
	<key>navigationEnvironmentSkewx</key>
	<string>animatedcontainerInsideLevel</string>
	<key>navigatorAroundStyle</key>
	<string>responsiveThreadShade</string>
	<key>nibFrameworkInset</key>
	<string>capacitiesThanVar</string>
	<key>primaryLocalizationMomentum</key>
	<string>nativeCaptionShade</string>
</dict>
</plist>
