<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateLayerBehavior</key>
	<string>cupertinoForEnvironment</string>
	<key>completionPerScope</key>
	<string>zoneSingletonMargin</string>
	<key>descriptionShapePadding</key>
	<string>baselineInterpreterTransparency</string>
	<key>injectionAndMediator</key>
	<string>futureLevelBorder</string>
	<key>intermediateSceneIndex</key>
	<string>comprehensiveAllocatorKind</string>
	<key>methodUntilShape</key>
	<string>immutableTextHue</string>
	<key>radioAwayKind</key>
	<string>spotCompositeDuration</string>
	<key>respectiveFutureInterval</key>
	<string>animationVarSpeed</string>
	<key>sortedVariantHue</key>
	<string>stepAndComposite</string>
	<key>uniqueSliderContrast</key>
	<string>navigatorFunctionBorder</string>
</dict>
</plist>
