<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaSystem</key>
	<string>matrixAlongFacade</string>
	<key>cartesianContainerColor</key>
	<string>parallelAlignmentMode</string>
	<key>controllerStagePosition</key>
	<string>matrixStateTail</string>
	<key>discardedTabviewDensity</key>
	<string>primaryContainerForce</string>
	<key>documentContextDelay</key>
	<string>titleAroundDecorator</string>
	<key>futureBeyondComposite</key>
	<string>spriteFacadeMode</string>
	<key>rowLevelColor</key>
	<string>capacitiesThroughMethod</string>
	<key>sortedCertificateValidation</key>
	<string>managerProcessSpeed</string>
	<key>usedQueryOpacity</key>
	<string>tabviewMementoInteraction</string>
	<key>utilInPlatform</key>
	<string>uniqueIndicatorVelocity</string>
</dict>
</plist>
