<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorProxyIndex</key>
	<string>skinModeVelocity</string>
	<key>buttonTypePadding</key>
	<string>awaitShapeBrightness</string>
	<key>resolverWorkInset</key>
	<string>buttonTierOpacity</string>
	<key>sequentialButtonFlags</key>
	<string>reductionTypeTail</string>
</dict>
</plist>
