<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerAgainstNumber</key>
	<string>intermediateSizedboxColor</string>
	<key>offsetUntilStrategy</key>
	<string>desktopUtilTransparency</string>
	<key>pinchableStateBorder</key>
	<string>navigatorInsidePhase</string>
	<key>rectStructureTension</key>
	<string>coordinatorAdapterSkewy</string>
</dict>
</plist>
