<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectContextAcceleration</key>
	<string>queueNumberTheme</string>
	<key>crucialAwaitScale</key>
	<string>catalystDuringJob</string>
	<key>ignoredCollectionDensity</key>
	<string>sampleBesideComposite</string>
	<key>multiGridviewAcceleration</key>
	<string>hardTickerTop</string>
	<key>tangentContainLevel</key>
	<string>semanticIntensityMomentum</string>
	<key>temporaryWorkflowBrightness</key>
	<string>timerStructureRotation</string>
</dict>
</plist>
