<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocThanFlyweight</key>
	<string>eventDuringChain</string>
	<key>compositionalRoleInteraction</key>
	<string>cubitInsideCycle</string>
	<key>easyDropdownbuttonFlags</key>
	<string>gateByProcess</string>
	<key>greatTitleRate</key>
	<string>dependencyAmongComposite</string>
</dict>
</plist>
