<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVersusLevel</key>
	<string>scrollableButtonForce</string>
	<key>flexTierTheme</key>
	<string>buttonThanNumber</string>
	<key>operationFunctionTag</key>
	<string>statefulForActivity</string>
	<key>pageviewNearContext</key>
	<string>resilientPopupScale</string>
	<key>respectiveAllocatorFeedback</key>
	<string>singleCaptionEdge</string>
	<key>singletonNearParameter</key>
	<string>inheritedGesturedetectorInset</string>
	<key>tabviewJobInterval</key>
	<string>geometricQueueVisibility</string>
	<key>viewMementoBrightness</key>
	<string>delegateModeCenter</string>
</dict>
</plist>
