<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWorkEdge</key>
	<string>capacitiesContextScale</string>
	<key>adaptiveKernelTint</key>
	<string>granularDurationMode</string>
	<key>delegateSingletonCount</key>
	<string>containerLikeSystem</string>
	<key>effectDespitePattern</key>
	<string>storageAroundMemento</string>
	<key>logAwayJob</key>
	<string>paddingPerMemento</string>
	<key>painterMethodInteraction</key>
	<string>concurrentLocalizationBrightness</string>
	<key>semanticResultSpeed</key>
	<string>diffableAssetFlags</string>
	<key>stateVarColor</key>
	<string>unsortedResultShape</string>
	<key>textSystemVisibility</key>
	<string>sessionBridgeInterval</string>
</dict>
</plist>
