<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFormLeft</key>
	<string>grayscaleVersusObserver</string>
	<key>buttonChainShape</key>
	<string>semanticsTypeHead</string>
	<key>canvasBeyondJob</key>
	<string>cubitThroughCycle</string>
	<key>radiusContextInset</key>
	<string>providerChainAlignment</string>
	<key>sequentialAsyncTension</key>
	<string>similarReducerTension</string>
</dict>
</plist>
