<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionCycleFormat</key>
	<string>newestReducerFormat</string>
	<key>composableStatelessSaturation</key>
	<string>criticalOffsetCenter</string>
	<key>coordinatorAdapterSpeed</key>
	<string>diffableUtilInteraction</string>
	<key>drawerParamVelocity</key>
	<string>oldTextAlignment</string>
	<key>isolateScopeType</key>
	<string>unaryProxyAppearance</string>
	<key>offsetBridgeTheme</key>
	<string>symbolEnvironmentState</string>
	<key>particleCycleDirection</key>
	<string>touchWorkHead</string>
	<key>pivotalVectorOffset</key>
	<string>secondChallengeAlignment</string>
	<key>rapidEqualizationFeedback</key>
	<string>featureThanStructure</string>
	<key>stampAmongFramework</key>
	<string>petTempleAppearance</string>
</dict>
</plist>
