<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarJobEdge</key>
	<string>layerNearFramework</string>
	<key>commandVersusEnvironment</key>
	<string>gradientLikeJob</string>
	<key>contractionViaCommand</key>
	<string>hardPetTail</string>
	<key>elasticStreamDensity</key>
	<string>coordinatorTypeBottom</string>
	<key>entropyFlyweightStyle</key>
	<string>scrollWithAdapter</string>
	<key>menuBeyondMode</key>
	<string>greatErrorTheme</string>
	<key>sliderAtFacade</key>
	<string>singleHeapPressure</string>
	<key>substantialAxisKind</key>
	<string>normalLogarithmFrequency</string>
</dict>
</plist>
