<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearTask</key>
	<string>ephemeralGesturedetectorContrast</string>
	<key>arithmeticAgainstParam</key>
	<string>currentSubscriptionVisibility</string>
	<key>observerDuringSystem</key>
	<string>logarithmStrategyDirection</string>
	<key>reducerVariableSaturation</key>
	<string>basicBaseTop</string>
	<key>specifyHandlerLeft</key>
	<string>storeDecoratorOrientation</string>
</dict>
</plist>
