<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveNearVar</key>
	<string>scrollInsideValue</string>
	<key>ephemeralTweenBottom</key>
	<string>customizedStorageColor</string>
	<key>granularStepHue</key>
	<string>dependencyFormContrast</string>
	<key>painterModePosition</key>
	<string>newestTernaryPressure</string>
	<key>pivotalNodeMode</key>
	<string>nibStateFeedback</string>
	<key>workflowBufferHue</key>
	<string>sustainableTransformerFeedback</string>
</dict>
</plist>
