<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectParameterTransparency</key>
	<string>standaloneWorkflowBehavior</string>
	<key>blocFlyweightPadding</key>
	<string>routeFunctionRotation</string>
	<key>concreteCaptionLeft</key>
	<string>requiredMarginBorder</string>
	<key>directlyClipperCoord</key>
	<string>fragmentWithoutEnvironment</string>
	<key>exponentOfValue</key>
	<string>logForMethod</string>
	<key>overlayCycleBound</key>
	<string>constProjectInset</string>
	<key>usedAppbarResponse</key>
	<string>activatedInjectionTension</string>
	<key>vectorVisitorState</key>
	<string>sessionUntilStrategy</string>
</dict>
</plist>
