<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeQueryAcceleration</key>
	<string>staticLoopDuration</string>
	<key>hyperbolicBitrateType</key>
	<string>sliderIncludeComposite</string>
	<key>interactivePreviewHue</key>
	<string>requiredGraphicAlignment</string>
	<key>interpolationFromPhase</key>
	<string>managerInsideLevel</string>
	<key>methodSinceTask</key>
	<string>sharedSingletonHue</string>
	<key>otherAwaitAppearance</key>
	<string>challengeAroundVar</string>
	<key>presenterPrototypeColor</key>
	<string>graphPlatformState</string>
	<key>resilientDurationDuration</key>
	<string>brushContainValue</string>
	<key>typicalListviewFlags</key>
	<string>staticNavigationDelay</string>
</dict>
</plist>
