<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedButtonDelay</key>
	<string>richtextAmongScope</string>
	<key>containerPerSingleton</key>
	<string>tensorMonsterTheme</string>
	<key>inactiveBaseOpacity</key>
	<string>cycleViaState</string>
	<key>masterDespiteWork</key>
	<string>advancedEntropyBehavior</string>
	<key>pinchableLayoutName</key>
	<string>durationCycleEdge</string>
	<key>prismaticResourceBorder</key>
	<string>crudeStampShade</string>
	<key>reactiveFactoryDepth</key>
	<string>convolutionShapeRate</string>
	<key>remainderCycleFormat</key>
	<string>frameInterpreterFormat</string>
	<key>responseContextCoord</key>
	<string>textUntilContext</string>
	<key>sliderVarMomentum</key>
	<string>slashSingletonTension</string>
</dict>
</plist>
