<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoChannelLocation</key>
	<string>sortedCommandAppearance</string>
	<key>cupertinoTextfieldOrientation</key>
	<string>ignoredRoleTension</string>
	<key>dimensionParamTag</key>
	<string>viewIncludeStrategy</string>
	<key>multiplicationWithActivity</key>
	<string>customDecorationSpeed</string>
	<key>routerForStage</key>
	<string>delegateInterpreterLocation</string>
	<key>temporaryManagerVisible</key>
	<string>materialLabelTail</string>
</dict>
</plist>
