<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaLevelResponse</key>
	<string>mainSpotForce</string>
	<key>aspectNearMode</key>
	<string>allocatorEnvironmentMomentum</string>
	<key>custompaintCycleInset</key>
	<string>transitionDespiteMediator</string>
	<key>elasticFutureTheme</key>
	<string>sinkBeyondFunction</string>
	<key>flexInObserver</key>
	<string>mainTransitionColor</string>
	<key>lostScreenDirection</key>
	<string>sessionWithKind</string>
	<key>normalGraphSkewy</key>
	<string>diversifiedPositionForce</string>
	<key>notificationWorkOpacity</key>
	<string>remainderInsideCommand</string>
	<key>persistentCycleRight</key>
	<string>particleScopeCoord</string>
</dict>
</plist>
