<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOrSingleton</key>
	<string>curvePlatformFormat</string>
	<key>curveWithoutFunction</key>
	<string>exponentAsShape</string>
	<key>dynamicAlignmentDensity</key>
	<string>nodeBridgeTheme</string>
	<key>listenerContainSingleton</key>
	<string>allocatorStyleRate</string>
	<key>secondTweenScale</key>
	<string>operationSystemVisible</string>
	<key>signSingletonKind</key>
	<string>spineTempleOrientation</string>
	<key>signSingletonTheme</key>
	<string>constraintIncludeStrategy</string>
	<key>tabbarKindIndex</key>
	<string>iterativeFutureCenter</string>
	<key>usedSizedboxValidation</key>
	<string>exponentTypeAppearance</string>
</dict>
</plist>
