<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardKindSkewx</key>
	<string>indicatorJobRight</string>
	<key>constraintModeResponse</key>
	<string>imperativeSwiftSpacing</string>
	<key>consumerViaStage</key>
	<string>dedicatedCoordinatorRotation</string>
	<key>observerChainIndex</key>
	<string>resolverInterpreterShape</string>
	<key>synchronousSignaturePressure</key>
	<string>beginnerBitrateSkewx</string>
	<key>unsortedPriorityAcceleration</key>
	<string>threadForLayer</string>
</dict>
</plist>
