<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVarTransparency</key>
	<string>normModeBehavior</string>
	<key>coordinatorDespiteForm</key>
	<string>loopModeOrigin</string>
	<key>disabledReducerName</key>
	<string>mobilePresenterVisibility</string>
	<key>injectionOperationSize</key>
	<string>groupContainFacade</string>
	<key>kernelTypeSaturation</key>
	<string>providerPhaseContrast</string>
	<key>localObserverDuration</key>
	<string>localizationBridgeVisibility</string>
	<key>monsterNearStage</key>
	<string>alphaStateMomentum</string>
	<key>nextProjectionMomentum</key>
	<string>timerOrObserver</string>
	<key>primaryEquipmentTension</key>
	<string>allocatorIncludeValue</string>
	<key>semanticContainerTag</key>
	<string>explicitRectBorder</string>
</dict>
</plist>
