<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseForTask</key>
	<string>hierarchicalFrameVisibility</string>
	<key>bufferVarCenter</key>
	<string>particleDespiteDecorator</string>
	<key>builderFrameworkRotation</key>
	<string>metadataFormBehavior</string>
	<key>injectionByFunction</key>
	<string>functionalCharacterBorder</string>
	<key>inkwellThanWork</key>
	<string>cursorWithVar</string>
	<key>marginInStrategy</key>
	<string>menuStyleDepth</string>
	<key>mutablePresenterAppearance</key>
	<string>robustInstructionBehavior</string>
	<key>nativeCompletionStyle</key>
	<string>normViaParameter</string>
	<key>notifierByCommand</key>
	<string>responsePhaseRotation</string>
	<key>vectorInterpreterStatus</key>
	<string>sortedButtonMode</string>
</dict>
</plist>
