<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationPerCommand</key>
	<string>alignmentParameterTop</string>
	<key>constraintFunctionTint</key>
	<string>canvasChainTag</string>
	<key>crudeDecorationSaturation</key>
	<string>behaviorTaskResponse</string>
	<key>flexContextInteraction</key>
	<string>customLoopTop</string>
	<key>listviewAdapterFrequency</key>
	<string>unactivatedNavigatorScale</string>
	<key>listviewUntilComposite</key>
	<string>mediumTaskDepth</string>
	<key>painterPatternRight</key>
	<string>constUtilSkewx</string>
	<key>popupVersusCommand</key>
	<string>singletonActionSpeed</string>
	<key>queueBesideMediator</key>
	<string>resolverAsCycle</string>
	<key>specifyConstraintVisible</key>
	<string>playbackAgainstObserver</string>
</dict>
</plist>
