<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAroundChain</key>
	<string>mobileSizeTag</string>
	<key>deferredMenuRight</key>
	<string>channelsAlongMethod</string>
	<key>fixedMatrixDensity</key>
	<string>resultPatternTop</string>
	<key>remainderContainAdapter</key>
	<string>buttonStructureRight</string>
	<key>routerFormIndex</key>
	<string>segueAsValue</string>
	<key>timerStageSaturation</key>
	<string>stepFlyweightCenter</string>
	<key>uniformOverlayOrientation</key>
	<string>statelessBaseMargin</string>
</dict>
</plist>
