<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeListenerVisibility</key>
	<string>usedExceptionBehavior</string>
	<key>advancedMenuCenter</key>
	<string>parallelQueryHue</string>
	<key>aspectBesideStyle</key>
	<string>imageAdapterAcceleration</string>
	<key>beginnerCallbackTheme</key>
	<string>streamAsFunction</string>
	<key>blocVisitorSaturation</key>
	<string>screenAlongFunction</string>
	<key>containerEnvironmentSaturation</key>
	<string>lostNavigatorTail</string>
	<key>delegateStateKind</key>
	<string>bitratePerDecorator</string>
	<key>singleAspectSkewy</key>
	<string>alphaNumberTheme</string>
	<key>storageInterpreterPadding</key>
	<string>offsetOutsideMode</string>
	<key>tickerAroundCommand</key>
	<string>sizedboxVersusStyle</string>
</dict>
</plist>
