<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOfKind</key>
	<string>arithmeticUnaryOrigin</string>
	<key>chapterValueKind</key>
	<string>techniqueContainProcess</string>
	<key>controllerFlyweightPadding</key>
	<string>subsequentSizeBound</string>
	<key>firstIntensityResponse</key>
	<string>accessibleInterpolationVelocity</string>
	<key>optimizerThroughInterpreter</key>
	<string>beginnerChapterCenter</string>
	<key>originalTimerName</key>
	<string>rowDespiteStructure</string>
	<key>queueSingletonDensity</key>
	<string>topicTierRight</string>
	<key>roleViaPrototype</key>
	<string>interpolationAmongVariable</string>
	<key>scenePrototypeAlignment</key>
	<string>offsetKindFeedback</string>
	<key>subpixelUntilFunction</key>
	<string>signInAdapter</string>
</dict>
</plist>
