<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryStrategyVelocity</key>
	<string>enabledTimerAlignment</string>
	<key>callbackFormSpacing</key>
	<string>touchDuringKind</string>
	<key>decorationValueShade</key>
	<string>reactiveOptionPadding</string>
	<key>frameCommandVisible</key>
	<string>cubitDuringStructure</string>
	<key>keyConvolutionForce</key>
	<string>extensionPlatformColor</string>
	<key>mainGesturedetectorHue</key>
	<string>accordionFutureVisible</string>
	<key>materialParameterStatus</key>
	<string>anchorValueDuration</string>
	<key>sessionAmongStrategy</key>
	<string>layerContextCoord</string>
	<key>spotInterpreterBottom</key>
	<string>transformerInDecorator</string>
</dict>
</plist>
