<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOrScope</key>
	<string>configurationDuringPattern</string>
	<key>currentSliderDelay</key>
	<string>uniqueActivityRate</string>
	<key>newestZoneDelay</key>
	<string>displayableSignatureName</string>
	<key>projectActivityState</key>
	<string>asyncEntropyAlignment</string>
	<key>radioPlatformKind</key>
	<string>sinkParameterTop</string>
	<key>scenePerFramework</key>
	<string>customizedMultiplicationInset</string>
	<key>segueModeLeft</key>
	<string>euclideanMenuType</string>
	<key>singletonOutsideLevel</key>
	<string>missionPrototypeResponse</string>
</dict>
</plist>
