<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistVersusValue</key>
	<string>threadFunctionFormat</string>
	<key>mobxSinceStage</key>
	<string>blocShapeScale</string>
	<key>resolverLikeLevel</key>
	<string>usageAroundForm</string>
	<key>taskValueInterval</key>
	<string>localBuilderAcceleration</string>
	<key>webDecorationTint</key>
	<string>exceptionCycleInset</string>
</dict>
</plist>
