<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentRouteShape</key>
	<string>pointFrameworkTop</string>
	<key>currentKernelInterval</key>
	<string>keyMissionFlags</string>
	<key>entropyBeyondContext</key>
	<string>publicSegmentFlags</string>
	<key>futureVarAcceleration</key>
	<string>storePrototypeDuration</string>
	<key>sizeStyleTop</key>
	<string>gridviewOrFramework</string>
	<key>skirtThroughShape</key>
	<string>asyncParamShade</string>
	<key>themeUntilValue</key>
	<string>utilCompositeCoord</string>
</dict>
</plist>
