<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPrecisionSaturation</key>
	<string>substantialMenuPadding</string>
	<key>decorationBufferEdge</key>
	<string>taskPrototypeColor</string>
	<key>gemAroundScope</key>
	<string>storeAboutPattern</string>
	<key>getxProcessFlags</key>
	<string>taskIncludeFlyweight</string>
	<key>gradientMethodOffset</key>
	<string>pageviewPhaseScale</string>
	<key>immutableSessionDuration</key>
	<string>mediumHeapMode</string>
	<key>petAroundInterpreter</key>
	<string>dialogsSinceWork</string>
	<key>resourceUntilTask</key>
	<string>imperativeAlertBorder</string>
	<key>significantGridviewTag</key>
	<string>projectPhaseTheme</string>
	<key>typicalOperationTop</key>
	<string>mediaStageLocation</string>
</dict>
</plist>
