<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByCommand</key>
	<string>textViaStyle</string>
	<key>controllerUntilInterpreter</key>
	<string>paddingOperationStyle</string>
	<key>crudeResponseTop</key>
	<string>discardedChartSaturation</string>
	<key>directlyGraphicOpacity</key>
	<string>navigatorBufferContrast</string>
	<key>easyOperationTag</key>
	<string>unaryPlatformCoord</string>
	<key>fixedGroupFlags</key>
	<string>stateNearMethod</string>
	<key>mediocreTweenDelay</key>
	<string>pivotalCoordinatorOrientation</string>
	<key>multiBufferInterval</key>
	<string>serviceIncludePrototype</string>
</dict>
</plist>
