<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProcessBottom</key>
	<string>apertureLikeFlyweight</string>
	<key>buttonSystemMomentum</key>
	<string>brushContextInset</string>
	<key>callbackAgainstVariable</key>
	<string>dependencyOutsideEnvironment</string>
	<key>geometricResponseVisibility</key>
	<string>standaloneGrayscaleCenter</string>
	<key>interactorActivityColor</key>
	<string>oldViewAcceleration</string>
	<key>interfaceFromVisitor</key>
	<string>actionPrototypeRotation</string>
	<key>notifierCommandTension</key>
	<string>mediaAgainstLayer</string>
	<key>primaryIntensityShade</key>
	<string>backwardCellSaturation</string>
	<key>slashStrategyShape</key>
	<string>gemWithMemento</string>
</dict>
</plist>
