<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationContextDelay</key>
	<string>crucialButtonInset</string>
	<key>asynchronousAssetTail</key>
	<string>elasticDecorationAppearance</string>
	<key>constraintAgainstPlatform</key>
	<string>sliderIncludeTier</string>
	<key>curveFlyweightRate</key>
	<string>stateStateDepth</string>
	<key>declarativeSensorOrigin</key>
	<string>subtleHeroStyle</string>
	<key>matrixPerStage</key>
	<string>draggableSinkMargin</string>
	<key>navigatorThanFlyweight</key>
	<string>scrollableTaskSize</string>
	<key>segueBeyondFramework</key>
	<string>difficultMasterFlags</string>
</dict>
</plist>
