<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardCosineRight</key>
	<string>normalSubpixelAlignment</string>
	<key>localPointName</key>
	<string>accessibleCurveAcceleration</string>
	<key>menuTempleTint</key>
	<string>sortedStoryboardName</string>
	<key>permanentSwitchValidation</key>
	<string>coordinatorModeMomentum</string>
	<key>specifierIncludeParameter</key>
	<string>certificateViaFunction</string>
	<key>topicBeyondDecorator</key>
	<string>slashInsideTemple</string>
</dict>
</plist>
