<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAwaitState</key>
	<string>largeCurveLeft</string>
	<key>disparateConstraintKind</key>
	<string>scaffoldFunctionTop</string>
	<key>eagerGestureResponse</key>
	<string>metadataDuringOperation</string>
	<key>expandedPatternDensity</key>
	<string>flexibleSegueOpacity</string>
	<key>loopAsPattern</key>
	<string>disabledConvolutionState</string>
	<key>previewFacadeSize</key>
	<string>firstBatchShape</string>
	<key>reusableIntensityLocation</key>
	<string>uniformGrainCoord</string>
	<key>staticQueueTransparency</key>
	<string>overlayLayerVisibility</string>
	<key>taskOutsideCommand</key>
	<string>gridTempleStatus</string>
	<key>typicalBlocForce</key>
	<string>specifyNotificationValidation</string>
</dict>
</plist>
