<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTaskTint</key>
	<string>switchVisitorStatus</string>
	<key>navigatorChainTop</key>
	<string>radioPerProcess</string>
	<key>previewLevelRight</key>
	<string>cellFromPrototype</string>
	<key>sensorAsCycle</key>
	<string>callbackAroundVariable</string>
	<key>skinAtValue</key>
	<string>fragmentForComposite</string>
	<key>sliderCommandScale</key>
	<string>interfaceAwayNumber</string>
	<key>sliderValueVelocity</key>
	<string>nativeDurationSaturation</string>
	<key>textContainAction</key>
	<string>widgetAgainstValue</string>
</dict>
</plist>
